{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
   <!-- Blank header with no service name for the start page -->
   <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui@5.0.2/dist/css/coreui.min.css" rel="stylesheet" integrity="sha384-39e9UaGkm/+yp6spIsVfzcs3j7ac7G2cg0hzmDvtG11pT1d7YMnOC26w4wMPhzsL" crossorigin="anonymous">
   <link
       rel="stylesheet"
       type="text/css"
       href="https://unpkg.com/@ukic/fonts/dist/fonts.css"
       crossorigin="anonymous"
     />
     <link
       rel="stylesheet"
       type="text/css"
       href="https://unpkg.com/@ukic/web-components/dist/core/core.css"
       crossorigin="anonymous"
     />
     <link
       rel="stylesheet"
       type="text/css"
       href="https://unpkg.com/@ukic/web-components/dist/core/normalize.css"
       crossorigin="anonymous"
     />
  {% from "internal-service-header/macro.njk" import dwpHeader %}

{{
    dwpHeader({
        serviceName: "Service name",
        serviceHref: '/index.html',
        container: true,
        navigation: {
          items: [
              {
                  href: "ef-start-v1",
                  text: "Case overview"
              },
              {
                  href: "ef-payment-breakdown-v1",
                  text: "Payment breakdown"
              }
          ]
      }  
    })
}}
{% from "key-details-bar/macro.njk" import dwpKeyDetailsBar %}

{{ 
    dwpKeyDetailsBar({
        primaryIdentifier: {
            text: 'Simon Smith:',
            value: 'Simon Smith'
        },
        secondaryIdentifier: {
            text: '1-2323454332:',
            value: '1-2323454332'
        },
        status: {
            text: 'Paying parent:',
            value: 'Paying parent'
        }
    })
}}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <span class="govuk-phase-banner__text">
         Showing data for <b>6 months.</b>
        </span>
      </p>
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Last 7 days
      </button>
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Last month
      </button>
      <button type="submit" disabled aria-disabled="true" class="govuk-button" data-module="govuk-button">
        Last 6 months
      </button>
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Last year
      </button>
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        All
      </button>
    </div>

    <h1 class="govuk-heading-xl">
      Case overview
    </h1>

  </div>
  

  <div class="govuk-grid-column-full">
    <div class="ef-card">
      <div class="dfe-title">
        <h2>What’s due</h2>
        <p>£23,608.50</p>
      </div>
      <article class="moj-ticket-panel" aria-label="Sub navigation 1">
        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
          <p class="govuk-body">Total OGM due</p>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£11,643.07</h2>
        </section>
        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
          <p class="govuk-body">Non-OGM due</p>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£11,965.43</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Collection charges</td>
                <th scope="row" class="govuk-table__header">£1,961.43</th>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Enforcement charges</td>
                <th scope="row" class="govuk-table__header">£300.00</th>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">CSA debt</td>
                <th scope="row" class="govuk-table__header">£9,704.00</th>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Any other costs</td>
                <th scope="row" class="govuk-table__header">£0.00</th>
              </tr>
            </tbody>
          </table>
        </section>
      </article>
      
    </div>
    <div class="ef-card">
      <div class="dfe-title">
        <h2>What's been paid</h2>
        <p>£2,826.60</p>
      </div>
      <article class="moj-ticket-panel" aria-label="Sub navigation 1">
        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
          <p class="govuk-body">Total OGM paid</p>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£2,100.00</h2>
        </section>
        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
          <p class="govuk-body">Non-OGM paid</p>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£726.60</h2>
        </section>
      </article>
    </div>
    
    <div class="ef-card">
      <div class="dfe-title">
        <h2>What's outstanding</h2>
        <p>£19,357.56</p>
      </div>
      <article class="moj-ticket-panel" aria-label="Sub navigation 1">
        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
          <p class="govuk-body">Total OGM outstanding</p>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£15,143.34</h2>
        </section>
        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
          <p class="govuk-body">Non-OGM outstanding</p>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£4,214.22</h2>
        </section>
      </article>
    </div>
  </div>
</div>





{% endblock %}
