{% extends "layouts/internal-service.html" %}

{# ////// VARIABLES  ////// #}
{% set todays_date = '26 Aug 2026' %}
{% set next_annual_review = '7 October 2026' %}
{# ////// END VARIABLES  ////// #}

{% block pageTitle %}
Finances – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/ukic-components-source.html" %}
  {% include "includes/dwp-internal-service-header.html"%}
{% endblock %}

{% block beforeContent %}
  {% include "includes/govuk-beta-banner" %}
  {% include "includes/vpf/dwp-quick-reference-multicase" %}

  <!-- /////// NAVIGATION PRIMARY /////// -->
  <div class="moj-primary-navigation">
    <div class="moj-primary-navigation__container">
      <div class="moj-primary-navigation__nav">
        <nav class="moj-primary-navigation" aria-label="Primary navigation">
          <ul class="moj-primary-navigation__list">
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="multicase-case">Cases ({{ financeSummary.activePayingCount }})</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="page" href="multicase-finances-multiline-tabs">Finances</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="multicase-statement">Statement</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="multicase-payment-allocation">Payment allocation</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="multicase-payment-plan">Payment
              plans</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="multicase-calculations">Calculations</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!-- /////////////////////////////////// -->
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      Finances
      </h1>

      {# /////////// TABS ////////////// #}

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
            Contents
          </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#total">
            Total
          </a>
          </li>
          {% for case in financeSummary.activePayingCases %}

              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#tab_{{ case.case_index }}">
                  {{ case.other_parent }}
                  {{ case.case_id }}
                </a>
              </li>

          {% endfor %}
        </ul>

        {# /////////// TAB PANELS ////////////// #}

        <div class="govuk-tabs__panel" id="total">
          <h2 class="govuk-heading-l">Total for {{ active_cases }} active cases</h2>
          <p>Effective from <strong>{{ allCases[0].effective_from }}</strong> to today. The next annual review will be on <strong>{{ next_annual_review }}</strong>.
          {% include "includes/vpf/finance-amounts--case-all" %}
        </div>

        {% for case in financeSummary.activePayingCases %}
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tab_{{ case.case_index }}">
              <h2 class="govuk-heading-l"><strong>{{ case.other_parent }}</strong>
                {% if case.service_type == 'Direct pay' %}
                  <strong class="govuk-tag govuk-tag--teal">{{ case.service_type }}</strong>
                {% elif case.service_type == 'Collect and pay' %}
                  <strong class="govuk-tag govuk-tag--red">{{ case.service_type }}</strong>
                {% endif %}
              </h2>
              <p>Case ID: <strong>{{ case.case_id }}</strong>. Effective from <strong>{{ case.effective_from }}</strong> to today.</p>
              {% include "includes/vpf/multicase-finance-receiving-parent" %}
            </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <style>
    .govuk-frontend-supported .govuk-tabs__list {
      padding-bottom: 5px;
      margin-bottom: 0;
      border-bottom: 0;
      border-bottom-color: var(--govuk-border-colour, #cecece);
    }

    .govuk-frontend-supported .govuk-tabs__list-item {
      position: relative;
      margin-right: 5px;
      margin-bottom: 0;
      margin-left: 0;
      padding: 10px 20px;
      float: left;
      background-color: #f3f3f3;
      text-align: center;
      margin-top: 5px;
    }
    .govuk-frontend-supported .govuk-tabs__list-item--selected {
      position: relative;
      margin-top: 0;
      margin-bottom: 0;
      padding: 10px 19px;
      border: 1px solid;
      border-bottom: 0;
      border-color: var(--govuk-border-colour, #cecece);
      background-color: var(--govuk-body-background-colour, #ffffff);
      border-top: 5px solid #0b0c0c;
    }
  </style>
{% endblock %}