{% extends "layouts/internal-service.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

      {% include "includes/back-link.html" %}
      <span class="govuk-caption-m govuk-!-margin-bottom-2">
        <a class='govuk-link' href='https://dwpdigital.atlassian.net/browse/SAE-1824'>SAE-1824</a>
      </span>
      <h1 class="govuk-heading-l">
          Design iteration based on UR round 21 triage for multicase
      </h1>

      <h2 class="govuk-heading-m">Changes:</h2>

      <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
        <li>
          All pages -- remove parent role tag from blue banner.
        </li>
        <li>
          Case page -- increase card differentiation between PP, RP and closed cases.
        </li>
        <li>
          Statement page -- remove RP breakdown rows and fix calculation amounts
        </li>
      </ul>
      <h2 class="govuk-heading-m">Pages:</h2>

      <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
        <li>
          <a href="multicase-case-1">
          Multicase -- case count in H1 inside brackets
        </a>
        </li>
        <li>
          <a href="multicase-case-2">
          Multicase -- case count under H1
        </a>
        </li>
        <li>
          <a href="multicase-case-dual-1">
          Multicase dual role -- case count in H1 inside brackets
        </a>
        <li>
          <a href="multicase-case-dual-2">
          Multicase dual role -- case count under H1
        </a>
        </li>
        <li>
          <a href="multicase-finances--with-breakdown">
          Finances -A- (case breakdown)
        </a>
        <li>
          <a href="multicase-finances">
          Finances -B- (case breakdown + single cases)
        </a>
        </li>
        <li>
          <a href="multicase-statement--all">
          Statement
        </a>
        </li>
      </ul>

      <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->
    </div>
  </div>

{% endblock %}