{% extends "layouts/internal-service.html" %}

{% block pageTitle %}
  Case – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/ukic-components-source.html" %}
  {% from "internal-service-header/macro.njk" import dwpHeader %}
  {% include "includes/dwp-internal-service-header" %}
{% endblock %}

{% block content %}
  {% include "includes/govuk-beta-banner" %}
  {% include "includes/vpf/dwp-quick-reference-single-manual" %}

  <div class="moj-primary-navigation">
    <div class="moj-primary-navigation__container">
      <div class="moj-primary-navigation__nav">
        <nav class="moj-primary-navigation" aria-label="Primary navigation">
          <ul class="moj-primary-navigation__list">
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="../ef-finances">Finances</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="../ef-statements">Statement</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="../ef-payment-allocation">Payment allocation</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="../ef-payment-plan">Payment plan</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="../ef-calculations">Calculations</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="../ef-case">Case</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "includes/back-link.html" %}

  <h1 class="govuk-heading-xl govuk-!-margin-top-2 govuk-!-margin-bottom-2">
    What makes up the payment
    </h1>
    <div class="govuk-grid-row">
      <!--<div class="govuk-grid-column-full">
        <p class="dateRange">
          <span class="govuk-!-font-size-24">
            From the case effective date <strong>23 August 2021</strong> to <strong>22 November 2024</strong>.
           </span>
         </p>
      </div>-->
 
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          £106.65 due 19 Feburary 2025
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key expectedTitle">
              Child maintenance
            </dt>
            <dd class="govuk-summary-list__value">
              £69.56
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key expectedTitle">
              Collection charges
            </dt>
            <dd class="govuk-summary-list__value">
              £13.97
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key expectedTitle">
              Unpaid child maintenance and charges
            </dt>
            <dd class="govuk-summary-list__value">
              £23.12
            </dd>
          </div> 
        </dl>
      </div>
    </div>
   

    
    
  </div>
</div>
{% endblock %}


