<!-- <section class="dwp-quick-reference dwp-quick-reference--alternative" aria-label="Case information">
  <dl class="dwp-quick-reference__block">
  <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
  <dd class="dwp-quick-reference__primary">Steven Oblonsky</dd>
  <dd class="dwp-quick-reference__status">
    <strong class="govuk-tag govuk-tag--blue">
      3 cases
    </strong>
  </dd>
  <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">Reference:</dt>
  <dd class="dwp-quick-reference__secondary">121323454232</dd>
  <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">NI number:</dt>
  <dd class="dwp-quick-reference__secondary">QQ123456C</dd>
  </dl>
  </section> -->

<section class="dwp-quick-reference dwp-quick-reference--alternative govuk-!-margin-top-0 govuk-!-margin-bottom-0" style="min-height: auto;"
  aria-label="Case information">
  <div>
    <p><span class="govuk-visually-hidden">Name:</span><span class="govuk-body govuk-!-font-size-27 govuk-!-font-weight-bold govuk-!-margin-right-2" style="color: #fff">Steven Oblonsky</span>
    <strong class="govuk-tag govuk-tag--turquoise">Paying parent</strong>
    <strong class="govuk-tag govuk-tag--light-blue">Multicase</strong></p>
  </div>
  <div>
    <p class="govuk-!-margin-bottom-0"><strong>Reference:</strong><span class="govuk-!-margin-right-4"> 121323454232</span><strong>NI number:</strong> <span class="govuk-!-font-weight-regular">QQ123456C</span></p>
  </div>
</section>