     <!-- Import web components from Secret Inteligence Service design systemt eg,back-to-top component. Read more at https://design.sis.gov.uk/get-started/development/install-components/web-components  -->

    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/@ukic/web-components/dist/core/core.css"
      crossorigin="anonymous"
    />

<header>
      <div class="dwp-header">
        <div class="govuk-header__container govuk-width-container">
          <div class="govuk-header__content">
            <a href="/index.html" class="govuk-header__link govuk-header__service-name">
              View parent finances
            </a>
          </div>
          <nav class="hmrc-sign-out-nav">
            <ul class="moj-header__navigation-list">
              <li class="moj-header__navigation-item">
                <a class="moj-header__navigation-link" href="ef-whats-new.html" aria-current="page"><span id="notifications" class="moj-notification-badge">1</span>
                  What’s new</a>
              </li>
              <li class="moj-header__navigation-item">
                <a class="moj-header__navigation-link" href="ef-about.html">About</a>
              </li>
            </ul>
          </nav>
    </div>
      </div>
    </header>