
<style>
/* // Quick reference component */

.dwp-quick-reference {
 min-height: 110px;
 border-bottom: 10px solid #1d70b8;
}

.dwp-quick-reference {
  min-height: 127px;
  margin: 0px;
  border-bottom: 10px solid #1d70b8;
}

.dwp-quick-reference--alternative {
  margin-left: -15px;
  padding: 15px 15px 5px;
  color: #ffffff;
  background: #1d70b8;
}

.dwp-quick-reference__primary {
  float:left;
  width: max-content;
  font-size: 1.6875rem;
  font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    margin: 0;
}

.dwp-quick-reference__status {
  padding: 8px 8px 8px 16px;
  display: flex;
}

.dwp-quick-reference__secondary {
  float: left;
  margin-right: 20px;
  margin-top: 10px;
}

.dwp-quick-reference__label {
  float:left;
  width: auto;
  margin-right: 5px;
  margin-top: 10px;
}

.govuk-tag {
  margin-right: 15px;
}

/* // Page heading */

h1.govuk-heading-xl {
  margin: 30px 0px 30px 0px;
}

/* // Page heading v2 */
h1.govuk-heading-xltwo {
  margin: 20px 0px 20px 0px;
  font-size: 48px;
        line-height: 1.33333;
        font-weight: 700;
}

</style>