{% extends "layouts/internal-service.html" %}

<!-- ////// PRESETS ///// -->
{% set number_of_cases = "4" %}
{% set selected_view = "2" %}
<!-- //////////////////// -->

{% block pageTitle %}
  Statement – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/ukic-components-source.html" %}
  {% from "internal-service-header/macro.njk" import dwpHeader %}

  <header>
    <div class="dwp-header govuk-header hmrc-header hmrc-header--with-additional-navigation " data-module="govuk-header">
      <div class="govuk-header__container govuk-width-container ">
        <div class="govuk-header__content">
          <a href="/index.html" class="govuk-header__link govuk-header__service-name">
            View parent finances
          </a>
        </div>
        <nav class="hmrc-sign-out-nav">
          <ul class="moj-header__navigation-list">
            <li class="moj-header__navigation-item">
              <a class="moj-header__navigation-link" href="ef-whats-new.html" aria-current="page"><span id="notifications" class="moj-notification-badge">1</span>
                What’s new</a>
            </li>
            <li class="moj-header__navigation-item">
              <a class="moj-header__navigation-link" href="ef-about.html">About</a>
            </li>
          </ul>
        </nav>
  </div>
    </div>
  </header>

{% endblock %}

{% block content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a target="_blank" class="govuk-link" href="https://forms.office.com/pages/responsepage.aspx?id=6fbxllcQF0GsKIDN_ob4w77Q_GYcDs9Jhep7t9aicRxUNE5IUE1BTE5TQjFNQUFJVUtGODhQSElFRi4u&route=shorturl">give your feedback (opens in new tab)</a>.
    </span>
  </p>
</div>

<section class="dwp-quick-reference dwp-quick-reference--alternative" aria-label="Case information">
  <dl class="dwp-quick-reference__block">
  <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
  <dd class="dwp-quick-reference__primary">Steven Oblonsky</dd>
  <dd class="dwp-quick-reference__status">
    <strong class="govuk-tag govuk-tag--turquoise">
      Paying parent
    </strong>
    <strong class="govuk-tag govuk-tag--yellow">
      Manual allocation
    </strong>
  </dd>
  <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">Reference:</dt>
  <dd class="dwp-quick-reference__secondary">121323454232</dd>
  <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">NI number:</dt>
  <dd class="dwp-quick-reference__secondary">QQ123456C</dd>
  </dl>
</section>

   <div class="moj-primary-navigation">
    <div class="moj-primary-navigation__container">
      <div class="moj-primary-navigation__nav">
        <nav class="moj-primary-navigation" aria-label="Primary navigation">
          <ul class="moj-primary-navigation__list">
          
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="../multicase-case">Cases ({{ number_of_cases
              }})</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="../multicase-finances--with-breakdown">Finances</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="../multicase-statement--all">Statement</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" aria-current="page" href="../multicase-payment-allocation">Payment
              allocation</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="../multicase-payment-plan">Payment
              plans</a>
          </li>
        </ul>
        </nav>
      </div>
    </div>
  </div>

<h1 class="govuk-heading-xl">
  Payment allocation
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="dateRange">
      <span class="govuk-!-font-size-24">
        Includes payment allocations from <strong>19 December 2022</strong> to <strong>19 June 2023</strong>.
       </span>
     </p>
     <details class="govuk-details" style="margin-bottom: 40px;">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Cash balance £34.38
        </span>
      </summary>
      <div class="govuk-details__text">
        Money paid that cannot be allocated to child maintenance or charges yet. 
      </div>
    </details>
  </div>

  

  <div class="govuk-grid-column-full">

          <div class="govuk-form-group">
      <label class="govuk-label" for="sort">
      Sort by
    </label>
    <select onchange="window.location.href=this.value;" class="govuk-select" id="sort" name="sort" style="
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    box-sizing: border-box;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    padding: 8px 10px 7px;
    border: 2px solid transparent;
    border-radius: 0;
    color: #ffffff;
    background-color: #00703c;
    box-shadow: 0 2px 0 rgb(0, 44.8, 24);
    text-align: center;">
    <option value="../multicase-payment-allocation.html" >21 Dec 2023 - 21 Jun 2024</option>
    <option value="20 Jun 2023.html">20 Jun 2023 - 20 Dec 2023</option>
    <option value="published" selected>19 Dec 2022 - 19 Jun 2023</option>
    <option value="18 Jun 2022.html">18 Jun 2022 - 18 Dec 2022</option>
    </select>
  </div>

<!-- <div class="moj-button-group moj-button-group--inline">
      <div class="moj-button-menu" data-module="moj-button-menu" data-button-text=" 19 Dec 2022 - 19 Jun 2023" data-button-classes="toggle-button">
        <a href="../ef-payment-allocation.html" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button" style="width: 260px;">
          21 Dec 2023 - 21 Jun 2024
        </a>
        <a href="20 Jun 2023.html" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button" style="width: 260px;">
          20 Jun 2023 - 20 Dec 2023
        </a>
        <a href="18 Jun 2022.html" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button" style="width: 260px;">
          18 Jun 2022 - 18 Dec 2022
        </a>
      </div>
    </div> -->

            <!-- 2023-->
    <h3 class="govuk-notification-banner__heading">
      2023
     </h3>
     <table class="govuk-table">
       <thead class="govuk-table__head">
         <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header">Date</th>
           <th scope="col" class="govuk-table__header">Description</th>
           <th scope="col" class="govuk-table__header numerical">Clearance days</th>
           <th scope="col" class="govuk-table__header statement_end">Amount (£)</th>
         </tr>
        </thead>


       <!-- NEW DATE ROW -->
       <tbody class="govuk-table__body" style="border-bottom: 1px solid #b1b4b6; border-top: 1px solid #b1b4b6;">
        <tr class="govuk-table__row">
          <td class="govuk-tableallocation__cell statement_date">19 Jun 2023</td>
          <td class="govuk-tableallocation__cell statement_description" style="font-weight: bold;">Payment received - SDO</td>
          <td class="govuk-tableallocation__cell statement_amount" style="text-align: center;">3</td>
          <td class="govuk-tableallocation__cell statement_end" style="font-weight: bold;">39.10</td>
        </tr>
        </tbody>
        <!-- END DATE ROW -->

                <!-- START ALLOCATION ROW -->
                <tbody class="govuk-table__body" style="border-bottom: 1px solid #b1b4b6;">
                <tr class="govuk-table__row">
                  <td class="govuk-tableallocation__cell statement_date">7 Jun 2023</td>
                  <td class="govuk-tableallocation__cell statement_description" style="font-weight: bold;">Payment allocation</td>
                  <td class="govuk-tableallocation__cell statement_amount"></td>
                  <td class="govuk-tableallocation__cell statement_end" style="font-weight: bold;">39.10</td>
                </tr>
                <tr class="govuk-table__row">
                 <td class="govuk-tableallocation__cell statement_date"></td>
                 <td class="govuk-tableallocation__cell statement_description">CMS administration costs</td>
                 <td class="govuk-tableallocation__cell statement_amount"></td>
                 <td class="govuk-tableallocation__cell statement_end">6.52</td>
               </tr>
            
               <tr class="govuk-table__row" style="width: 100px; padding-left: 200px; display: block;">
                 <td class="govuk-table__cell statement_description" style="border-bottom: none;">
                   <details class="govuk-details">
                       <summary class="govuk-details__summary" style="width: 760px;">
                         <span class="govuk-details__summary-text">Enforcement charges and costs</span>
                         <span class="govuk-details__summary-textend">32.58</span>
                     </summary>
                     <div class="govuk-details__text" style="width:760px;">
                       <div class="moj-scrollable-pane">
                         <table class="govuk-table">
                           <tbody class="govuk-table__body">
                               <tr class="govuk-table__row">
                                 <td class="govuk-table__cell">Regular deduction order</td>
                                 <td class="govuk-table__cell"></td>
                                 <td class="govuk-table__cellEnd">£10.00</td>
                               </tr>
                               <tr class="govuk-table__row">
                                 <td class="govuk-table__cell">Lump sum deduction order</td>
                                 <td class="govuk-table__cell"></td>
                                 <td class="govuk-table__cellEnd">£5.00</td>
                               </tr>
                               <tr class="govuk-table__row">
                                 <td class="govuk-table__cell">Liability order</td>
                                 <td class="govuk-table__cell"></td>
                                 <td class="govuk-table__cellEnd">£7.58</td>
                               </tr>
                               <tr class="govuk-table__row">
                                 <td class="govuk-table__cell">Deduction from earnings order or request</td>
                                 <td class="govuk-table__cell"></td>
                                 <td class="govuk-table__cellEnd">£10.00</td>
                               </tr>
                           </tbody>
                         </table>
                       </div>
                     </div>
                   </details>
                 </td>
               </tr>
       
              </tbody>
              <!-- END ALLOCATION ROW -->

         <!-- NEW DATE ROW -->
       <tbody class="govuk-table__body" style="border-bottom: 1px solid #b1b4b6; border-top: 1px solid #b1b4b6;">
        <tr class="govuk-table__row">
          <td class="govuk-tableallocation__cell statement_date">7 May 2023</td>
          <td class="govuk-tableallocation__cell statement_description" style="font-weight: bold;">Payment received - CHQ</td>
          <td class="govuk-tableallocation__cell statement_amount" style="text-align: center;">5</td>
          <td class="govuk-tableallocation__cell statement_end" style="font-weight: bold;">1,339.72</td>
        </tr>
        </tbody>
        <!-- END DATE ROW -->

         <!-- NEW DATE ROW -->
       <tbody class="govuk-table__body" style="border-bottom: 1px solid #b1b4b6; border-top: 1px solid #b1b4b6;">
        <tr class="govuk-table__row">
          <td class="govuk-tableallocation__cell statement_date">16 Apr 2023</td>
          <td class="govuk-tableallocation__cell statement_description" style="font-weight: bold;">Payment received - SDO</td>
          <td class="govuk-tableallocation__cell statement_amount" style="text-align: center;">3</td>
          <td class="govuk-tableallocation__cell statement_end" style="font-weight: bold;">39.93</td>
        </tr>
        </tbody>
        <!-- END DATE ROW -->

        <!-- START ALLOCATION ROW -->
        <tbody class="govuk-table__body" style="border-bottom: 1px solid #b1b4b6;">
        <tr class="govuk-table__row">
          <td class="govuk-tableallocation__cell statement_date">13 Mar 2023</td>
          <td class="govuk-tableallocation__cell statement_description" style="font-weight: bold;">Payment allocation</td>
          <td class="govuk-tableallocation__cell statement_amount"></td>
          <td class="govuk-tableallocation__cell statement_end" style="font-weight: bold;">39.10</td>
        </tr>
    
       <tr class="govuk-table__row" style="width: 100px; padding-left: 200px; display: block;">
         <td class="govuk-table__cell statement_description" style="border-bottom: none;">
           <details class="govuk-details">
               <summary class="govuk-details__summary" style="width: 760px;">
                 <span class="govuk-details__summary-text">Child maintenance</span>
                 <span class="govuk-details__summary-textend">32.57</span>
             </summary>
             <div class="govuk-details__text" style="width:760px;">
               <div class="moj-scrollable-pane">
                 <table class="govuk-table">
                   <tbody class="govuk-table__body">
                       <tr class="govuk-table__row">
                         <td class="govuk-table__cell" style="width: 480px;">Child maintenance (123456789101 - Daria Oblonskaya)</td>
                         <td class="govuk-table__cell"></td>
                         <td class="govuk-table__cellEnd">30.00</td>
                       </tr>
                       <tr class="govuk-table__row">
                         <td class="govuk-table__cell">Child maintenance arrears (123456789101 - Daria Oblonskaya)</td>
                         <td class="govuk-table__cell"></td>
                         <td class="govuk-table__cellEnd">2.57</td>
                       </tr>
                   </tbody>
                 </table>
               </div>
             </div>
           </details>
         </td>
       </tr>

       <tr class="govuk-table__row" style="width: 100px; padding-left: 200px; display: block;">
        <td class="govuk-table__cell statement_description" style="border-bottom: none;">
          <details class="govuk-details">
              <summary class="govuk-details__summary" style="width: 760px;">
                <span class="govuk-details__summary-text">Collection charges</span>
                <span class="govuk-details__summary-textend">6.53</span>
            </summary>
            <div class="govuk-details__text" style="width:760px;">
              <div class="moj-scrollable-pane">
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Collection charges</td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cellEnd">6.00</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Collection charges arrears</td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cellEnd">0.53</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </details>
        </td>
      </tr>

      </tbody>
      <!-- END ALLOCATION ROW -->

       <!-- NEW DATE ROW -->
       <tbody class="govuk-table__body" style="border-bottom: 1px solid #b1b4b6; border-top: 1px solid #b1b4b6;">
        <tr class="govuk-table__row">
          <td class="govuk-tableallocation__cell statement_date">17 Feb 2023</td>
          <td class="govuk-tableallocation__cell statement_description" style="font-weight: bold;">Payment received - SDO</td>
          <td class="govuk-tableallocation__cell statement_amount" style="text-align: center;">3</td>
          <td class="govuk-tableallocation__cell statement_end" style="font-weight: bold;">39.10</td>
        </tr>
        </tbody>
        <!-- END DATE ROW -->

          <!-- NEW DATE ROW -->
       <tbody class="govuk-table__body" style="border-bottom: 1px solid #b1b4b6; border-top: 1px solid #b1b4b6;">
        <tr class="govuk-table__row">
          <td class="govuk-tableallocation__cell statement_date">21 Jan 2023</td>
          <td class="govuk-tableallocation__cell statement_description" style="font-weight: bold;">Payment received - SDO</td>
          <td class="govuk-tableallocation__cell statement_amount" style="text-align: center;">3</td>
          <td class="govuk-tableallocation__cell statement_end" style="font-weight: bold;">39.93</td>
        </tr>
        </tbody>
        <!-- END DATE ROW -->

     </table>

    <!-- 2022-->
    <h3 class="govuk-notification-banner__heading" style="padding-top: 20px;">
      2022
     </h3>
     <table class="govuk-table">
       <thead class="govuk-table__head">
         <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header">Date</th>
           <th scope="col" class="govuk-table__header">Description</th>
           <th scope="col" class="govuk-table__header numerical">Clearance days</th>
           <th scope="col" class="govuk-table__header statement_end">Amount (£)</th>
         </tr>
       </thead>


        <!-- START ALLOCATION ROW -->
        <tbody class="govuk-table__body" style="border-bottom: 1px solid #b1b4b6;">
         <tr class="govuk-table__row">
           <td class="govuk-tableallocation__cell statement_date">19 Dec 2022</td>
           <td class="govuk-tableallocation__cell statement_description" style="font-weight: bold;">Payment allocation</td>
           <td class="govuk-tableallocation__cell statement_amount"></td>
           <td class="govuk-tableallocation__cell statement_end" style="font-weight: bold;">1,344.45</td>
         </tr>
         <tr class="govuk-table__row">
          <td class="govuk-tableallocation__cell statement_date"></td>
          <td class="govuk-tableallocation__cell statement_description">CMS administration costs</td>
          <td class="govuk-tableallocation__cell statement_amount"></td>
          <td class="govuk-tableallocation__cell statement_end">10.00</td>
        </tr>
     
        <tr class="govuk-table__row" style="width: 100px; padding-left: 200px; display: block;">
          <td class="govuk-table__cell statement_description" style="border-bottom: none;">
            <details class="govuk-details">
                <summary class="govuk-details__summary" style="width: 760px;">
                  <span class="govuk-details__summary-text">Child maintenance</span>
                  <span class="govuk-details__summary-textend">1034.45</span>
              </summary>
              <div class="govuk-details__text" style="width:760px;">
                <div class="moj-scrollable-pane">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell" style="width: 480px;">Child maintenance (123456789101 - Daria Oblonskaya)</td>
                          <td class="govuk-table__cellEnd">£400.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Child maintenance - liability order (123456789101 - Daria Oblonskaya)</td>
                          
                          <td class="govuk-table__cellEnd">£300.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Child maintenance - lump sum deduction order (123456789101 - Daria Oblonskaya)
                          </td>
                          <td class="govuk-table__cellEnd">£100.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Child maintenance arrears (123456789101 - Daria Oblonskaya)
                          </td>
                          <td class="govuk-table__cellEnd">£234.45</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </details>
          </td>
        </tr>

        <tr class="govuk-table__row" style="width: 100px; padding-left: 200px; display: block;">
          <td class="govuk-table__cell statement_description" style="border-bottom: none;"">
            <details class="govuk-details">
                <summary class="govuk-details__summary" style="width: 760px;">
                  <span class="govuk-details__summary-text">Collection charges</span>
                  <span class="govuk-details__summary-textend">100.00</span>
              </summary>
              <div class="govuk-details__text" style="width:760px;">
                <div class="moj-scrollable-pane">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Collection charges</td>
                          <td class="govuk-table__cellEnd">£30.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Collection charges - liability order</td>
                          <td class="govuk-table__cellEnd">£50.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Collection charges - lump sum deduction order</td>
                          <td class="govuk-table__cellEnd">£15.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Collection charges arrears </td>
                          <td class="govuk-table__cellEnd">£5.00</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </details>
          </td>
        </tr>

        <tr class="govuk-table__row" style="width: 100px; padding-left: 200px; display: block;">
          <td class="govuk-table__cell statement_description" style="border-bottom: none;"">
            <details class="govuk-details">
                <summary class="govuk-details__summary" style="width: 760px;">
                  <span class="govuk-details__summary-text">CSA debt</span>
                  <span class="govuk-details__summary-textend">200.00</span>
              </summary>
              <div class="govuk-details__text" style="width:760px;">
                <div class="moj-scrollable-pane">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell" style="width: 480px;">Child support agency - liability order (123456789101 - Daria Oblonskaya)</td>
                          <td class="govuk-table__cell"></td>
                          <td class="govuk-table__cellEnd">£100.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Child Support Agency - lump sum deduction order (123456789101 - Daria Oblonskaya)</td>
                          <td class="govuk-table__cell"></td>
                          <td class="govuk-table__cellEnd">£60.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Child Support Agency - secretary of state</td>
                          <td class="govuk-table__cell"></td>
                          <td class="govuk-table__cellEnd">£30.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Child Support Agency - (123456789101 - Daria Oblonskaya)</td>
                          <td class="govuk-table__cell"></td>
                          <td class="govuk-table__cellEnd">£10.00</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </details>
          </td>
        </tr>
       </tbody>
       <!-- END ALLOCATION ROW -->
     </table>


 


 
</div>
</div>

<ic-back-to-top target="main" style="margin-top: 80px;"></ic-back-to-top>
<script defer>
  import('https://unpkg.com/@ukic/web-components@3.1.0/loader').then((module) => {
    module.defineCustomElements();
  });
  // The ICDS has types available if your JavaScript framework allows for use with TypeScript
  // Below is an example of how to import an ICDS type
  // import type { IcAlignment } from 'https://unpkg.com/@ukic/web-components/';
</script>
{% endblock %}

{% block footer %}

<footer class="enforcement-footer" role="contentinfo">
  <div class="govuk-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <h2 class="govuk-visually-hidden">Footer links</h2>
            <ul class="govuk-footer__inline-list">
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="ef-accessibility.html">
                    Accessibility statement
                  </a>
                </li>
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="#">
                    Privacy policy
                  </a>
                </li>
            </ul>

      </div>
    </div>
  </div>
</footer>

<style>
  .govuk-footer {
    display: none;
  }
  .enforcement-footer {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.1428571429;
    padding-top: 25px;
    padding-bottom: 15px;
    border-top: 1px solid #b1b4b6;
    color: #0b0c0c;
    background: #f3f2f1;
  }
  @media (min-width: 40.0625em) {
    .enforcement-footer {
        padding-bottom: 25px;
    }
}
@media (min-width: 40.0625em) {
    .enforcement-footer {
        padding-top: 40px;
    }
}

@media (min-width: 40.0625em) {
    .enforcement-footer {
        font-size: 1rem;
        line-height: 1.25;
    }
}

.govuk-tableallocation__cell {
  padding: 10px 20px 10px 0;
  vertical-align: top;
}

.govuk-details {
  margin-bottom: 0px;
  width: auto;
}
.govuk-details__summary {
  position: relative;
  width: -webkit-fit-content;
  width: fit-content;
  padding-left: 0px;
  color: #1d70b8;
  cursor: pointer;
}
span.govuk-details__summary-textend{
  float: right;
}

.govuk-details__text {
  padding-top: 5px;
}
.govuk-table {
  margin-bottom: 0px;
}
.govuk-details__text {
  padding-bottom: 0px;
}

.govuk-table__cellEnd {
  padding: 10px 20px 10px 0;
  border-bottom: 1px solid #b1b4b6;
  text-align: right;
  vertical-align: top;
}
@supports not (-ms-ime-align: auto) {
  .govuk-details__summary-text::after {
  content: "";
  /* position: absolute; */
  top: -1px;
  bottom: 0;
  left: 0;
  margin-left: 15px;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  border-width: 7px 0 7px 12.124px;
  border-left-color: inherit;
  display: inline-block;
}
}
@supports not (-ms-ime-align: auto) {
  .govuk-details[open] > .govuk-details__summary-text::after {
  top: -1px;
  bottom: 0;
  left: 0;
  margin-left: 15px;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
  border-width: 7px 0 7px 12.124px;
  border-left-color: inherit;
  display: inline-block;
}
}

@supports not (-ms-ime-align: auto) {
  .govuk-details__summary-text {
      position: relative;
      width: -webkit-fit-content;
      width: fit-content;
      padding-left:0px;
      color: #1d70b8;
      cursor: pointer;
  }
}

@supports not (-ms-ime-align: auto) {
  .govuk-details[open] > .govuk-details__summary::before {
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
      clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
      border-width: 12.124px 7px 0 7px;
      border-top-color: inherit;
  }
}

.govuk-details__summary::before {
  display: none;
}

@supports not (-ms-ime-align: auto) {
  .govuk-details[open] > .govuk-details__summary::before {
    display: none;
  }
}
</style>


{% endblock %}



