{% extends "layouts/old-main.html" %}

{% block pageTitle %}
  Statement – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/ukic-components-source.html" %}
  {% include "includes/dwp-internal-service-header.html"%}

{% endblock %}

{% block content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a target="_blank" class="govuk-link" href="https://forms.office.com/pages/responsepage.aspx?id=6fbxllcQF0GsKIDN_ob4w77Q_GYcDs9Jhep7t9aicRxUNE5IUE1BTE5TQjFNQUFJVUtGODhQSElFRi4u&route=shorturl">give your feedback (opens in new tab)</a>.
    </span>
  </p>
</div>

<section class="dwp-quick-reference dwp-quick-reference--alternative" aria-label="Case information">
  <dl class="dwp-quick-reference__block">
  <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
  <dd class="dwp-quick-reference__primary">Steven Oblonsky</dd>
  <dd class="dwp-quick-reference__status">
    <strong class="govuk-tag govuk-tag--turquoise">
      Paying parent
    </strong>
    <strong class="govuk-tag govuk-tag--blue">
      Single case
    </strong>
    <strong class="govuk-tag govuk-tag--yellow">
      Manual allocation
    </strong>
  </dd>
  <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">Reference:</dt>
  <dd class="dwp-quick-reference__secondary">121323454232</dd>
  <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">NI number:</dt>
  <dd class="dwp-quick-reference__secondary">QQ123456C</dd>
  </dl>
</section>

   <div class="moj-primary-navigation">
    <div class="moj-primary-navigation__container">
      <div class="moj-primary-navigation__nav">
        <nav class="moj-primary-navigation" aria-label="Primary navigation">
          <ul class="moj-primary-navigation__list">
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-finances.html">Finances</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-statements.html">Statement</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="page" href="ef-payment-allocation.html">Payment allocation</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-payment-plan.html">Payment plan</a>
            </li>
            <!--<li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-calculations-1.html">Calculations</a>
            </li>-->
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="case">Case</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

<h1 class="govuk-heading-xl">
  Payment allocation
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="dateRange">
      <span class="govuk-!-font-size-24">
        Includes payment allocations from <strong>18 June 2022</strong> to <strong>18 Dec 2022</strong>.
       </span>
     </p>
     <details class="govuk-details" style="margin-bottom: 40px;">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Cash balance £34.38
        </span>
      </summary>
      <div class="govuk-details__text">
        Money paid that cannot be allocated to child maintenance or charges yet. 
      </div>
    </details>
  </div>

  

  <div class="govuk-grid-column-full">

              <div class="govuk-form-group">
      <label class="govuk-label" for="sort">
      Sort by
    </label>
    <select onchange="window.location.href=this.value;" class="govuk-select" id="sort" name="sort" style="
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    box-sizing: border-box;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    padding: 8px 10px 7px;
    border: 2px solid transparent;
    border-radius: 0;
    color: #ffffff;
    background-color: #00703c;
    box-shadow: 0 2px 0 rgb(0, 44.8, 24);
    text-align: center;">
    <option value="../ef-payment-allocation.html" >21 Dec 2023 - 21 Jun 2024</option>
    <option value="20 Jun 2023.html">20 Jun 2023 - 20 Dec 2023</option>
    <option value="19 Dec 2022.html">19 Dec 2022 - 19 Jun 2023</option>
    <option value="published" selected>18 Jun 2022 - 18 Dec 2022</option>
    </select>
  </div>

   <!-- <div class="moj-button-group moj-button-group--inline">
      <div class="moj-button-menu" data-module="moj-button-menu" data-button-text="18 Jun 2022 - 18 Dec 2022" data-button-classes="toggle-button">
        <a href="../ef-payment-allocation.html" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button" style="width: 260px;">
          21 Dec 2023 - 21 Jun 2024
        </a>
        <a href="20 Jun 2023.html" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button" style="width: 260px;">
          20 Jun 2023 - 20 Dec 2023
        </a>
        <a href="19 Dec 2022.html" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button" style="width: 260px;">
          19 Dec 2022 - 19 Jun 2023
        </a>
      
      </div>
    </div>-->

    <!-- 2022-->
    <h3 class="govuk-notification-banner__heading">
      2022
     </h3>
     <table class="govuk-table">
       <thead class="govuk-table__head">
         <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header">Date</th>
           <th scope="col" class="govuk-table__header">Description</th>
           <th scope="col" class="govuk-table__header numerical">Clearance days</th>
           <th scope="col" class="govuk-table__header statement_end">Amount (£)</th>
         </tr>
       </thead>


        <!-- START ALLOCATION ROW -->
        <tbody class="govuk-table__body" style="border-bottom: 1px solid #b1b4b6;"></tbody>
         <tr class="govuk-table__row">
           <td class="govuk-tableallocation__cell statement_date">18 Dec 2022</td>
           <td class="govuk-tableallocation__cell statement_description" style="font-weight: bold;">Payment allocation</td>
           <td class="govuk-tableallocation__cell statement_amount"></td>
           <td class="govuk-tableallocation__cell statement_end" style="font-weight: bold;">1,344.45</td>
         </tr>
         <tr class="govuk-table__row">
          <td class="govuk-tableallocation__cell statement_date"></td>
          <td class="govuk-tableallocation__cell statement_description">CMS administration costs</td>
          <td class="govuk-tableallocation__cell statement_amount"></td>
          <td class="govuk-tableallocation__cell statement_end">10.00</td>
        </tr>
     
        <tr class="govuk-table__row" style="width: 100px; padding-left: 200px; display: block;">
          <td class="govuk-table__cell statement_description" style="border-bottom: none;">
            <details class="govuk-details">
                <summary class="govuk-details__summary" style="width: 760px;">
                  <span class="govuk-details__summary-text">Child maintenance</span>
                  <span class="govuk-details__summary-textend">1034.45</span>
              </summary>
              <div class="govuk-details__text" style="width:760px;">
                <div class="moj-scrollable-pane">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell" style="width: 480px;">Child maintenance (123456789101 - Daria Oblonskaya)</td>
                          <td class="govuk-table__cellEnd">£400.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Child maintenance - liability order (123456789101 - Daria Oblonskaya)</td>
                          
                          <td class="govuk-table__cellEnd">£300.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Child maintenance - lump sum deduction order (123456789101 - Daria Oblonskaya)
                          </td>
                          <td class="govuk-table__cellEnd">£100.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Child maintenance arrears (123456789101 - Daria Oblonskaya)
                          </td>
                          <td class="govuk-table__cellEnd">£234.45</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </details>
          </td>
        </tr>

        <tr class="govuk-table__row" style="width: 100px; padding-left: 200px; display: block;">
          <td class="govuk-table__cell statement_description" style="border-bottom: none;"">
            <details class="govuk-details">
                <summary class="govuk-details__summary" style="width: 760px;">
                  <span class="govuk-details__summary-text">Collection charges</span>
                  <span class="govuk-details__summary-textend">100.00</span>
              </summary>
              <div class="govuk-details__text" style="width:760px;">
                <div class="moj-scrollable-pane">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Collection charges</td>
                          <td class="govuk-table__cellEnd">£30.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Collection charges - liability order</td>
                          <td class="govuk-table__cellEnd">£50.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Collection charges - lump sum deduction order</td>
                          <td class="govuk-table__cellEnd">£15.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Collection charges arrears </td>
                          <td class="govuk-table__cellEnd">£5.00</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </details>
          </td>
        </tr>

        <tr class="govuk-table__row" style="width: 100px; padding-left: 200px; display: block;">
          <td class="govuk-table__cell statement_description" style="border-bottom: none;"">
            <details class="govuk-details">
                <summary class="govuk-details__summary" style="width: 760px;">
                  <span class="govuk-details__summary-text">CSA debt</span>
                  <span class="govuk-details__summary-textend">200.00</span>
              </summary>
              <div class="govuk-details__text" style="width:760px;">
                <div class="moj-scrollable-pane">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell" style="width: 480px;">Child support agency - liability order (123456789101 - Daria Oblonskaya)</td>
                          <td class="govuk-table__cell"></td>
                          <td class="govuk-table__cellEnd">£100.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Child Support Agency - lump sum deduction order (123456789101 - Daria Oblonskaya)</td>
                          <td class="govuk-table__cell"></td>
                          <td class="govuk-table__cellEnd">£60.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Child Support Agency - secretary of state</td>
                          <td class="govuk-table__cell"></td>
                          <td class="govuk-table__cellEnd">£30.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Child Support Agency - (123456789101 - Daria Oblonskaya)</td>
                          <td class="govuk-table__cell"></td>
                          <td class="govuk-table__cellEnd">£10.00</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </details>
          </td>
        </tr>
       </tbody>
       <!-- END ALLOCATION ROW -->


       <!-- NEW DATE ROW -->
       <tbody class="govuk-table__body" style="border-bottom: 1px solid #b1b4b6; border-top: 1px solid #b1b4b6;">
        <tr class="govuk-table__row">
          <td class="govuk-tableallocation__cell statement_date">7 Nov 2022</td>
          <td class="govuk-tableallocation__cell statement_description" style="font-weight: bold;">Payment received - SDO</td>
          <td class="govuk-tableallocation__cell statement_amount" style="text-align: center;">3</td>
          <td class="govuk-tableallocation__cell statement_end" style="font-weight: bold;">39.10</td>
        </tr>
        </tbody>
        <!-- END DATE ROW -->

                <!-- START ALLOCATION ROW -->
                <tbody class="govuk-table__body" style="border-bottom: 1px solid #b1b4b6;"></tbody>
                <tr class="govuk-table__row">
                  <td class="govuk-tableallocation__cell statement_date">14 Oct 2022</td>
                  <td class="govuk-tableallocation__cell statement_description" style="font-weight: bold;">Payment allocation</td>
                  <td class="govuk-tableallocation__cell statement_amount"></td>
                  <td class="govuk-tableallocation__cell statement_end" style="font-weight: bold;">39.10</td>
                </tr>
                <tr class="govuk-table__row">
                 <td class="govuk-tableallocation__cell statement_date"></td>
                 <td class="govuk-tableallocation__cell statement_description">CMS administration costs</td>
                 <td class="govuk-tableallocation__cell statement_amount"></td>
                 <td class="govuk-tableallocation__cell statement_end">6.52</td>
               </tr>
            
               <tr class="govuk-table__row" style="width: 100px; padding-left: 200px; display: block;">
                 <td class="govuk-table__cell statement_description" style="border-bottom: none;">
                   <details class="govuk-details">
                       <summary class="govuk-details__summary" style="width: 760px;">
                         <span class="govuk-details__summary-text">Enforcement charges and costs</span>
                         <span class="govuk-details__summary-textend">32.58</span>
                     </summary>
                     <div class="govuk-details__text" style="width:760px;">
                       <div class="moj-scrollable-pane">
                         <table class="govuk-table">
                           <tbody class="govuk-table__body">
                               <tr class="govuk-table__row">
                                 <td class="govuk-table__cell">Regular deduction order</td>
                                 <td class="govuk-table__cell"></td>
                                 <td class="govuk-table__cellEnd">£10.00</td>
                               </tr>
                               <tr class="govuk-table__row">
                                 <td class="govuk-table__cell">Lump sum deduction order</td>
                                 <td class="govuk-table__cell"></td>
                                 <td class="govuk-table__cellEnd">£5.00</td>
                               </tr>
                               <tr class="govuk-table__row">
                                 <td class="govuk-table__cell">Liability order</td>
                                 <td class="govuk-table__cell"></td>
                                 <td class="govuk-table__cellEnd">£7.58</td>
                               </tr>
                               <tr class="govuk-table__row">
                                 <td class="govuk-table__cell">Deduction from earnings order or request</td>
                                 <td class="govuk-table__cell"></td>
                                 <td class="govuk-table__cellEnd">£10.00</td>
                               </tr>
                           </tbody>
                         </table>
                       </div>
                     </div>
                   </details>
                 </td>
               </tr>
       
              </tbody>
              <!-- END ALLOCATION ROW -->

         <!-- NEW DATE ROW -->
       <tbody class="govuk-table__body" style="border-bottom: 1px solid #b1b4b6; border-top: 1px solid #b1b4b6;">
        <tr class="govuk-table__row">
          <td class="govuk-tableallocation__cell statement_date">15 Sep 2022</td>
          <td class="govuk-tableallocation__cell statement_description" style="font-weight: bold;">Payment received - CHQ</td>
          <td class="govuk-tableallocation__cell statement_amount" style="text-align: center;">5</td>
          <td class="govuk-tableallocation__cell statement_end" style="font-weight: bold;">1,339.72</td>
        </tr>
        </tbody>
        <!-- END DATE ROW -->

         <!-- NEW DATE ROW -->
       <tbody class="govuk-table__body" style="border-bottom: 1px solid #b1b4b6; border-top: 1px solid #b1b4b6;">
        <tr class="govuk-table__row">
          <td class="govuk-tableallocation__cell statement_date">17 Aug 2022</td>
          <td class="govuk-tableallocation__cell statement_description" style="font-weight: bold;">Payment received - SDO</td>
          <td class="govuk-tableallocation__cell statement_amount" style="text-align: center;">3</td>
          <td class="govuk-tableallocation__cell statement_end" style="font-weight: bold;">39.93</td>
        </tr>
        </tbody>
        <!-- END DATE ROW -->

        <!-- START ALLOCATION ROW -->
        <tbody class="govuk-table__body" style="border-bottom: 1px solid #b1b4b6;"></tbody>
        <tr class="govuk-table__row">
          <td class="govuk-tableallocation__cell statement_date">21 Jul 2022</td>
          <td class="govuk-tableallocation__cell statement_description" style="font-weight: bold;">Payment allocation</td>
          <td class="govuk-tableallocation__cell statement_amount"></td>
          <td class="govuk-tableallocation__cell statement_end" style="font-weight: bold;">39.10</td>
        </tr>
    
       <tr class="govuk-table__row" style="width: 100px; padding-left: 200px; display: block;">
         <td class="govuk-table__cell statement_description" style="border-bottom: none;">
           <details class="govuk-details">
               <summary class="govuk-details__summary" style="width: 760px;">
                 <span class="govuk-details__summary-text">Child maintenance</span>
                 <span class="govuk-details__summary-textend">32.57</span>
             </summary>
             <div class="govuk-details__text" style="width:760px;">
               <div class="moj-scrollable-pane">
                 <table class="govuk-table">
                   <tbody class="govuk-table__body">
                       <tr class="govuk-table__row">
                         <td class="govuk-table__cell" style="width: 480px;">Child maintenance (123456789101 - Daria Oblonskaya)</td>
                         <td class="govuk-table__cell"></td>
                         <td class="govuk-table__cellEnd">30.00</td>
                       </tr>
                       <tr class="govuk-table__row">
                         <td class="govuk-table__cell">Child maintenance arrears (123456789101 - Daria Oblonskaya)</td>
                         <td class="govuk-table__cell"></td>
                         <td class="govuk-table__cellEnd">2.57</td>
                       </tr>
                   </tbody>
                 </table>
               </div>
             </div>
           </details>
         </td>
       </tr>

       <tr class="govuk-table__row" style="width: 100px; padding-left: 200px; display: block;">
        <td class="govuk-table__cell statement_description" style="border-bottom: none;">
          <details class="govuk-details">
              <summary class="govuk-details__summary" style="width: 760px;">
                <span class="govuk-details__summary-text">Collection charges</span>
                <span class="govuk-details__summary-textend">6.53</span>
            </summary>
            <div class="govuk-details__text" style="width:760px;">
              <div class="moj-scrollable-pane">
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Collection charges</td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cellEnd">6.00</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Collection charges arrears</td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cellEnd">0.53</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </details>
        </td>
      </tr>

      </tbody>
      <!-- END ALLOCATION ROW -->

       <!-- NEW DATE ROW -->
       <tbody class="govuk-table__body" style="border-bottom: 1px solid #b1b4b6; border-top: 1px solid #b1b4b6;">
        <tr class="govuk-table__row">
          <td class="govuk-tableallocation__cell statement_date">18 Jun 2022</td>
          <td class="govuk-tableallocation__cell statement_description" style="font-weight: bold;">Payment received - SDO</td>
          <td class="govuk-tableallocation__cell statement_amount" style="text-align: center;">3</td>
          <td class="govuk-tableallocation__cell statement_end" style="font-weight: bold;">39.10</td>
        </tr>
        </tbody>
        <!-- END DATE ROW -->

     </table>






    

 
      


 
</div>
</div>

<ic-back-to-top target="main" style="margin-top: 80px;"></ic-back-to-top>
<script defer>
  import('https://unpkg.com/@ukic/web-components@3.1.0/loader').then((module) => {
    module.defineCustomElements();
  });
  // The ICDS has types available if your JavaScript framework allows for use with TypeScript
  // Below is an example of how to import an ICDS type
  // import type { IcAlignment } from 'https://unpkg.com/@ukic/web-components/';
</script>
{% endblock %}





