//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
@import 'node_modules/dfe-frontend/packages/dfefrontend';

// Header sign out
.dwp-header-navigation {
  float: left;
}

.govuk-header__content {
  padding: 0px;
}

.hmrc-header.hmrc-header--with-additional-navigation .hmrc-sign-out-nav__link {
  color: #fff;
  font-weight: 700;
  line-height: 1.8em;
  text-decoration: none;
}

.hmrc-sign-out-nav {
  float:right;
  text-align: right;
  padding-top: 5px;
  margin-left: 25px;
}

.dwp-header-navigation__item {
  font-size: 1.2rem;
}

a.navActive {
  font-size: 1.2rem;
  text-decoration: underline;
}

.govuk-header__container {
  border-bottom: 0px;
}

// Primary navigation grey background 

.moj-primary-navigation {
  margin-left: -15px;
  padding-left: 15px;
}

// Quick reference component
.dwp-quick-reference {
  min-height: 110px;
    border-bottom: 10px solid #1d70b8;
}

.dwp-quick-reference--alternative {
  margin-left: -15px;
  padding: 15px 15px 5px;
  color: #ffffff;
  background: #1d70b8;
}

.dwp-quick-reference__primary {
  float:left;
  width: max-content;
  font-size: 1.6875rem;
  font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    margin: 0;
}

.dwp-quick-reference__status {
  padding: 8px 8px 8px 16px;
  display: flex;
}

.dwp-quick-reference__secondary {
  float: left;
  margin-right: 20px;
  margin-top: 10px;
}

.dwp-quick-reference__label {
  float:left;
  width: auto;
  margin-right: 5px;
  margin-top: 10px;
}

.govuk-tag {
  margin-right: 15px;
}


// CMS 2012 image
.imageContainer {
  align-items: center;
  width: 100%;
  margin: 0 25%;
}

// Key details bar
.dwp-key-details-bar__key-details {
  padding: 20px 0px;
}

// Main container
#main-content {
  padding-top: 20px;
}

// Page heading
h1.govuk-heading-xl {
  margin: 30px 0px 30px 0px;
}

// Page heading v2
h1.govuk-heading-xltwo {
  margin: 20px 0px 20px 0px;
  font-size: 48px;
        line-height: 1.33333;
        font-weight: 700;
}

// Search results tables

.govuk-table {
  caption-side: top;
  color: #000000;
}

.govuk-table__cell_link {
  padding: 10px 20px 10px 0;
  border-bottom: 1px solid #b1b4b6;
  text-align: left;
  vertical-align: top;
}


// Modified phase banner

.govuk-phase-banner {
  padding-top: 10px;
  padding-bottom: 0px;
  border: none;;
}
.govuk-phase-bannerTwo {
  padding-top: 10px;
  padding-bottom: 40px;
  /* border-bottom: 1px solid #b1b4b6; */
}

  p.govuk-phase-banner__content {
    padding-bottom: 20px;
  }

  .dateRange {
  padding-bottom: 30px;
  }
  .dateRange__text {
   font-size: 24px;
   display: block;
    width: max-content;
}

// Date range 

.govuk-form-group-date {
  float: left;
  margin-right: 80px;
  margin-bottom: 30px;
}

.dateApplyButton {
  float: left;
  margin-top: 66px;
}
 

// Cards
.moj-ticket-panel__content {
  background-color: #ffffff;
  border: 1px solid #b1b4b6;
  border-left: 4px solid transparent;
  border-left-color: #1d70b8;
  float: left;
  margin: 0px;
  height: fit-content;
}

.dfe-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

h2.govuk-heading-m {
  font-size: 40px;
}

.moj-ticket-panel {
  margin: 30px;
  display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        //grid-template-columns: repeat(auto-fill, minmax(279px, 0fr));
        gap: 30px;
}
.moj-ticket-panel-trio {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 0fr));
  gap: 30px;
}
.ef-card-trio-v2 {
  max-width: none;
  position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.moj-ticket-panel-trio-v2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(292px, 0fr));
  gap: 19px;
  padding: 22px;
}
.ef-card-duo {
  max-width: none;
  position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.moj-ticket-panel-duo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(447px, 0fr));
  gap: 19px;
  padding: 22px;
}

.ef-card {
  max-width: none;
  position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #b1b4b6;
    margin-bottom: 40px;
}
.ef-card-trio {
  max-width: none;
  position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-bottom: 40px;
}


  // Card title and value
  .dfe-title, .dfe-title-i8 {
    background-color: #F7F7F7;
    border-bottom: 1px solid #b1b4b6;
    }

  // before iteration 8
  .dfe-title h2 {
    float: left;
    font-size: 1.5rem;
    margin: 25px 0px 24px 40px;
    }
    .dfe-title h2.value {
      float: right;
      font-size: 40px;
      margin: 15px 30px 15px 15px;
      font-weight: bold;
      }
// iteration 8 onwards
    .dfe-title-i8 h2 {
      float: left;
      font-size: 1.5rem;
      margin: 20px 0px 20px 22px;
      font-family: "GDS Transport", arial, sans-serif;
      }
      .dfe-title-i8 h2.value {
        float: right;
        font-size: 40px;
        margin: 10px 25px 11px 15px;
        font-weight: bold;
        font-family: "GDS Transport", arial, sans-serif;
        }

    
  
    .dfe-title p {
      float: right;
      margin: 15px 40px 15px 15px;
      font-size: 30px;
      font-weight: bold;
      color: #000000;
      }

      .dfe-title p.value {
        float: left;
        margin: 19px 40px 18px 10px;
        font-size: 24px;
        font-weight: normal;
        }

// Card title and value
.govuk-details {
  margin-bottom: 0px;
  width: 750px;
}

// Pagination

.pagination {
  float: left;
    margin: 0 15% 0 15%;
    padding: 0px;
    display: flex;
    width: fit-content;
}

// Password field

.govuk-input__wrapper .govuk-input {
  flex: 0 1 auto;
  width: 550px;
  margin: 0px 10px 0 0;
}

// Schedule dropdown

.govuk-form-group-dropdown {
  float: right;
  margin-left: 20px;
}

// Tabbed table

.hydrated {
  font-family: "GDS Transport", arial, sans-serif !important;
}

.govuk-table__cell_last {
  width: 320px;
  padding: 10px 20px 10px 0;
  border-bottom: 1px solid #b1b4b6;
  text-align: left;
  vertical-align: top; 
}
.govuk-table__cell_link {
  color: #1d70b8;
  padding: 10px 20px 10px 0;
    border-bottom: 1px solid #b1b4b6;
    text-align: left;
    vertical-align: top;
    text-align: center;
}

// Breadcrumbs

.govuk-breadcrumbs__list {
  margin: 20px 0 -10px 0;
  padding: 0;
  list-style-type: none;
}


// Payments table

.cell_date {
  width:150px;
}

.cell_description {
  width:610px;
}

.cell_amount {
  width:130px;
}

// Statement table 

.statement_date {
  width:200px;
}

.statement_description {
  width:610px;
}

.statement_amount {
  width:170px;
}

.statement_end {
  text-align: right;
  width: 120px;
}

// Payment table

.schedule_date {
  width:20%;
}
.schedule_method {
  width:56%;
}
.schedule_due {
  width:12%;
}
.schedule_paid {
  width:12%;
  text-align: right;
}