{% extends "layouts/internal-service.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

      {% include "includes/back-link.html" %}
      <span class="govuk-caption-m">Jira<a class='govuk-link' href='https://dwpdigital.atlassian.net/browse/SAE-1715'>SAE-1715</a></span>
      <h1 class="govuk-heading-l">
          Visualise "Simple check" warning
      </h1>

      <h2 class="govuk-heading-s">Description:</h2>

      <p>Iterations on alerting the CW that a CM calculation may not be correct.</p>

      <h3 class="govuk-heading-s">Page:</h3>
      <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
        <li>
          <a href="ef-calculations-4.html">
          Before simple check
        </a>
        </li>
        <li>
          <a href="ef-calculations-4b.html">
          After simple check
        </a>
        </li>
      </ul>

      <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}--->
    </div>
  </div>

{% endblock %}