{% extends "layouts/internal-service.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

      {% include "includes/back-link.html" %}
      <span class="govuk-caption-m govuk-!-margin-bottom-2">
        <a class='govuk-link' href='https://dwpdigital.atlassian.net/browse/SAE-1979'>SAE-1979</a>
      </span>
      <h1 class="govuk-heading-l">Page header - 'What's new' link and counter
      </h1>

      <h2 class="govuk-heading-s">Description:</h2>

      <p>"What's new" link in the header is announced by screen reader in an unclear way, for example:
      <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
          <li>"Current page link what's new" if not visited</li>

          <li>"Current page visited link what's new" if visited</li>

          <li>“Current page link three what’s new” if it has 3 updates for example

        </li>
      </ul>
      <p>And the link is available to all VPF pages so “current page” is not helpful.</p>

      <h3 class="govuk-heading-s">New design:</h3>
      <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
        <li>
          <a href="ef-finances">
        Finances
      </a>
        </li>
      </ul>

        <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->
      </div>
    </div>

  {% endblock %}