{% extends "layouts/internal-service.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

      {% include "includes/back-link.html" %}
      <span class="govuk-caption-m govuk-!-margin-bottom-2">
        <a class='govuk-link' href='https://dwpdigital.atlassian.net/browse/SAE-1973'>SAE-1973</a>
      </span>
      <h1 class="govuk-heading-l">"About" link
      </h1>

      <h2 class="govuk-heading-s">Description:</h2>

       <p>In all pages, in the header navigation, the 'About' menu link dissapears off the screen when the page is magnified ( Ctr/Cmd "+" ) to 200%.
        WCAG 1.4.4 Resize text - Content or functionality is lost, clipped, or obscured when the page is zoomed to 200% using browser zoom.
        </p>

      <h3 class="govuk-heading-s">Page:</h3>
      <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
        <li>
          <a href="ef-finances">
          Finances
        </a>
        </li>
      </ul>

      <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->
    </div>
  </div>

{% endblock %}