{% extends "layouts/internal-service.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

      {% include "includes/back-link.html" %}
      <span class="govuk-caption-m govuk-!-margin-bottom-2">
        <a class='govuk-link' href='https://dwpdigital.atlassian.net/browse/SAE-1874'>SAE-1874</a>
      </span>
      <h1 class="govuk-heading-l">
          Statement -- 'Back to top' button obscuring content
      </h1>

      <h2 class="govuk-heading-s">Description:</h2>

      <p>Current ‘back to top’ button can obscure other content on the page (see below). And if the screen is magnified the button grows to occupy more screen area. </p>
            <h3 class="govuk-heading-s">Changes:</h3>

            <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
        <li>
          Explore Scot Gov 'back to top' button also used across GOVUK.
        </li>
      </ul>

      <h3 class="govuk-heading-s">Page:</h3>
      <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
        <li>
          <a href="ef-statement">
          Statement
        </a>
        </li>
      </ul>

      <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->
    </div>
  </div>

{% endblock %}

            {% if filterTableBy == 'all'  %}
            <td class="govuk-table__cell govuk-table__cell--numeric">&nbsp;</td>
            <td class="govuk-table__cell statement_end">-66.81</td>
            {% endif %}