
{% extends "layouts/internal-service.html" %}


{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/ukic-components-source.html" %}

{% endblock %}

{% block content %}
<style>
  .govuk-template {
    background-color: #ffffff;
  }
  .govuk-width-container {
    max-width: 70%;
  }
  .govuk-footer{
    display: none;
  }
</style>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a target="_blank" href="../iteration-7/v1/ef-v7-case-information.html"><img style="width: 100% !important;" src="/public/images/cms-contact-summary.png" alt="User icon"></a>
  </div>
</div>


{% endblock %}

