{% extends "layouts/internal-service.html" %}

{% block pageTitle %}
  Finances – {{ serviceName }} – GOV.UK Prototype Kit
  <script>
    const $subNavTabs = document.querySelector('[data-module="dl-subnav"]')
    const subNavTabsComponent = new DLFrontend.SubNavTabs($subNavTabs).init({})
  </script>
{% endblock %}

{% block header %}
{% include "includes/ukic-components-source.html"%}

     <header>
      <div class="dwp-header govuk-header hmrc-header hmrc-header--with-additional-navigation " data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container ">
          <div class="govuk-header__content">
            <a href="/index.html" class="govuk-header__link govuk-header__service-name">
              View parent finances
            </a>
          </div>
          <!--<nav class="hmrc-sign-out-nav">
            <a class="govuk-link hmrc-sign-out-nav__link" href="#">Close</a>
          </nav>-->
    </div>
      </div>
    </header>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/form-handler" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-heading-xl">
                  Feedback sent
                </h1>
              </legend>
              
              
              <p>Thank you for your feedback and agreeing to take part in research. We'll use this to improve the service.</p><br>
              <p>A user researcher will contact you to arrange a research session.</p><br>
              <p>You can close this tab and go back to the service.</p>

            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}




