{% extends "layouts/internal-service.html" %}

{% block pageTitle %}
  Statement – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/ukic-components-source.html"%}
  {% include "includes/dwp-internal-service-header.html"%}
{% endblock %}

{% block content %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
      <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a target="_blank" class="govuk-link" href="https://forms.office.com/pages/responsepage.aspx?id=6fbxllcQF0GsKIDN_ob4w77Q_GYcDs9Jhep7t9aicRxUNE5IUE1BTE5TQjFNQUFJVUtGODhQSElFRi4u&route=shorturl">give your feedback (opens in new tab)</a>.
    </span>
    </p>
  </div>

  <section class="dwp-quick-reference dwp-quick-reference--alternative" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Steven Oblonsky</dd>
      <dd class="dwp-quick-reference__status">
        <strong class="govuk-tag govuk-tag--turquoise">
      Paying parent
    </strong>
        <strong class="govuk-tag govuk-tag--blue">
      Single case
    </strong>
      </dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">Reference:</dt>
      <dd class="dwp-quick-reference__secondary">121323454232</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">NI number:</dt>
      <dd class="dwp-quick-reference__secondary">QQ123456C</dd>
    </dl>
  </section>

  {% include "includes/back-link.html" %}

  <h1 class="govuk-heading-xl">
  Number of overnight stays increased
</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-!-font-size-24 govuk-!-margin-bottom-4">
        <strong>Parent SR number:</strong> 1-123456789
     </p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header cell_calDate">Perform date</th>
            <th scope="col" class="govuk-table__header cell_calDate">Effective from</th>
            <th scope="col" class="govuk-table__header cell_calDate">Effective<br>to</th>
            <th scope="col" class="govuk-table__header">Weekly income (£)</th>
            <th scope="col" class="govuk-table__header">Weekly liability (£)</th>
            <th scope="col" class="govuk-table__header">Weekly charge (£)</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">20 Dec 23</td>
            <td class="govuk-table__cell">11 Dec 23</td>
            <td class="govuk-table__cell">18 Oct 24</td>
            <td class="govuk-table__cell">383.56</td>
            <td class="govuk-table__cell">127.02</td>
            <td class="govuk-table__cell">25.40</td>
          </tr>
        </tbody>
      </table>

      <br><br>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds"></div>
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
              Assessable weekly income - £1,342.47
            </h2>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key mcTitle">
                 Daily liability
                </dt>
                  <dd class="govuk-summary-list__value">
                  £18.15
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                 Daily collection charge
                </dt>
                  <dd class="govuk-summary-list__value">
                  £3.63
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                 Income amount
                </dt>
                  <dd class="govuk-summary-list__value">
                  £20,000.00
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  Income source
                </dt>
                  <dd class="govuk-summary-list__value">
                  HMRC
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  HMRC income tax year
                </dt>
                  <dd class="govuk-summary-list__value">
                  6 April 2023 - 5 April 2024
                </dd>
                </div>
                <div class="govuk-summary-list__row" style="border-bottom: 0px;">
                  <dt class="govuk-summary-list__key">
                  Variation
                </dt>
                  <dd class="govuk-summary-list__value">
                  £50,000.00
                </dd>
                </div>
              <div class="govuk-summary-list__row" style="border-bottom: 0px;">
                <dt class="govuk-summary-list__key" style="font-weight: 100;">
                  Additional income
                </dt>
                <dd class="govuk-summary-list__value">
                  £50,000.00
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="font-weight: 100;">
                  Special expense
                </dt>
                <dd class="govuk-summary-list__value">
                  £0
                </dd>
              </div>
              <div class="govuk-summary-list__row" style="border-bottom: 0px;">
                <dt class="govuk-summary-list__key">
                  Benefit
                </dt>
                <dd class="govuk-summary-list__value">
                  None
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="font-weight: 100;">
                  Partner household
                </dt>
                <dd class="govuk-summary-list__value">
                  None
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Pension
                </dt>
                <dd class="govuk-summary-list__value">
                  £0
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Foreign exchange costs
                </dt>
                <dd class="govuk-summary-list__value">
                  £0
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Special circumstance
                </dt>
                <dd class="govuk-summary-list__value">
                  None
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Rate applied
                </dt>
                <dd class="govuk-summary-list__value">
                  Basic rate plus (15%)
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Qualifying child 1
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key mcTitle">
                  Name
                </dt>
                <dd class="govuk-summary-list__value">
                  John Oblonsky
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  3 May 2016
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Overnight stays
                </dt>
                <dd class="govuk-summary-list__value">
                  1 night per week
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Local authority stays
                </dt>
                <dd class="govuk-summary-list__value">
                  0 night per week
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Qualifying child 2
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key mcTitle">
                  Name
                </dt>
                <dd class="govuk-summary-list__value">
                  James Oblonsky
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  6 Aug 2022
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Overnight stays
                </dt>
                <dd class="govuk-summary-list__value">
                  0 night per week
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Local authority stays
                </dt>
                <dd class="govuk-summary-list__value">
                  0 night per week
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Other children
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key mcTitle">
                  Relevant other child
                </dt>
                <dd class="govuk-summary-list__value">
                  2
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Children in family based arrangements
                </dt>
                <dd class="govuk-summary-list__value">
                  1
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<ic-back-to-top target="main"></ic-back-to-top>
<script defer>
  import ('https://unpkg.com/@ukic/web-components@3.1.0/loader').then((module) => {
    module.defineCustomElements();
  });
  // The ICDS has types available if your JavaScript framework allows for use with TypeScript
  // Below is an example of how to import an ICDS type
  // import type { IcAlignment } from 'https://unpkg.com/@ukic/web-components/';
</script>
{% endblock %}


<style>
  .govuk-footer {
    display: none;
  }
  .enforcement-footer {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.1428571429;
    padding-top: 25px;
    padding-bottom: 15px;
    border-top: 1px solid #b1b4b6;
    color: #0b0c0c;
    background: #f3f2f1;
  }
  @media (min-width: 40.0625em) {
    .enforcement-footer {
      padding-bottom: 25px;
    }
  }
  @media (min-width: 40.0625em) {
    .enforcement-footer {
      padding-top: 40px;
    }
  }

  @media (min-width: 40.0625em) {
    .enforcement-footer {
      font-size: 1rem;
      line-height: 1.25;
    }
  }

  .govuk-tableallocation__cell {
    padding: 10px 20px 10px 0;
    vertical-align: top;
  }

  .govuk-details {
    margin-bottom: 0;
    width: auto;
  }
  .govuk-details__summary {
    position: relative;
    width: -webkit-fit-content;
    width: fit-content;
    padding-left: 0;
    color: #1d70b8;
    cursor: pointer;
  }
  span.govuk-details__summary-textend {
    float: right;
  }

  .govuk-details__text {
    padding-top: 5px;
  }
  .govuk-table {
    margin-bottom: 0;
  }
  .govuk-details__text {
    padding-bottom: 0;
  }

  .govuk-table__cellEnd {
    padding: 10px 20px 10px 0;
    border-bottom: 1px solid #b1b4b6;
    text-align: right;
    vertical-align: top;
  }
  @supports not (-ms-ime-align: auto) {
    .govuk-details__summary-text::after {
      content: "";
      /* position: absolute; */
      top: -1px;
      bottom: 0;
      left: 0;
      margin-left: 15px;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
      clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
      border-width: 7px 0 7px 12.124px;
      border-left-color: inherit;
      display: inline-block;
    }
  }
  @supports not (-ms-ime-align: auto) {
    .govuk-details[open] > .govuk-details__summary-text::after {
      top: -1px;
      bottom: 0;
      left: 0;
      margin-left: 15px;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
      clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
      border-width: 7px 0 7px 12.124px;
      border-left-color: inherit;
      display: inline-block;
    }
  }

  @supports not (-ms-ime-align: auto) {
    .govuk-details__summary-text {
      position: relative;
      width: -webkit-fit-content;
      width: fit-content;
      padding-left: 0;
      color: #1d70b8;
      cursor: pointer;
    }
  }

  @supports not (-ms-ime-align: auto) {
    .govuk-details[open] > .govuk-details__summary::before {
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
      clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
      border-width: 12.124px 7px 0 7px;
      border-top-color: inherit;
    }
  }

  .govuk-details__summary::before {
    display: none;
  }

  @supports not (-ms-ime-align: auto) {
    .govuk-details[open] > .govuk-details__summary::before {
      display: none;
    }
  }
</style>

{% endblock %}