{% extends "layouts/internal-service.html" %}

{% block pageTitle %}
  Finances – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/ukic-components-source.html"%}
{% include "includes/dwp-internal-service-header.html"%}
{% endblock %}

{% block content %}
{% include "includes/govuk-beta-banner" %}

  {% include "includes/vpf/dwp-quick-reference-single-manual" %}


  <div class="moj-primary-navigation">
    <div class="moj-primary-navigation__container">
      <div class="moj-primary-navigation__nav">
        <nav class="moj-primary-navigation" aria-label="Primary navigation">
          <ul class="moj-primary-navigation__list">
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-finances.html">Finances</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-statement.html">Statement</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-payment-allocation.html">Payment allocation</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-payment-plan.html">Payment plan</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-calculations.html">Calculations</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="page" href="case">Case</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  



  <h1 class="govuk-heading-xl govuk-!-margin-top-2 govuk-!-margin-bottom-2">
  Case
  </h1>
<div class="govuk-grid-row">
  {# <div class="govuk-grid-column-full">
    <p class="govuk-!-font-size-24">
      From <strong>1 January 2014</strong> to <strong>5 September 2024</strong>.
     </p>
  </div> #}
 

  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Receiving parent or person
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Daria Oblonskaya
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Qualifying children
            </dt>
            <dd class="govuk-summary-list__value">
              Lily Oblonskaya <br>Tatiana Oblonskaya
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Case
            </dt>
            <dd class="govuk-summary-list__value">
              1-2345999
            </dd>
          </div> 
        </dl>
      </div>
    </div>
    <!--<div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Contact details
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Home phone
            </dt>
            <dd class="govuk-summary-list__value">
              None
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mobile phone
            </dt>
            <dd class="govuk-summary-list__value">
              0777 7777777
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              simon@example.com
            </dd>
          </div>
        </dl>
      </div>
    </div>-->

    
    
  </div>
</div>

{% endblock %}




