{% extends "layouts/internal-service.html" %}


{# ////// VARIABLES ////// #}
{# Note: make sure raw data does not contain commas #}
{# Fallback to '0' if the data path is missing, undefined, or empty #}
{% set finances = data['finances']['finances'] %}

{% set overpaymentsCM = finances['overpayments_child_maintenance'] | default('0', true) %}
{% set overpaymentsCD = finances['overpayments_charges_debt'] | default('0', true) %}
{% set cashBalance = finances['cash_balance'] | default('0', true) %}
{% set operpaymentsTotal = ((overpaymentsCM * 1) + (overpaymentsCD * 1) + (cashBalance * 1)) %}
{% set paymentsMadeCM = finances['payments_made_child_maintenance'] | default('0', true) %}
{% set paymentsMadeCD = finances['payments_made_charges_debt'] | default('0', true) %}
{% set paymentsMadeTotal = ((paymentsMadeCM * 1) + (paymentsMadeCD * 1)) %}
{% set writtenOff = finances['written_off'] | default('0', true) %}
{% set expectedCM = finances['expected_child_maintenance'] | default('0', true) %}
{% set expectedCollCharges = finances['expected_collection_charges'] | default('0', true) %}

{% set regularDeductionOrder = finances['regular_deduction_order'] | default('0', true) %}
{% set lumpSumDeductionOrder = finances['lump_sum_deduction_order'] | default('0', true) %}
{% set liabilityOrder = finances['liability_order'] | default('0', true) %}
{% set deductionEarningsOrder = finances['deduction_from_earnings_order'] | default('0', true) %}
{% set expectedEnfCharges = ((regularDeductionOrder * 1) + (lumpSumDeductionOrder * 1) + (liabilityOrder * 1) + (deductionEarningsOrder * 1)) %}
{% set expectedEnforcementCost = finances['expected_enforcement_cost'] | default('0', true) %}
{% set expectedCSADebt = finances['expected_CSA_debt'] | default('0', true) %}
{% set expectedDNACost = finances['expected_DNA_debt'] | default('0', true) %}
{% set expectedSubjectAccessRequestCost = finances['expected_subject_access_request_cost'] | default('0', true) %}
{% set expectedInterest = finances['expected_interest'] | default('0', true) %}
{% set expectedFees = finances['expected_fees'] | default('0', true) %}
{% set expectedJudRevCost = finances['expected_judicial_review_cost'] | default('0', true) %}
{% set expectedAppealCost = finances['expected_appeal_cost'] | default('0', true) %}
{% set expectedCMSAdminCost = finances['expected_cms_admin_cost'] | default('0', true) %}
{% set expectedLiabOrderCost = finances['expected_liability_order_cost'] | default('0', true) %}
{% set expectedCD = ((expectedCollCharges * 1) + (expectedEnfCharges * 1) + (expectedEnforcementCost * 1) + (expectedCSADebt * 1) + ( expectedDNACost * 1) + ( expectedSubjectAccessRequestCost * 1) + ( expectedInterest * 1) + ( expectedFees * 1) + ( expectedJudRevCost * 1) + ( expectedAppealCost * 1) + ( expectedCMSAdminCost * 1) + ( expectedLiabOrderCost * 1)) %}
{% set expectedTotal = ((expectedCM * 1) + (expectedCD * 1)) %}
{% set stillOwedCM = ((expectedCM * 1) - (paymentsMadeCM * 1))  %}
{% set stillOwedCD = ((expectedCD * 1) - (paymentsMadeCD * 1))  %}
{% set stillOwedTotal = ((stillOwedCM * 1) + (stillOwedCD * 1)) %}

{# ////// END VARIABLES  ////// #}

{% block pageTitle %}
  Statement – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block header %}
  {% include "includes/ukic-components-source.html" %}
  {% from "internal-service-header/macro.njk" import dwpHeader %}
  {% include "includes/dwp-internal-service-header" %}
{% endblock %}

{% block content %}
  {% include "includes/govuk-beta-banner" %}
  {% include "includes/vpf/dwp-quick-reference-single-manual" %}

  <div class="moj-primary-navigation">
    <div class="moj-primary-navigation__container">
      <div class="moj-primary-navigation__nav">
        <nav class="moj-primary-navigation" aria-label="Primary navigation">
          <ul class="moj-primary-navigation__list">
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="../ef-finances">Finances</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="../ef-statements">Statement</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="../ef-payment-allocation">Payment allocation</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="../ef-payment-plan">Payment plan</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="../ef-calculations">Calculations</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="../ef-case">Case</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

<h1 class="govuk-heading-xl govuk-!-margin-top-2 govuk-!-margin-bottom-2">
  Statement
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="dateRange">
      <span class="govuk-!-font-size-24">
         From the case effective date <strong>8 December 2014</strong> to <strong>6 May 2025</strong>.
       </span>
     </p>
  </div>

  <div class="govuk-grid-column-full">
      <div class="ef-card">
        <div class="dfe-title-i8">
          <h2>Finance summary</h2>
        </div>
        <div class="ef-card-trio-v2">
          <article class="moj-ticket-panel-trio-v2" aria-label="key amounts">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
              <h3 class="govuk-body">Money still owed</h3>
              <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">£{{ stillOwedTotal | currency }}</p>
            </section>
            <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 2">
              <h3 class="govuk-body">Payments made</h3>
              <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">£{{ paymentsMadeTotal | currency }}</p>
            </section>
            <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 3">
              <h3 class="govuk-body">Total expected</h3>
              <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">£{{ expectedTotal | currency }}</p>
            </section>
            <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 4">
              <h3 class="govuk-body">Amount written off</h3>
              <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">£{{ writtenOff | currency }}</p>
            </section>
            <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 5">
            <h3 class="govuk-body">Overpayments</h3>
            <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">£{{ operpaymentsTotal | currency }}</p>
          </section>
          </article>
        </div>
      </div>

    <div class="moj-button-group moj-button-group--inline">
      <div class="moj-button-menu" data-module="moj-button-menu" data-button-text="Payments received" data-button-classes="toggle-button">
        <a href="../ef-statements.html" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">
          All transactions
        </a> 
      
        <a href="ef-statements-credits.html" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">
          All credits
        </a>
      </div>
    </div>

    <!-- 2024-->
    <h3 class="govuk-notification-banner__heading">
      2024
     </h3>
     <table class="govuk-table">
       <thead class="govuk-table__head">
         <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header">Date</th>
           <th scope="col" class="govuk-table__header">Description</th>
           <th scope="col" class="govuk-table__header numerical">Credit (£)</th>
           <!--<th scope="col" class="govuk-table__header numerical">Debit (£)</th>-->
         </tr>
       </thead>
       <tbody class="govuk-table__body">
         <tr class="govuk-table__row">
           <td class="govuk-table__cell statement_date">19 Nov 2024</td>
           <td class="govuk-table__cell statement_description">Payment received from you - DDR</td>
           <td class="govuk-table__cell statement_amount"><a class="govuk-link" href="received-19-nov-24">24.61</a></td>
           <!--<td class="govuk-table__cell statement_amount"></td>-->
           
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">9 Nov 2024</td>
           <td class="govuk-table__cell_last">Payment received from you - DDR</td>
           <td class="govuk-table__cell statement_amount"><a class="govuk-link" href="received-9-nov-24">73.84</a></td>
           <!--<td class="govuk-table__cell statement_amount"></td>-->
         </tr>
       </tbody>
     </table>
 
     

 <!-- 2021 NEW-->
 <h3 class="govuk-notification-banner__heading">
  2021
 </h3>

 <table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Description</th>
      <th scope="col" class="govuk-table__header numerical">Credit (£)</th>
      <!--<th scope="col" class="govuk-table__header numerical">Debit (£)</th>-->
    </tr>
  </thead>

  <tbody class="govuk-table__body">   
<tr class="govuk-table__row">
  <td class="govuk-table__cell statement_date">24 Sep 2021</td>
  <td class="govuk-table__cell statement_description">Payment received from you - CRD</td>
  <td class="govuk-table__cell statement_amount">239.40</td>
  <!--<td class="govuk-table__cell statement_amount"></td>-->
</tr>
 </tbody>
</table>
 
</div>
</div>
{% endblock %}





