{% extends "layouts/internal-service.html" %}

<!-- ////// PRESETS ///// -->

{% set tab_clicked = selectedTab %}
{% set number_of_cases = "9" %}
{% set active_cases = "2" %}
{% set selected_view = "2" %}

<!-- //////////////////// -->

{% block pageTitle %}
Finances – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/dwp-internal-service-header" %}
{% endblock %}

{% block content %}

  {% include "includes/govuk-beta-banner" %}

  {% include "includes/dwp-quick-reference-multicase" %}

  <!-- /////// NAVIGATION PRIMARY /////// -->
  <div class="moj-primary-navigation govuk-!-margin-bottom-5">
    <div class="moj-primary-navigation__container">
      <div class="moj-primary-navigation__nav">
        <nav class="moj-primary-navigation" aria-label="Primary navigation">
          <ul class="moj-primary-navigation__list">
            
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="multicase-case-information">Cases ({{ number_of_cases
              }})</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="page" href="multicase-finances"</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="multicase-statement--all">Statement</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="multicase-payment-allocation">Payment allocation</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="multicase-payment-plan">Payment plan</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <!-- {% include "includes/moj-primary-navigation-multicase" %} -->
  <!-- /////////////////////////////////// -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
      Finances
      </h1>
      {# /////////////////////////////// #}
      <form>
        <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item{% if tab_clicked == '0' %} govuk-tabs__list-item--selected{% endif %}" style="flex-wrap: wrap !important;
	padding-bottom: 16px !important;">
            <a class="govuk-tabs__tab" href="#total" data-menukey="0" onclick="handleTab(this)">
            Total
          </a>
          </li>
          <li class="govuk-tabs__list-item{% if tab_clicked == '1' %} govuk-tabs__list-item--selected{% endif %}" style="flex-wrap: wrap !important;
	padding-bottom: 16px !important;">
            <a class="govuk-tabs__tab" href="#daria" data-menukey="1" onclick="handleTab(this)">
              Daria Oblonskaya
            </a>
          </li>
          <li class="govuk-tabs__list-item{% if tab_clicked == '2' %} govuk-tabs__list-item--selected{% endif %}" style="flex-wrap: wrap !important;
	padding-bottom: 16px !important;">
            <a class="govuk-tabs__tab" href="#ruth" data-menukey="2" onclick="handleTab(this)">
              Ruth Slater
            </a>
          </li>
          <li class="govuk-tabs__list-item{% if tab_clicked == '0' %} govuk-tabs__list-item--selected{% endif %}" style="flex-wrap: wrap !important;
	padding-bottom: 16px !important;">
            <a class="govuk-tabs__tab" href="#total" data-menukey="0" onclick="handleTab(this)">
            Mary Anne Sorensensson-Johansson
          </a>
          </li>
          <li class="govuk-tabs__list-item{% if tab_clicked == '1' %} govuk-tabs__list-item--selected{% endif %}" style="flex-wrap: wrap !important;
	padding-bottom: 16px !important;">
            <a class="govuk-tabs__tab" href="#daria" data-menukey="1" onclick="handleTab(this)">
              Alexandra Whitley
            </a>
          </li>
          <li class="govuk-tabs__list-item{% if tab_clicked == '2' %} govuk-tabs__list-item--selected{% endif %}" style="flex-wrap: wrap !important;
	padding-bottom: 16px !important;">
            <a class="govuk-tabs__tab" href="#ruth" data-menukey="2" onclick="handleTab(this)">
              Olivia Featherstonehaugh
            </a>
          </li>
          <li class="govuk-tabs__list-item{% if tab_clicked == '0' %} govuk-tabs__list-item--selected{% endif %}" style="flex-wrap: wrap !important;
	padding-bottom: 16px !important;">
            <a class="govuk-tabs__tab" href="#total" data-menukey="0" onclick="handleTab(this)">
            Paula Campbell
          </a>
          </li>
          <li class="govuk-tabs__list-item{% if tab_clicked == '1' %} govuk-tabs__list-item--selected{% endif %}" style="flex-wrap: wrap !important;
	padding-bottom: 16px !important;">
            <a class="govuk-tabs__tab" href="#daria" data-menukey="1" onclick="handleTab(this)">
              Daria Oblonskaya
            </a>
          </li>
          <li class="govuk-tabs__list-item{% if tab_clicked == '2' %} govuk-tabs__list-item--selected{% endif %}" style="flex-wrap: wrap !important;
	padding-bottom: 16px !important;">
            <a class="govuk-tabs__tab" href="#ruth" data-menukey="2" onclick="handleTab(this)">
              Elisabeth Norman
            </a>
          </li>
        </ul>

          <div class="govuk-tabs__panel" id="total">
            <h2 class="govuk-heading-m">Total for 2 cases</h2>
            <p>Cases effective from <strong>8 December 2014</strong>.
          </p>
            {% include "includes/multicase/finance-amounts--case-all.html
          " %}
          </div>

          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="daria">
            <h2 class="govuk-heading-m">Paying to <strong>Daria Oblonskaya</strong>
              <strong class="govuk-tag govuk-tag--orange">Collect and pay</strong>
            </h2>
            <p>Case ID: <strong>1-2345999</strong>. Effective from <strong>7 October 2021</strong> to <strong>6 May 2026</strong>.
          </p>
            {% include "includes/multicase/finance-amounts--case-1" %}
          </div>

          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="ruth">
            <h2 class="govuk-heading-m">Paying to <strong>Ruth Slater</strong>
              <strong class="govuk-tag govuk-tag--turquoise">Arrears only</strong>
            </h2>
            <p>Case ID: <strong>1-2345999</strong>. Effective from <strong>21 Nov 2022</strong> to <strong>6 May 2025</strong>.
          </p>
            {% include "includes/multicase/finance-amounts--case-2" %}
          </div>
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="ruth">
            <h2 class="govuk-heading-m">Paying to <strong>Ruth Slater</strong>
              <strong class="govuk-tag govuk-tag--turquoise">Arrears only</strong>
            </h2>
            <p>Case ID: <strong>1-2345999</strong>. Effective from <strong>21 December 2016</strong> to <strong>6 May 2025</strong>.
          </p>
            {% include "includes/multicase/finance-amounts--case-2" %}
          </div>
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="ruth">
            <h2 class="govuk-heading-m">Paying to <strong>Ruth Slater</strong>
              <strong class="govuk-tag govuk-tag--turquoise">Arrears only</strong>
            </h2>
            <p>Case ID: <strong>1-2345999</strong>. Effective from <strong>21 December 2016</strong> to <strong>6 May 2025</strong>.
          </p>
            {% include "includes/multicase/finance-amounts--case-2" %}
          </div>
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="ruth">
            <h2 class="govuk-heading-m">Paying to <strong>Ruth Slater</strong>
              <strong class="govuk-tag govuk-tag--turquoise">Arrears only</strong>
            </h2>
            <p>Case ID: <strong>1-2345999</strong>. Effective from <strong>21 December 2016</strong> to <strong>6 May 2025</strong>.
          </p>
            {% include "includes/multicase/finance-amounts--case-2" %}
          </div>
        </div>
      </form>
    </div>
  </div>

  {# //////////////// #}
    <script>
    function handleTab(el) {
      // Find the HTML element and update its content
      const selectedTab = el.getAttribute('data-menukey');
      const anchorHref = el.getAttribute('href');
      // Instead of sessionStorage, redirect to the URL with a query parameter
      window.location.href = '/sprint-development/1716/tabs-pattern/multicase-finances--multiline-tabs' + anchorHref + '?tab=' + selectedTab;
    };
  </script>
  {# //////////////// #}

{% endblock %}