{% extends "layouts/internal-service.html" %}

{% block pageTitle %}
  Payment plans – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/ukic-components-source.html" %}
  {% include "includes/dwp-internal-service-header.html"%}

{% endblock %}

{% block content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a target="_blank" class="govuk-link" href="https://forms.office.com/pages/responsepage.aspx?id=6fbxllcQF0GsKIDN_ob4w77Q_GYcDs9Jhep7t9aicRxUNE5IUE1BTE5TQjFNQUFJVUtGODhQSElFRi4u&route=shorturl">give your feedback (opens in new tab)</a>.
    </span>
  </p>
</div>

<section class="dwp-quick-reference dwp-quick-reference--alternative" aria-label="Case information">
  <dl class="dwp-quick-reference__block">
  <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
  <dd class="dwp-quick-reference__primary">Steven Oblonsky</dd>
  <dd class="dwp-quick-reference__status">
    <strong class="govuk-tag govuk-tag--turquoise">
      Paying parent
    </strong>
    <strong class="govuk-tag govuk-tag--blue">
      Single case
    </strong>
  </dd>
  <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">Reference:</dt>
  <dd class="dwp-quick-reference__secondary">121323454232</dd>
  <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">NI number:</dt>
  <dd class="dwp-quick-reference__secondary">QQ123456C</dd>
  </dl>
</section>

  <div class="moj-primary-navigation">
    <div class="moj-primary-navigation__container">
      <div class="moj-primary-navigation__nav">
        <nav class="moj-primary-navigation" aria-label="Primary navigation">
          <ul class="moj-primary-navigation__list">
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-finances.html">Finances</a>
            </li>
            <!--
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-payments.html">Payments</a>
            </li>-->
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-statements.html">Statement</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="page" href="#">Payment plan</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-case-information.html">Case</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>



  <h1 class="govuk-heading-xltwo">
    Payment plans
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-phase-bannerTwo">
          <span class="dateRange__text">
            Payments scheduled up to the next annual review and those from the past year.
           </span>
      </div>
    </div>
  
  
    <div class="govuk-grid-column-full">
  
      <!--<div class="ef-card">
        <div class="dfe-title-i8">
          <h2>Expected amount</h2>
        </div>
        <div class="ef-card-trio-v2">
          <article class="moj-ticket-panel-trio-v2" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
              <p class="govuk-body" style="min-height: 50px;">Child maintenance</p>
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£69.56</h2>
            </section>
            <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
              <p class="govuk-body" style="min-height: 50px;">Collection charges</p>
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£13.97</h2>
            </section>
            <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
              <p class="govuk-body">Unpaid maintenance and charges</p>
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£23.12</h2>
            </section>
          </article>
        </div>
      </div> -->
    
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header schedule_date">Collection</th>
            <th scope="col" class="govuk-table__header">Version</th>
            <th scope="col" class="govuk-table__header schedule_method">Method</th>
            <th scope="col" class="govuk-table__header schedule_due">Due (£)</th>
            <th scope="col" class="govuk-table__header schedule_paid">Paid (£)</th>
            <!--<th scope="col" class="govuk-table__header">Status</th>-->
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Oct 2025</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">Deduction from earnings</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="payment/19October2025.html">106.65</a></td>
            <td class="govuk-table__cell schedule_paid"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Sep 2025</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">Deduction from earnings</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="payment/19September2025.html">106.65</a></td>
            <td class="govuk-table__cell schedule_paid"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Aug 2025</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">Deduction from earnings</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="payment/19August2025.html">106.65</a></td>
            <td class="govuk-table__cell schedule_paid"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Jul 2025</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">Deduction from earnings</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="payment/19July2025.html">106.65</a></td>
            <td class="govuk-table__cell schedule_paid"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Jun 2025</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">Deduction from earnings</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="payment/19June2025.html">106.65</a></td>
            <td class="govuk-table__cell schedule_paid"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 May 2025</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">Deduction from earnings</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="payment/19May2025.html">106.65</a></td>
            <td class="govuk-table__cell schedule_paid"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Apr 2025</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">Deduction from earnings</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="payment/19April2025.html">106.65</a></td>
            <td class="govuk-table__cell schedule_paid"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Mar 2025</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">Deduction from earnings</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="payment/19March2025.html">106.65</a></td>
            <td class="govuk-table__cell schedule_paid"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Feb 2025</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">Deduction from earnings</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="payment/19Feburary2025.html">106.65</a></td>
            <td class="govuk-table__cell schedule_paid"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Jan 2025</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">Deduction from earnings</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="payment/19January2025.html">106.65</a></td>
            <td class="govuk-table__cell schedule_paid"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Dec 2024</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">Deduction from earnings</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="payment/19December2024.html">106.65</a></td>
            <td class="govuk-table__cell schedule_paid"></td>
          </tr>
  
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">27 Sep 2024</td>
            <td class="govuk-table__cell">11</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">17.65</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">20 Sep 2024</td>
            <td class="govuk-table__cell">11</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">17.65</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">13 Sep 2024</td>
            <td class="govuk-table__cell">11</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">17.65</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">06 Sep 2024</td>
            <td class="govuk-table__cell">11</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">17.65</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 Aug 2024</td>
            <td class="govuk-table__cell">11</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">17.65</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <!-- Removed due to API limitations -->
          <!--
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">23 Aug 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">16 Aug 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">09 Aug 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">02 Aug 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">26 Jul 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Jul 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">12 Jul 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">05 Jul 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">28 Jun 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">21 Jun 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">14 Jun 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">07 Jun 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">31 May 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">24 May 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">17 May 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">10 May 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">03 May 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">26 Apr 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Apr 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">12 Apr 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">05 Apr 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">29 Mar 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">22 Mar 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">15 Mar 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">08 Mar 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">01 Mar 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">23 Feb 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">16 Feb 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">09 Feb 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">02 Feb 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">26 Jan 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Jan 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>-->
  
  
        </tbody>
      </table>
    </div>

    <script defer>
      import('https://unpkg.com/@ukic/web-components/loader').then((module) => {
        module.defineCustomElements();
      });
      // The ICDS has types available if your JavaScript framework allows for use with TypeScript
      // Below is an example of how to import an ICDS type
      // import type { IcAlignment } from 'https://unpkg.com/@ukic/web-components/';
    </script>
</div>
</div>

{% endblock %}



