{% extends "layouts/internal-service.html" %}

{% block pageTitle %}
 What’s new – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/ukic-components-source.html"%}

     <header>
      <div class="dwp-header govuk-header hmrc-header hmrc-header--with-additional-navigation " data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container ">
          <div class="govuk-header__content">
            <a href="ef-finances.html" class="govuk-header__link govuk-header__service-name">
              View parent finances
            </a>
          </div>
          <nav class="hmrc-sign-out-nav">
            <ul class="moj-header__navigation-list">
              <li class="moj-header__navigation-item">
                <a class="moj-header__navigation-link" href="ef-whats-new.html" aria-current="page">
                  What’s new</a>
              </li>
              <li class="moj-header__navigation-item">
                <a class="moj-header__navigation-link" href="ef-about.html">About</a>
              </li>
            </ul>
          </nav>
    </div>
      </div>
    </header>

{% endblock %}

{% block content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a target="_blank" class="govuk-link" href="https://forms.office.com/pages/responsepage.aspx?id=6fbxllcQF0GsKIDN_ob4w77Q_GYcDs9Jhep7t9aicRxUNE5IUE1BTE5TQjFNQUFJVUtGODhQSElFRi4u&route=shorturl">give your feedback (opens in new tab)</a>.
    </span>
  </p>
</div>

<!--<div class="moj-primary-navigation">
  <div class="moj-primary-navigation__container">
    <div class="moj-primary-navigation__nav">
      <nav class="moj-primary-navigation" aria-label="Primary navigation">
        <ul class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="ef-finances.html">Finances</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="ef-statements.html">Statement</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="ef-payment-plan.html">Payment plan</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="ef-case-information.html">Case</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>-->

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <a onclick="history.back()" class="govuk-back-link">Back</a>
</nav>

<h1 class="govuk-heading-xltwo">
  What’s new
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

       <div class="updates-form-group">
      <div id="more-detail-hint" class="govuk-hint">
        14 April 2025
      </div>
      <h2 class="govuk-heading-m">View parent finances features </h2>
      <p class="govuk-body">This version includes:</p>
      <ul class="govuk-list">
      <ul class="govuk-list govuk-list--bullet">
        <li>a summary of the paying parent’s finances</li>
        <li>a statement showing all transactions from the start of the case up to today</li>
        <li>Payment plan</li>
        <li>how much of each planned payment will go to child maintenance, collection charges and repaying debt</li>
        <li>basic details about the receiving parent and qualifying children</li>
      </ul>
    </div>

    
    <!--<nav class="govuk-pagination" aria-label="Pagination">
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Previous<span class="govuk-visually-hidden"> page</span>
          </span>
        </a>
      </div>
      <ul class="govuk-pagination__list ">
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
            1
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
            2
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
            3
          </a>
        </li>
      </ul>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next">
          <span class="govuk-pagination__link-title">
            Next<span class="govuk-visually-hidden"> page</span>
          </span>
          <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
        </a>
      </div>
    </nav> -->
   
  </div>
</div>

<style>
.govuk-table__body .govuk-table__header {
  text-align: right;
}
</style>

{% endblock %}




