{% extends "layouts/old-main.html" %}

{% block pageTitle %}
  Finances – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/ukic-components-source.html"%}
  {% include "includes/dwp-internal-service-header.html"%}
{% endblock %}

{% block content %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
      <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a target="_blank" class="govuk-link" href="https://forms.office.com/pages/responsepage.aspx?id=6fbxllcQF0GsKIDN_ob4w77Q_GYcDs9Jhep7t9aicRxUNE5IUE1BTE5TQjFNQUFJVUtGODhQSElFRi4u&route=shorturl">give your feedback (opens in new tab)</a>.
    </span>
    </p>
  </div>

  <div class="dwp-quick-reference dwp-quick-reference--alternative" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Steven Oblonsky</dd>
      <dd class="dwp-quick-reference__status">
        <strong class="govuk-tag govuk-tag--turquoise">
          Paying parent
        </strong>
        <strong class="govuk-tag govuk-tag--blue">
          Single case
        </strong>
        <strong class="govuk-tag govuk-tag--yellow">
          Manual allocation
        </strong>
      </dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">Reference:</dt>
      <dd class="dwp-quick-reference__secondary">121323454232</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">NI number:</dt>
      <dd class="dwp-quick-reference__secondary">QQ123456C</dd>
    </dl>
  </div>

  <div class="moj-primary-navigation">
    <div class="moj-primary-navigation__container">
      <div class="moj-primary-navigation__nav">
        <nav class="moj-primary-navigation" aria-label="Primary navigation">
          <ul class="moj-primary-navigation__list">
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="page" href="ef-finances.html">Finances</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-statements.html">Statement</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-payment-allocation.html">Payment allocation</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-payment-plan.html">Payment plan</a>
            </li>
            <!--<li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-calculations-1.html">Calculations</a>
            </li>-->
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="case">Case</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <h1 class="govuk-heading-xl ">
    Finances
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <p class="dateRange">
        <span class="govuk-!-font-size-24">
          From the case effective date <strong>8 December 2014</strong> to <strong>6 May 2025</strong>.
         </span>
      </p>
    </div>

    <div class="govuk-grid-column-full">

      <section class="ef-card">
        <div class="dfe-title-cash">
          <h2 id="money-still-owed">Money still owed</h2>
          <p class="govuk-!-font-size-36 govuk-!-font-weight-bold" aria-describedby="money-still-owed" style="float:right;margin-top:.7em;margin-right:.7em;">£34,921.80</p>
          <span class="govuk-caption-m">Cash balance not included</span>
        </div>
        <div class="ef-card-duo">
          <div class="moj-ticket-panel-duo">
            <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
              <h3 class="govuk-body">Child maintenance</h3>
              <p class="govuk-heading-m govuk-!-margin-bottom-2">£31,545.95</p>
            </div>
            <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
              <h3 class="govuk-body">Charges and debt</h3>
              <p class="govuk-heading-m govuk-!-margin-bottom-2">£3,375.85</p>
            </div>
          </div>
        </div>
      </section>

      <section class="ef-card">
        <div class="dfe-title-cash">
          <h2 id="overpayments">Overpayments</h2>
          <p class="govuk-!-font-size-36 govuk-!-font-weight-bold" aria-describedby="overpayments" style="float:right;margin-top:.7em;margin-right:.7em;">£1,652.51</p>
          <span class="govuk-caption-m">Included in the payments made</span>
        </div>
        <div class="ef-card-duo">
          <div class="moj-ticket-panel-trio">
            <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
              <h3 class="govuk-body">Child maintenance</h3>
              <p class="govuk-heading-m govuk-!-margin-bottom-2">£1,101.55</p>
            </div>
            <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
              <h3 class="govuk-body">Charges and debt</h3>
              <p class="govuk-heading-m govuk-!-margin-bottom-2">£220.35</p>
            </div>
            <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
              <h3 class="govuk-body">Cash balance</h3>
              <p class="govuk-heading-m govuk-!-margin-bottom-2">£330.61</p>
            </div>
          </div>
        </div>
      </section>

      <section class="ef-card">
        <div class="dfe-title-cash">
          <h2 id="payments-made">Payments made</h2>
          <p class="govuk-!-font-size-36 govuk-!-font-weight-bold" aria-describedby="payments-made" style="float:right;margin-top:.7em;margin-right:.7em;">£4,213.30</p>
          <span class="govuk-caption-m">Includes cash balance and overpayments</span>
        </div>
        <div class="ef-card-duo">
          <div class="moj-ticket-panel-duo">
            <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
              <h3 class="govuk-body">Child maintenance</h3>
              <p class="govuk-heading-m govuk-!-margin-bottom-2">£3,113.20</p>
            </div>
            <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
              <h3 class="govuk-body">Charges and debt</h3>
              <p class="govuk-heading-m govuk-!-margin-bottom-2">£1,100.10</p>
            </div>
          </div>
          <div class="moj-ticket-panel-duo" style="padding-top: 0;">
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Cash balance £330.61
                </span>
              </summary>
              <div class="govuk-details__text">
                Money paid that cannot be allocated to child maintenance or charges yet.
              </div>
            </details>
          </div>
        </div>
      </section>

      <section class="ef-card">
        <div class="dfe-title-i8">
          <h2 id="amount-written-off">Amount written off</h2>
          <p class="govuk-!-font-size-36 govuk-!-font-weight-bold" aria-describedby="amount-written-off" style="float:right;margin-top:.7em;margin-right:.7em;">£0</p>
        </div>
      </section>

      <section class="ef-card">
        <div class="dfe-title-i8">
          <h2 id="total-expected">Total expected</h2>
          <p class="govuk-!-font-size-36 govuk-!-font-weight-bold" aria-describedby="total-expected" style="float:right;margin-top:.7em;margin-right:.7em;">£34,921.80</p>
        </div>
        <div class="ef-card-duo">
          <div class="moj-ticket-panel-duo" style="grid-template-columns: 47% 51%;">
            <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
              <h3 class="govuk-body">Child maintenance</h3>
              <p class="govuk-heading-m govuk-!-margin-bottom-2">£31,545.95</p>
            </div>
            <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
              <h3 class="govuk-body">Charges and debt</h3>
              <p class="govuk-heading-m govuk-!-margin-bottom-2">£3,375.85</p>

              {# ///////// SUMMARY LIST /////////// #}

              <h4 class="govuk-heading-m govuk-!-margin-top-6">Charges and debt breakdown</h4>
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" style="width:70%">
                    Collection charges
                  </dt>
                  <dd class="govuk-summary-list__value govuk-!-text-align-right">
                    £3,075.85</dd>
                </div>
                <div class="govuk-summary-list__row" style="border-bottom:none;">
                  <dt class="govuk-summary-list__key">Enforcement charges</dt>
                  <dd class="govuk-summary-list__value govuk-!-text-align-right">£300.00</dd>
                </div>
                <section class="govuk-summary-list__row" role="contentinfo" aria="Enforcement charges breakdown">
                  <dt  aria-label="breakdown of £300">
                    <ul class="govuk-list">
                    <li>£20.00 Regular deduction order</li>
                    <li>£100.00 Lump sum deduction order</li>
                    <li>£150.00 Liability order</li>
                    <li>£30.00 Deduction from earnings order or request</li>
                  </ul>
                  </dt>
                  <dd>&nbsp;</dd>
                </section>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Enforcement costs</dt>
                  <dd class="govuk-summary-list__value govuk-!-text-align-right">£160.00</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">CSA debt</dt>
                  <dd class="govuk-summary-list__value govuk-!-text-align-right">£63.45</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">DNA costs</dt>
                  <dd class="govuk-summary-list__value govuk-!-text-align-right">£87.23</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Subject access request costs</dt>
                  <dd class="govuk-summary-list__value govuk-!-text-align-right">£19.00</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Interest</dt>
                  <dd class="govuk-summary-list__value govuk-!-text-align-right">£30.67</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Fees</dt>
                  <dd class="govuk-summary-list__value govuk-!-text-align-right">£22.87</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Judicial review costs</dt>
                  <dd class="govuk-summary-list__value govuk-!-text-align-right">£107.89</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Appeal costs</dt>
                  <dd class="govuk-summary-list__value govuk-!-text-align-right">£43.45</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">CMS administration costs</dt>
                  <dd class="govuk-summary-list__value govuk-!-text-align-right">£26.89</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Liability order administration costs</dt>
                  <dd class="govuk-summary-list__value govuk-!-text-align-right">£54.00</dd>
                </div>
              </dl>
              {# //////////////////// #}

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <style>
    .govuk-table__body .govuk-table__header {
      text-align: right;
    }
  </style>

{% endblock %}