{% extends "layouts/internal-service.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

      {% include "includes/back-link.html" %}
      <span class="govuk-caption-m govuk-!-margin-bottom-2">
        <a class='govuk-link' href='https://dwpdigital.atlassian.net/browse/SAE-1883'>SAE-1883</a>
      </span>
      <h1 class="govuk-heading-l">
          Finance page - a11y fix for 'total expected charges and debt' table 
      </h1>

      <h2 class="govuk-heading-s">Description:</h2>

      <p>The table has no caption or column headers. Cells are being read out of context. And subsection breakdown not being read as such. </p>

      <p>Changes made: </p>
            <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
        <li>
          Convert table to a <dl> definition list (GOVUK summary list pattern).
        </li>
        <li>
          Code the 'Enforcement charges' details subsection as an unordered list within the parent <dl> definition list. Front-load charge amounts to differentiate from the parent amounts list.
        </li>
        <li>
          Add relevant code (role, aria-label, visually hidden text etc) to ensure correct descriptive screen reader commentary.
        </li>
      </ul>
      <h3 class="govuk-heading-s">Page:</h3>
      <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
        <li>
          <a href="ef-finances">
          Finances
        </a>
        </li>
      </ul>

      <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->
    </div>
  </div>

{% endblock %}