{% extends "layouts/internal-service.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

      {% include "includes/back-link.html" %}
      <span class="govuk-caption-m"><a class='govuk-link' href='https://dwpdigital.atlassian.net/browse/SAE-1684'>SAE-1684</a></span>
      <h1 class="govuk-heading-l">
          variation exclusions for MC page
      </h1>

      <h2 class="govuk-heading-s">Description:</h2>

      <p>VPF cannot display calculations that include variations and we need to inform the user and point them to CMS2012.</p>

      <h2 class="govuk-heading-s">Designs:</h2>
      
      <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
        <li>
          <a href="maintenance-calculation--unavailable-variations-moj">
          Calculations include variations
        </a>
        </li>
      </ul>

      <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}--->
    </div>
  </div>

{% endblock %}