{% extends "layouts/internal-service.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

      {% include "includes/back-link.html" %}
      <span class="govuk-caption-m">Jira <a class='govuk-link' href='https://dwpdigital.atlassian.net/browse/SAE-1716'>SAE-1716</a></span>
      <h1 class="govuk-heading-l">
          Initial draft prototype
      </h1>

      <h2 class="govuk-heading-s">Description:</h2>

      <p>Explore solutions for multicase scenarios in VPF.</p>
{# 
      <h3 class="govuk-heading-s">Iterations in progress ** using dropdown pattern **</h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li>
        <a href="1716/multicase-finances.html">
          Finances
        </a>
      </li>
      <li>
        <a href="1716/multicase-statements.html">
          Statements
        </a>
      </li>
      <li>
        <a href="1716/multicase-payment-allocation.html">
          Payment allocations
        </a>
      </li>
      <li>
        <a href="1716/multicase-payment-plan.html">
          Payment plans
        </a>
      </li>
      <li>
        <a href="1716/multicase-payment-plan.html">
          Calculations
        </a>
      </li>            
      <li>
        <a href="1716/multicase-case-information.html">
          Cases
        </a>
      </li>
    </ul> #}

    <h3 class="govuk-heading-s">Pages affected:</h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li>
        <a href="tabs-pattern/multicase-finances.html">
          Finances
        </a>
      </li>
      <li>
        <a href="tabs-pattern/multicase-statements.html">
          Statements
        </a>
      </li>
      {# <li>
        <a href="tabs-pattern/multicase-payment-allocation.html">
          Payment allocations
        </a>
      </li>
      <li>
        <a href="tabs-pattern/multicase-payment-plan.html">
          Payment plans
        </a>
      </li>
      <li>
        <a href="tabs-pattern/multicase-payment-plan.html">
          Calculations
        </a>
      </li>             #}
      <li>
        <a href="tabs-pattern/multicase-case-information.html">
          Cases
        </a>
      </li>
    </ul>

      <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}--->
    </div>
  </div>

{% endblock %}