{% extends "layouts/internal-service.html" %}

<!-- ////// PRESETS ///// -->
{% set number_of_cases = "4" %}
{% set selected_view = "2" %}
{% set case_number = data['caseNumber'] or "0" %}

{% if case_number == '0' %}
{% set effective_from = '8 December 2014' %}
{% elif case_number == '1' %}
{% set other_parent = 'Daria Oblonskaya' %}
{% set case_id = '1-2345999' %}
{% set case_type = 'Pay and collect' %}
{% set effective_from = '8 December 2014' %}
{% set effective_to = '6 May 2025' %}
{% elif case_number == '2' %}
{% set other_parent = 'Ruth Slater' %}
{% set case_id = '1-2345703' %}
{% set case_type = 'Arrears only' %}
{% set effective_from = '21 December 2016' %}
{% set effective_to = '6 May 2025' %}
{% else %}
{% set case_number = '0' %}
{% endif %}

<!-- //////////////////// -->

{% block pageTitle %}
Finances – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/dwp-internal-service-header" %}
{% endblock %}

{% block content %}

{% include "includes/govuk-beta-banner" %}

{% include "includes/dwp-quick-reference-multicase" %}

<!-- /////// NAVIGATION PRIMARY /////// -->
<div class="moj-primary-navigation govuk-!-margin-bottom-5">
  <div class="moj-primary-navigation__container">
    <div class="moj-primary-navigation__nav">
      <nav class="moj-primary-navigation" aria-label="Primary navigation">
        <ul class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" aria-current="page" href="multicase-finances">Finances</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="multicase-statement">Statement</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="multicase-payment-allocation">Payment allocation</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="multicase-payment-plan">Payment
              plans</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="multicase-case-information">Cases ({{  number_of_cases }})</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- {% include "includes/moj-primary-navigation-multicase" %} -->
<!-- /////////////////////////////////// -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if case_number == '0' %}

    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
      Finances for all cases
    </h1>
    <p>Cases effective from <strong>{{ effective_from }}</strong>.
    </p>
    {% else %}

    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
      Finances for case ID {{ case_id }} 
    </h1>

    <p><span class="govuk-body govuk-!-font-size-19"> Paying to <strong>{{ other_parent }}</strong></span>
      {% if case_type == 'Arrears only' %}
        <strong class="govuk-tag govuk-tag--orange">{{ case_type }}</strong>
        {% elif case_type == 'Pay and collect' %}
        <strong class="govuk-tag govuk-tag--turquoise">{{ case_type }}</strong>
      {% endif %}
    </p>

    <p>Case effective from <strong>{{ effective_from}}</strong> to <strong>{{ effective_to}}</strong>.
    </p>
    {% endif %}

{# /////////////////////////////// #}
{# Form autosubmits the selected value as 'caseNumber' #}
{# Trigers 'getSelectValue();' defined in script block #}
{# /////////////////////////////// #}
    {% from "govuk/components/select/macro.njk" import govukSelect %}

    <form>
      <div class="govuk-form-group">
        <label class="govuk-label" for="caseNumber">
          Change case
        </label>
        <!-- <div id="cases-hint" class="govuk-hint">
        This can be different to where you went before </div> -->
        <select class="govuk-select" id="caseNumber" name="caseNumber" aria-describedby="cases-hint"
          onchange="this.form.submit()">

          <option value="0" {% if case_number == "0" %}selected{% endif %}>All cases</option>

          <option value="1" {% if case_number == "1" %}selected{% endif %}>Daria Oblonskaya &ndash; 1-2345999
          </option>

          <option value="2" {% if case_number == "2" %}selected{% endif %}>Ruth 
            Slater &ndash; 1-2345703
          </option>
        </select>
        <noscript><input type=”submit” value=”Submit”></noscript>
      </div>
    </form>  

  <!-- /////////////////////////// -->

{% if case_number == '0' %}
{% include "includes/multicase/finance-amounts--case-all" %}
{% elif case_number == '1' or '2' %}
{% include "includes/multicase/finance-amounts--case-1" %}
{% endif %}

  </div>

</div>

<!-- //////////////////////////// -->
<!-- /////////////////////////// -->

<!-- <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Charges and debt</h2>
    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">Total expected</dt>
        <dd class="govuk-summary-list__value">£662.23</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Collection charges</dt>
        <dd class="govuk-summary-list__value">£5,444.55</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Enforcement charges
          <ul class="govuk-list enforcement-charges govuk-body-s govuk-list--bullet">
            <li>Regular deduction order</li>
            <li>Lump sum deduction order</li>
            <li>Liability order</li>
            <li>Deduction from earnings order or request</li>
          </ul>
        </dt>
        <dd class="govuk-summary-list__value">£350.00
          <ul class="govuk-list enforcement-charges govuk-body-s">
            <li>£20.00</li>
            <li>£100.00</li>
            <li>£200.00</li>
            <li>£30.00</li>
          </ul>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Enforcement costs</dt>
        <dd class="govuk-summary-list__value">£160.00</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">CSA debt</dt>
        <dd class="govuk-summary-list__value">£63.45</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">DNA costs</dt>
        <dd class="govuk-summary-list__value">£87.23</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Subject access request costs</dt>
        <dd class="govuk-summary-list__value">£19.00</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Interest</dt>
        <dd class="govuk-summary-list__value">£30.67</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Fees</dt>
        <dd class="govuk-summary-list__value">£22.87</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Judicial review costs</dt>
        <dd class="govuk-summary-list__value">£107.89</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Appeal costs</dt>
        <dd class="govuk-summary-list__value">£43.45</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">CMS administration costs</dt>
        <dd class="govuk-summary-list__value">£26.89</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Liability order administration costs</dt>
        <dd class="govuk-summary-list__value">£54.00</dd>
      </div>
    </dl>

  </div> -->

<!-- ////////////////////////////////// -->
<!-- ////////////////////////////////// -->
<!-- ////////////////////////////////// -->

</div>
<!-- ////////////////////////////////// -->
<!-- ////////////////////////////////// -->
<!-- ////////////////////////////////// -->

{% endblock %}