
{% extends "layouts/internal-service.html" %}

<!-- ////// PRESETS ///// -->
{% set number_of_cases = "4" %}
{% set selected_view = "2" %}
<!-- //////////////////// -->

{% block pageTitle %}
Payment plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/dwp-internal-service-header" %}
{% endblock %}

{% block content %}

{% include "includes/govuk-beta-banner" %}

{% include "includes/dwp-quick-reference-multicase" %}

<!-- /////// NAVIGATION PRIMARY /////// -->
<div class="moj-primary-navigation govuk-!-margin-bottom-5">
  <div class="moj-primary-navigation__container">
    <div class="moj-primary-navigation__nav">
      <nav class="moj-primary-navigation" aria-label="Primary navigation">
        <ul class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="multicase-finances.html">Finances</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="multicase-statements.html">Statement</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="multicase-payment-allocation.html">Payment allocation</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" aria-current="page" href="multicase-payment-plan.html">Payment
              plans</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="multicase-case-information.html">Cases ({{ number_of_cases
              }})</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- {% include "includes/moj-primary-navigation-multicase" %} -->
<!-- /////////////////////////////////// -->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
      Payment plan for case ID 1-2345703
    </h1>
    <p><span class="govuk-body govuk-!-font-size-19"> Paying to <strong>Ruth Slater</strong> </span><strong
        class="govuk-tag govuk-tag--turquoise">Arrears only</strong>
    </p>
    <p>Case effective from <strong>8 December 2014</strong> to <strong>6 May 2025</strong>.
     </p>




    {% from "govuk/components/select/macro.njk" import govukSelect %}

    <form>
      <div class="govuk-form-group">
        <label class="govuk-label" for="finances">
          Select case
        </label>
        <!-- <div id="finances-hint" class="govuk-hint">
        This can be different to where you went before </div> -->
        <select class="govuk-select" id="finances" name="finances" aria-describedby="finances-hint">
          {% if selected_view == "all" %}
          <option value="Total" selected>All cases</option>
          <option value="financesCase1">Daria Oblonskaya &ndash; 1-2345999</option>
          <option value="financesCase2">Ruth Slater &ndash; 1-2345703</option>
          {% elif selected_view == "1" %}
          <option value="Total">All cases</option>
          <option value="financesCase1" selected>Daria Oblonskaya &ndash; 1-2345999</option>
          <option value="financesCase2">Ruth Slater &ndash; 1-2345703</option>
          {% elif selected_view == "2" %}
          <option value="Total">All cases</option>
          <option value="financesCase1">Daria Oblonskaya &ndash; 1-2345999</option>
          <option value="financesCase2" selected>Ruth Slater &ndash; 1-2345703</option>
          {% endif %}
        </select>
      </div>
    </form>

  
      <div class="govuk-phase-bannerTwo">
          <span class="dateRange__text">
            Payments scheduled up to the next annual review and those from the past year.
           </span>
      </div>
  
    
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header schedule_date">Collection</th>
            <th scope="col" class="govuk-table__header">Version</th>
            <th scope="col" class="govuk-table__header schedule_method">Method</th>
            <th scope="col" class="govuk-table__header schedule_due">Due (£)</th>
            <th scope="col" class="govuk-table__header schedule_paid">Paid (£)</th>
            <!--<th scope="col" class="govuk-table__header">Status</th>-->
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Oct 2025</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">Deduction from earnings</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="payment-plan-expected/ef-pp-19 Oct 25">106.65</a></td>
            <td class="govuk-table__cell schedule_paid"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Sep 2025</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">Deduction from earnings</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="payment-plan-expected/ef-pp-19 Sep 25">106.65</a></td>
            <td class="govuk-table__cell schedule_paid"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Aug 2025</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">Deduction from earnings</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="payment-plan-expected/ef-pp-19 Aug 25">106.65</a></td>
            <td class="govuk-table__cell schedule_paid"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Jul 2025</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">Deduction from earnings</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="payment-plan-expected/ef-pp-19 Jul 25">106.65</a></td>
            <td class="govuk-table__cell schedule_paid"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Jun 2025</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">Deduction from earnings</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="payment-plan-expected/ef-pp-19 Jun 25">106.65</a></td>
            <td class="govuk-table__cell schedule_paid"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 May 2025</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">Deduction from earnings</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="payment-plan-expected/ef-pp-19 May 25">106.65</a></td>
            <td class="govuk-table__cell schedule_paid"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Apr 2025</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">Deduction from earnings</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="payment-plan-expected/ef-pp-19 Apr 25">106.65</a></td>
            <td class="govuk-table__cell schedule_paid"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Mar 2025</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">Deduction from earnings</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="payment-plan-expected/ef-pp-19 Mar 25">106.65</a></td>
            <td class="govuk-table__cell schedule_paid"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Feb 2025</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">Deduction from earnings</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="payment-plan-expected/ef-pp-19 Feb 25">106.65</a></td>
            <td class="govuk-table__cell schedule_paid"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Jan 2025</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">Deduction from earnings</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="payment-plan-expected/ef-pp-19 Jan 25">106.65</a></td>
            <td class="govuk-table__cell schedule_paid"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Dec 2024</td>
            <td class="govuk-table__cell">12</td>
            <td class="govuk-table__cell">Deduction from earnings</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="payment-plan-expected/ef-pp-19 Dec 24">106.65</a></td>
            <td class="govuk-table__cell schedule_paid"></td>
          </tr>
  
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">27 Sep 2024</td>
            <td class="govuk-table__cell">11</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">17.65</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">20 Sep 2024</td>
            <td class="govuk-table__cell">11</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">17.65</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">13 Sep 2024</td>
            <td class="govuk-table__cell">11</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">17.65</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">06 Sep 2024</td>
            <td class="govuk-table__cell">11</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">17.65</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 Aug 2024</td>
            <td class="govuk-table__cell">11</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">17.65</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <!-- Removed due to API limitations -->
          <!--
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">23 Aug 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">16 Aug 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">09 Aug 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">02 Aug 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">26 Jul 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Jul 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">12 Jul 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">05 Jul 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">28 Jun 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">21 Jun 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">14 Jun 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">07 Jun 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">31 May 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">24 May 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">17 May 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">10 May 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">03 May 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">26 Apr 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Apr 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">12 Apr 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">05 Apr 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">29 Mar 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">22 Mar 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">15 Mar 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">08 Mar 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">01 Mar 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">23 Feb 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">16 Feb 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">09 Feb 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">02 Feb 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">26 Jan 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">19 Jan 2024</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Direct pay</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell schedule_paid">0</td>
          </tr>-->
  
  
        </tbody>
      </table>
    </div>

    <script defer>
      import('https://unpkg.com/@ukic/web-components/loader').then((module) => {
        module.defineCustomElements();
      });
      // The ICDS has types available if your JavaScript framework allows for use with TypeScript
      // Below is an example of how to import an ICDS type
      // import type { IcAlignment } from 'https://unpkg.com/@ukic/web-components/';
    </script>
</div>
</div>

{% endblock %}

{% block footer %}

<footer class="enforcement-footer" role="contentinfo">
  <div class="govuk-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <h2 class="govuk-visually-hidden">Footer links</h2>
            <ul class="govuk-footer__inline-list">
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="ef-accessibility.html">
                    Accessibility statement
                  </a>
                </li>
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="#">
                    Privacy policy
                  </a>
                </li>
            </ul>

      </div>
    </div>
  </div>
</footer>

<style>
  .govuk-footer {
    display: none;
  }
  .enforcement-footer {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.1428571429;
    padding-top: 25px;
    padding-bottom: 15px;
    border-top: 1px solid #b1b4b6;
    color: #0b0c0c;
    background: #f3f2f1;
  }
  @media (min-width: 40.0625em) {
    .enforcement-footer {
        padding-bottom: 25px;
    }
}
@media (min-width: 40.0625em) {
    .enforcement-footer {
        padding-top: 40px;
    }
}

@media (min-width: 40.0625em) {
    .enforcement-footer {
        font-size: 1rem;
        line-height: 1.25;
    }
}
</style>


{% endblock %}

