{% extends "layouts/internal-service.html" %}

<!-- ////// PRESETS ///// -->
{% set number_of_cases = "4" %}
{% set active_cases = "2" %}
{% set selected_view = "2" %}
{% set rp1 = "Daria Oblonskaya 1&#8209;2345999" %}
{% set rp2 = "Ruth Slater 1&#8209;2345703" %}

<!-- //////////////////// -->

{% block pageTitle %}
Finances – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/ukic-components-source.html" %}
  {% include "includes/dwp-internal-service-header.html"%}
{% endblock %}

{% block content %}

  {% include "includes/govuk-beta-banner" %}

  {% include "includes/vpf/dwp-quick-reference-multicase-manual" %}

  <!-- /////// NAVIGATION PRIMARY /////// -->
  <div class="moj-primary-navigation govuk-!-margin-bottom-5">
    <div class="moj-primary-navigation__container">
      <div class="moj-primary-navigation__nav">
        <nav class="moj-primary-navigation" aria-label="Primary navigation">
          <ul class="moj-primary-navigation__list">
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="multicase-case">Cases ({{ number_of_cases
              }})</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="page" href="multicase-finances--with-breakdown">Finances</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="multicase-statement--all">Statement</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="multicase-payment-allocation">Payment allocation</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="multicase-payment-plan">Payment
              plans</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!-- {% include "includes/vpf/moj-primary-navigation-multicase" %} -->
  <!-- /////////////////////////////////// -->

  {% from "govuk/components/select/macro.njk" import govukSelect %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      Finances
      </h1>
      {# /////////// TABS ////////////// #}
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
            Contents
          </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#total">
            Total
          </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#daria">
              Daria Oblonskaya 1-2345999
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#ruth">
              Ruth Slater 1-2345112
            </a>
          </li>
        </ul>

        <div class="govuk-tabs__panel" id="total">
          <h2 class="govuk-heading-m">Total for {{ active_cases }} active cases</h2>
          <p>The next annual review will be on <strong>7 October 2026</strong>.</p>
          {% include "includes/vpf/ur19/finance-amounts--case-all--with-breakdown" %}
        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="daria">
          <h2 class="govuk-heading-m">Paying to <strong>Daria Oblonskaya</strong>
            <strong class="govuk-tag govuk-tag--orange">Collect and pay</strong>
          </h2>
          <p>Case ID: <strong>1-2345999</strong>.</br> Effective from <strong>7 October 2021</strong>. The next annual review will be on <strong>7 October 2026</strong>.
          </p>
          {% include "includes/vpf/ur19/finance-amounts--case-1" %}
        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="ruth">
          <h2 class="govuk-heading-m">Paying to <strong>Ruth Slater</strong>
            <strong class="govuk-tag govuk-tag--turquoise">Arrears only</strong>
          </h2>
          <p>Case ID: <strong>1-2345112</strong>.</br> Effective from <strong>21 Nov 2022</strong>. The next annual review will be on <strong>21 Nov 2026</strong>.
          </p>
          {% include "includes/vpf/ur19/finance-amounts--case-2" %}
        </div>
      </div>
    </div>
  </div>


  <!-- ////////////////////////////////// -->
{% include "includes/back-to-top-link" %}
  <!-- ////////////////////////////////// -->

{% endblock %}