{% extends "layouts/internal-service.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/ukic-components-source.html" %}
  
  <header>
    <div class="dwp-header govuk-header hmrc-header hmrc-header--with-additional-navigation " data-module="govuk-header">
      <div class="govuk-header__container govuk-width-container ">
        <div class="govuk-header__content">
          <a href="/index.html" class="govuk-header__link govuk-header__service-name">
            View parent finances
          </a>
        </div>
       
  </div>
    </div>
  </header>
  
  
  <!--{% from "internal-service-header/macro.njk" import dwpHeader %}

{{
    dwpHeader({
        serviceName: "Service name",
        serviceHref: '/index.html',
        container: true,
        navigation: {
          
      }  
    })
}}
{% from "key-details-bar/macro.njk" import dwpKeyDetailsBar %}-->

{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
       What is the paying parent’s reference?
      </h1>

      <!--<p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>find something</li>
        <li>see something</li>
        <li>help with something</li>
      </ul>-->

      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-town">
           Enter SCIN number
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="addressTown" type="text" autocomplete="address-level2">
        </div>
      </fieldset>



      {{ govukButton({
        text: "Search",
        href: "cms-search-reesults.html",
        isStartButton: true
      }) }}

     
    </div>


  </div>

{% endblock %}
