{% extends "layouts/internal-service.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

      {% include "includes/back-link.html" %}
      <span class="govuk-caption-m govuk-!-margin-bottom-2">
        <a class='govuk-link' href='https://dwpdigital.atlassian.net/browse/SAE-1818'>SAE-1818</a>
      </span>
      <h1 class="govuk-heading-l">
          Finance page - fix accessibility issues WCAG 2.2 - 1.3.1
      </h1>

      <h2 class="govuk-heading-s">Description:</h2>

      <p>Various WCAG 2.2 accessibility issues have been identified on the Finance page.</p>

      <p>Changes made: </p>
            <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
        <li>
          Rearrange and reassign heading to screen read an accurate document structure.
        </li>
      </ul>
      <h3 class="govuk-heading-s">Page:</h3>
      <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
        <li>
          <a href="ef-finances">
          Finances
        </a>
        </li>
      </ul>

      <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->
    </div>
  </div>

{% endblock %}