{% extends "layouts/internal-service.html" %}

{% block pageTitle %}
  Statement – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/ukic-components-source.html" %}
  {% from "internal-service-header/macro.njk" import dwpHeader %}
  {% include "includes/dwp-internal-service-header" %}
{% endblock %}

{% block content %}
  {% include "includes/govuk-beta-banner" %}
  {% include "includes/vpf/dwp-quick-reference-single-manual" %}

  <div class="moj-primary-navigation">
    <div class="moj-primary-navigation__container">
      <div class="moj-primary-navigation__nav">
        <nav class="moj-primary-navigation" aria-label="Primary navigation">
          <ul class="moj-primary-navigation__list">
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="../ef-finances">Finances</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="../ef-statements">Statement</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="../ef-payment-allocation">Payment allocation</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="../ef-payment-plan">Payment plan</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="../ef-calculations">Calculations</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="../ef-case">Case</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "includes/back-link.html" %}

      <h1 class="govuk-heading-xl govuk-!-margin-top-2 govuk-!-margin-bottom-2">
  Statement
</h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <p class="dateRange">
            <span class="govuk-!-font-size-24">
         From the case effective date <strong>8 December 2014</strong> to <strong>6 May 2025</strong>.
       </span>
          </p>
        </div>

        <div class="govuk-grid-column-full">
          <div class="ef-card">
            <div class="dfe-title-i8">
              <h2>Finance summary</h2>
            </div>
            <div class="ef-card-trio-v2">
              <article class="moj-ticket-panel-trio-v2" aria-label="Sub navigation 1">
                <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
                  <p class="govuk-body">Money still owed</p>
                  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£307.58</h2>
                </section>
                <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
                  <p class="govuk-body">Payments made</p>
                  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£1,597.92</h2>
                </section>
                <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
                  <p class="govuk-body">Total expected</p>
                  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£1,905.49</h2>
                </section>
                <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
                  <p class="govuk-body">Amount written off</p>
                  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£19.34</h2>
                </section>
                <!--<section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
            <p class="govuk-body">Overpayments</p>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">25.43</h2>
          </section>-->
              </article>
            </div>
          </div>

          <div class="moj-button-group moj-button-group--inline">
            <div class="moj-button-menu" data-module="moj-button-menu" data-button-text="Payments received" data-button-classes="toggle-button">
              <a href="../ef-statements.html" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">
          All transactions
        </a>

              <a href="ef-statements-credits.html" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">
          All credits
        </a>
            </div>
          </div>

          <!-- table -->

          <table class="govuk-table" data-module="moj-sortable-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Statement details</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th role="columnheader" scope="col" data-sort-type="date" class="govuk-table__header" aria-sort="descending">Date</th>
                <th scope="col" class="govuk-table__header">Description</th>
                <th scope="col" class="govuk-table__header numerical">Credit (£)</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell statement_date" data-sort-value="2024-11-19">19 Nov 2024</td>
                <td class="govuk-table__cell statement_description">Payment received from you - DDR</td>
                <td class="govuk-table__cell statement_amount">
                  <a class="govuk-link" href="received-19-nov-24">24.61</a>
                </td>
                <!--<td class="govuk-table__cell statement_amount"></td>-->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-sort-value="2024-11-9">9 Nov 2024</td>
                <td class="govuk-table__cell_last">Payment received from you - DDR</td>
                <td class="govuk-table__cell statement_amount">
                  <a class="govuk-link" href="received-9-nov-24">73.84</a>
                </td>
                <!--<td class="govuk-table__cell statement_amount"></td>-->
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell statement_date" data-sort-value="2021-9-24">24 Sep 2021</td>
                <td class="govuk-table__cell statement_description">Payment received from you - CRD</td>
                <td class="govuk-table__cell statement_amount">239.40</td>
                <!--<td class="govuk-table__cell statement_amount"></td>-->
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    {% endblock %}