{% extends "layouts/internal-service.html" %}

{% block pageTitle %}
  Finances – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/ukic-components-source.html"%}

     <header>
      <div class="dwp-header govuk-header hmrc-header hmrc-header--with-additional-navigation " data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container ">
          <div class="govuk-header__content">
            <a href="/index.html" class="govuk-header__link govuk-header__service-name">
              View parent finances
            </a>
          </div>
          <!--<nav class="hmrc-sign-out-nav">
            <a class="govuk-link hmrc-sign-out-nav__link" href="#">Close</a>
          </nav>-->
    </div>
      </div>
    </header>
{% endblock %}

{% block content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.
    </span>
  </p>
</div>

<section class="dwp-quick-reference dwp-quick-reference--alternative" aria-label="Case information">
  <dl class="dwp-quick-reference__block">
  <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
  <dd class="dwp-quick-reference__primary">Jane Doe</dd>
  <dd class="dwp-quick-reference__status">
    <strong class="govuk-tag govuk-tag--turquoise">
      Paying parent
    </strong>
    <strong class="govuk-tag govuk-tag--blue">
      Single case
    </strong>
  </dd>
  <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">Reference:</dt>
  <dd class="dwp-quick-reference__secondary">121323454332</dd>
  <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">NI number:</dt>
  <dd class="dwp-quick-reference__secondary">QQ123456C</dd>
  </dl>
  </section>

<style>
.govuk-table__body .govuk-table__header {
  text-align: right;
}
.govuk-template__body{
  display: block;
    height: 1322px;
}
.govuk-footer{ 
  display:none;
}
</style>

{% endblock %}
