{% extends "layouts/internal-service.html" %}

{% set pageName = "Home" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

      <h1 class="govuk-heading-l">
      Label for drop down selectors 
    </h1>

      <h2 class="govuk-heading-m">Jira: 
        <a href="https://dwpdigital.atlassian.net/browse/SAE-1674?focusedCommentId=3066965&sourceType=mention">
          SEA-1674
        </a>
      </h2>
      <h3 class="govuk-heading-s">Pages changed:</h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">

          <li>
            <a href="ef-statements">
          Statement -- "Select type"
        </a>

          </li>
          <li>
            <a href="ef-payment-allocation">
          Payment allocation -- "Select period"
        </a>

          </li>
        </ul>


      </div>
    </div>

  {% endblock %}