{% extends "layouts/internal-service.html" %}

{% block pageTitle %}
 What’s new – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/ukic-components-source.html"%}

     <header>
      <div class="dwp-header govuk-header hmrc-header hmrc-header--with-additional-navigation " data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container ">
          <div class="govuk-header__content">
            <a href="ef-finances.html" class="govuk-header__link govuk-header__service-name">
              View parent finances
            </a>
          </div>
          <nav class="hmrc-sign-out-nav">
            <ul class="moj-header__navigation-list">
              <li class="moj-header__navigation-item">
                <a class="moj-header__navigation-link" href="ef-whats-new.html" aria-current="page">
                  What’s new</a>
              </li>
              <li class="moj-header__navigation-item">
                <a class="moj-header__navigation-link" href="ef-about.html">About</a>
              </li>
            </ul>
          </nav>
    </div>
      </div>
    </header>

{% endblock %}

{% block content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a target="_blank" class="govuk-link" href="https://forms.office.com/pages/responsepage.aspx?id=6fbxllcQF0GsKIDN_ob4w77Q_GYcDs9Jhep7t9aicRxUNE5IUE1BTE5TQjFNQUFJVUtGODhQSElFRi4u&route=shorturl">give your feedback (opens in new tab)</a>.
    </span>
  </p>
</div>

<!--<div class="moj-primary-navigation">
  <div class="moj-primary-navigation__container">
    <div class="moj-primary-navigation__nav">
      <nav class="moj-primary-navigation" aria-label="Primary navigation">
        <ul class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="ef-finances.html">Finances</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="ef-statements.html">Statement</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="ef-payment-plan.html">Payment plan</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="ef-case-information.html">Case</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>-->

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <a onclick="history.back()" class="govuk-back-link">Back</a>
</nav>

<h1 class="govuk-heading-xltwo">
  What’s new
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

       <div class="updates-form-group">
      <div id="more-detail-hint" class="govuk-hint">
        14 April 2025
      </div>
      <h2 class="govuk-heading-m">View parent finances features </h2>
      <p class="govuk-body">This version includes:</p>
      <ul class="govuk-list">
      <ul class="govuk-list govuk-list--bullet">
        <li>a summary of the paying parent’s finances</li>
        <li>a statement showing all transactions from the start of the case up to today</li>
        <li>Payment plan</li>
        <li>how much of each planned payment will go to child maintenance, collection charges and repaying debt</li>
        <li>basic details about the receiving parent and qualifying children</li>
      </ul>
    </div>
   
  </div>
</div>

<style>
.govuk-table__body .govuk-table__header {
  text-align: right;
}
</style>

{% endblock %}




