{% extends "layouts/main.html" %}

{% block pageTitle %}
  Payments – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui@5.0.2/dist/css/coreui.min.css" rel="stylesheet" integrity="sha384-39e9UaGkm/+yp6spIsVfzcs3j7ac7G2cg0hzmDvtG11pT1d7YMnOC26w4wMPhzsL" crossorigin="anonymous">
  <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/@ukic/fonts/dist/fonts.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/@ukic/web-components/dist/core/core.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/@ukic/web-components/dist/core/normalize.css"
      crossorigin="anonymous"
    />
  {% from "internal-service-header/macro.njk" import dwpHeader %}

  <header>
    <div class="dwp-header govuk-header hmrc-header hmrc-header--with-additional-navigation " data-module="govuk-header">
      <div class="govuk-header__container govuk-width-container ">
        <div class="govuk-header__content">
          <a href="/index.html" class="govuk-header__link govuk-header__service-name">
            View parent finances
          </a>
        </div>
        <!--<nav class="hmrc-sign-out-nav">
            <a class="govuk-link hmrc-sign-out-nav__link" href="#">Close</a>
          </nav>-->
  </div>
    </div>
  </header>

{% endblock %}

{% block content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.
    </span>
  </p>
</div>

<section class="dwp-quick-reference dwp-quick-reference--alternative" aria-label="Case information">
  <dl class="dwp-quick-reference__block">
  <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
  <dd class="dwp-quick-reference__primary">Steven Oblonsky</dd>
  <dd class="dwp-quick-reference__status">
    <strong class="govuk-tag govuk-tag--turquoise">
      Paying parent
    </strong>
    <strong class="govuk-tag govuk-tag--blue">
      Single case
    </strong>
  </dd>
  <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">Reference:</dt>
  <dd class="dwp-quick-reference__secondary">121323454232</dd>
  <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">NI number:</dt>
  <dd class="dwp-quick-reference__secondary">QQ123456C</dd>
  </dl>
  </section>


  <div class="moj-primary-navigation">

    <div class="moj-primary-navigation__container">
  
      <div class="moj-primary-navigation__nav">
  
        <nav class="moj-primary-navigation" aria-label="Primary navigation">
          <ul class="moj-primary-navigation__list">
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-finances.html">Finances</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="page" href="ef-payments.html">Payments</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-statements.html">Statement</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-paymentplan.html">Payment plans</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-caseinformation.html">Case</a>
            </li>
          </ul>

        </nav>
  
      </div>
    </div>
  
  </div>

  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="ef-payments.html">Payments</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Allocate payments
      </li>
    </ol>
  </nav>



<h1 class="govuk-heading-xltwo">
  Allocate payments
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="dateRange">
      <span class="dateRange__text">
        How we shared out the <strong>£24.61</strong> paid on <strong>19 November 2024</strong>.
       </span>
     </p>
  </div>

  <div class="govuk-grid-column-full">

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Posted</th>
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">Amount</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">19 Nov 2024</td>
          <td class="govuk-table__cell_last">Child maintenance due - 3020913856</td>
          <td class="govuk-table__cell">£20.54</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">19 Nov 2024</td>
          <td class="govuk-table__cell_last">Collection charges</td>
          <td class="govuk-table__cell">£4.07</td>
        </tr>
        
      </tbody>
    </table>


  </div>

</div>
{% endblock %}
