{% extends "layouts/internal-service.html" %}

{% block pageTitle %}
  Statement – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/ukic-components-source.html" %}
  {% include "includes/dwp-internal-service-header.html"%}

{% endblock %}

{% block content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a target="_blank" class="govuk-link" href="https://forms.office.com/pages/responsepage.aspx?id=6fbxllcQF0GsKIDN_ob4w77Q_GYcDs9Jhep7t9aicRxUNE5IUE1BTE5TQjFNQUFJVUtGODhQSElFRi4u&route=shorturl">give your feedback (opens in new tab)</a>.
    </span>
  </p>
</div>

<section class="dwp-quick-reference dwp-quick-reference--alternative" aria-label="Case information">
  <dl class="dwp-quick-reference__block">
  <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
  <dd class="dwp-quick-reference__primary">Steven Oblonsky</dd>
  <dd class="dwp-quick-reference__status">
    <strong class="govuk-tag govuk-tag--turquoise">
      Paying parent
    </strong>
    <strong class="govuk-tag govuk-tag--blue">
      Single case
    </strong>
  </dd>
  <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">Reference:</dt>
  <dd class="dwp-quick-reference__secondary">121323454232</dd>
  <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">NI number:</dt>
  <dd class="dwp-quick-reference__secondary">QQ123456C</dd>
  </dl>
  </section>

  <div class="moj-primary-navigation">
    <div class="moj-primary-navigation__container">
      <div class="moj-primary-navigation__nav">
        <nav class="moj-primary-navigation" aria-label="Primary navigation">
          <ul class="moj-primary-navigation__list">
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="../ef-finances.html">Finances</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="page"  href="#">Statement</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="../ef-payment-plan.html">Payment plan</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="../ef-case-information.html">Case</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  {% include "includes/back-link.html" %}

<h1 class="govuk-heading-xltwo">
  Payment allocation
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="dateRange">
      <span class="dateRange__text">
        Shows how the system shared the payment received on <strong>19 November 2024</strong>.
       </span>
     </p>
  </div>

  <div class="govuk-grid-column-full">

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Received</th>
          <th scope="col" class="govuk-table__header">Posted date</th>
          <th scope="col" class="govuk-table__header">Paid</th>
          <th scope="col" class="govuk-table__header statement_39_end">Amount (£)</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell statement_date">19 Nov 2024</td>
          <td class="govuk-table__cell statement_date">30 Sep 2024</td>
          <td class="govuk-table__cell statement_description">Unpaid child maintenance</td>
          <td class="govuk-table__cell statement_39_end">20.51</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell statement_date">19 Nov 2024</td>
          <td class="govuk-table__cell statement_date">30 Sep 2024</td>
          <td class="govuk-table__cell statement_description">Unpaid collection charges</td>
          <td class="govuk-table__cell statement_39_end">4.10</td>
        </tr>
      </tbody>
    </table> 
</div>
</div>
{% endblock %}





