{% extends "layouts/internal-service.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

      {% include "includes/back-link.html" %}
      <span class="govuk-caption-l"><a class='govuk-link' href='https://dwpdigital.atlassian.net/browse/SAE-1681'>SAE-1681</a></span>
      <h1 class="govuk-heading-l">
          Perform date
      </h1>

      <h3 class="govuk-heading-s">Page:</h3>
      <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
        <li>
          <a href="1681/ef-calculations-1">
          Maintenance calculation page &ndash; Without 'Perform date' column
        </a>
        </li>
        <li>
          <a href="1681/ef-calculations-2">
          Maintenance calculation page &ndash; With 'Perform date' column with tags
        </a>
        </li>
      </ul>

      <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}--->
    </div>
  </div>

{% endblock %}