{% extends "layouts/internal-service.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

      {% include "includes/back-link.html" %}
      <span class="govuk-caption-m govuk-!-margin-bottom-2">
        <a class='govuk-link' href='https://dwpdigital.atlassian.net/browse/SAE-2062'>SAE-2062</a>
      </span>
      <h1 class="govuk-heading-l">
          Design iteration based on UR round 21 triage for multicase
      </h1>
      <p>Design the inclussion of a multicase functionality across all pages in VPF. Explore two variants for the finance page based on the use of tab and table components.</p>

      <h2 class="govuk-heading-s">Pages and design variants:</h2>

      <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
        <li>
          <a href="multicase-case-2">
          Cases &ndash; 2 cases
        </a>
        </li>   
        <li>
          <a href="multicase-case-1">
          Cases &ndash; 1 case
        </a>
        </li>
        <li>
          <a href="multicase-finances--table-2-case">
          Finances &ndash; table &ndash; 2 cases
        </a>
        </li>
        <li>
          <a href="multicase-finances--table-1-case">
          Finances &ndash; table &ndash; 1 case
        </a>
        </li>
        <li>
          <a href="multicase-finances--combo-table-2-case">
          Finances &ndash; combo table  &ndash; 2 cases
        </a>
        </li>

        <li>
          <a href="multicase-finances--combo-table-1-case">
          Finances &ndash; combo table  &ndash; 1 cases
        </a>
        </li>
        <li>
          <a href="multicase-finances--tabs-2-case">
          Finances &ndash; tabs &ndash; 2 cases
        </a>
        </li>
        <li>
          <a href="multicase-finances--tabs-1-case">
          Finances &ndash; tabs &ndash; 1 case
        </a>
        </li>
        <li>
          <a href="multicase-statement">
          Statement</a> &ndash; add RP details inside 'Child maintenance' entries
        </li>
        <li>
          <a href="multicase-payment-allocation">
          Payment Allocation</a> &ndash; add RP details to 'Child maintenance due' entries
        </li>
        <li>
          <a href="multicase-payment-plan">
          Payment plan</a> &ndash; add ‘direct pay’ in the same month as a ‘deduction from earnings’
        </li>
        <li>
          <a href="multicase-calculation-details-2-case?reason_index=0">
          Calculations - 2 cases</a> &ndash; In the details view, keep income related sections at a PP specific level. Segregate QC level detail such as shared care down to a case/RP specific level and include a new attribute to show RP weekly liability.
        </li>
        <li>
          <a href="multicase-calculation-details-1-case?reason_index=0">
          Calculations - 1 case</a> &ndash; In the details view, keep income related sections at a PP specific level. Segregate QC level detail such as shared care down to a case/RP specific level and include a new attribute to show RP weekly liability.
        </li>
      </ul>

      <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->
    </div>
  </div>

{% endblock %}