<section class="dwp-quick-reference dwp-quick-reference--alternative" aria-label="Case information">

  <dl class="dwp-quick-reference__block">
    <div class="dwp-quick-reference__group">
      <div class="dwp-quick-reference__pair">
        <dt class="dwp-quick-reference__label govuk-visually-hidden">
          Parent name:
        </dt>
        <dd class="dwp-quick-reference__primary">
          Steven Oblonsky
        </dd>
      </div>
    </div>
    <div class="dwp-quick-reference__group">
      <div class="dwp-quick-reference__pair">
        <dt class="dwp-quick-reference__label govuk-visually-hidden">
          Case type:
        </dt>
        <dd class="dwp-quick-reference__status">
          <strong class="govuk-tag govuk-tag--turquoise">
            Paying parent
          </strong>
          <strong class="govuk-tag govuk-tag--yellow">
            Manual allocation
          </strong>
        </dd>
      </div>
    </div>
    <div class="dwp-quick-reference__group">
      <div class="dwp-quick-reference__pair">
        <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">
          Reference:
        </dt>
        <dd class="dwp-quick-reference__secondary">
          121323454232
        </dd>
      </div>

      <div class="dwp-quick-reference__pair">
        <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">
          NI number:
        </dt>
        <dd class="dwp-quick-reference__secondary">
          QQ123456C
        </dd>
      </div>
    </div>
  </dl>
</section>