


      <div class="ef-card">
        <div class="dfe-title-i8">
          <h2>Finance summary</h2>
        </div>
        <div class="ef-card-trio-v2">
          <article class="moj-ticket-panel-trio-v2" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
              <p class="govuk-body">Money still owed</p>
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£1,800.54</h2>
            </section>
            <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
              <p class="govuk-body">Payments made</p>
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£3,444.78
              </h2>
            </section>
            <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
              <p class="govuk-body">Total expected</p>
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£4,358.24</h2>
            </section>
            <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
              <p class="govuk-body">Amount written off</p>
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£0</h2>
            </section>
            <!--<section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
            <p class="govuk-body">Overpayments</p>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">25.43</h2>
          </section>-->
          </article>
        </div>
      </div>