<section class="ef-card">
  <div class="dfe-title-cash">
    <h2 id="money-still-owed">Money still owed</h2>
    <p class="govuk-!-font-size-36 govuk-!-font-weight-bold" aria-describedby="money-still-owed" style="float:right;margin-top:.7em;margin-right:.7em;">£{{ financeSummary.stillOwedTotalFinances | currency }}</p>
    <span class="govuk-caption-m">Cash balance not included</span>
  </div>
  <div class="ef-card-duo">
    <div class="moj-ticket-panel-duo">
      <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
        <h3 class="govuk-body">Child maintenance</h3>
        <p class="govuk-heading-m govuk-!-margin-bottom-2">£{{ financeSummary.stillOwedCMFinances | currency }}</p>
      </div>
      <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
        <h3 class="govuk-body">Charges and debt</h3>
        <p class="govuk-heading-m govuk-!-margin-bottom-2">£{{ financeSummary.stillOwedCDFinances | currency }}</p>
      </div>
    </div>
  </div>
</section>

<section class="ef-card">
  <div class="dfe-title-cash">
    <h2 id="payments-made">Payments made</h2>
    <p class="govuk-!-font-size-36 govuk-!-font-weight-bold" aria-describedby="payments-made" style="float:right;margin-top:.7em;margin-right:.7em;">£{{ financeSummary.totalPaidFinances | currency }}</p>
    <span class="govuk-caption-m">Includes cash balance and overpayments</span>
  </div>
  <div class="ef-card-duo">
    <div class="moj-ticket-panel-duo">
      <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
        <h3 class="govuk-body">Child maintenance</h3>
        <p class="govuk-heading-m govuk-!-margin-bottom-2">£{{ financeSummary.totalCasesPaidCM | currency }}</p>
      </div>
      <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
        <h3 class="govuk-body">Charges and debt</h3>
        <p class="govuk-heading-m govuk-!-margin-bottom-2">£{{ financeSummary.totalCasesPaidCD | currency }}</p>
      </div>
    </div>
    <div class="moj-ticket-panel-duo" style="padding-top: 0;" role="text">
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
                  Cash balance £{{ financeSummary.totalCasesCashBalance | currency }}
                </span>
        </summary>
        <div class="govuk-details__text">
                Money paid that cannot be allocated to child maintenance or charges yet.
              </div>
      </details>
    </div>
  </div>
</section>
<section class="ef-card">
  <div class="dfe-title-cash">
    <h2 id="overpayments">Overpayments</h2>
    <p class="govuk-!-font-size-36 govuk-!-font-weight-bold" aria-describedby="overpayments" style="float:right;margin-top:.7em;margin-right:.7em;">£{{ financeSummary.totalOverpaymentsFinances | currency }}</p>
    <span class="govuk-caption-m">Included in the payments made</span>
  </div>
  <div class="ef-card-duo">
    <div class="moj-ticket-panel-trio">
      <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
        <h3 class="govuk-body">Child maintenance</h3>
        <p class="govuk-heading-m govuk-!-margin-bottom-2">£{{ financeSummary.totalCasesOverpayments | currency }}</p>
      </div>
      <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
        <h3 class="govuk-body">Charges and debt</h3>
        <p class="govuk-heading-m govuk-!-margin-bottom-2">£{{ financeSummary.totalCasesOverpaymentsCharges | currency }}</p>
      </div>
      <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
        <h3 class="govuk-body">Cash balance</h3>
        <p class="govuk-heading-m govuk-!-margin-bottom-2">£{{ financeSummary.totalCasesCashBalance | currency }}</p>
      </div>
    </div>
  </div>
</section>

<section class="ef-card">
  <div class="dfe-title-i8">
    <h2 id="amount-written-off">Amount written off</h2>
    <p class="govuk-!-font-size-36 govuk-!-font-weight-bold" aria-describedby="amount-written-off" style="float:right;margin-top:.7em;margin-right:.7em;">£{{ financeSummary.writtenOff | currency }}</p>
  </div>
</section>
{# /////////// Total Expected Charges and debt ////////////// #}

<section class="ef-card">
  <div class="dfe-title-i8">
    <h2 id="total-expected">Total expected</h2>
    <p class="govuk-!-font-size-36 govuk-!-font-weight-bold" aria-describedby="total-expected" style="float:right;margin-top:.7em;margin-right:.7em;">£{{ financeSummary.totalExpectedFinances | currency }}</p>
  </div>
  <div class="ef-card-duo">
    <div class="moj-ticket-panel-duo" style="grid-template-columns: 47% 51%;">
      <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
        <h3 class="govuk-body">Child maintenance</h3>
        <p class="govuk-heading-m govuk-!-margin-bottom-2">£{{ financeSummary.expectedCMFinances | currency }}</p>
      </div>
      <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
        <h3 class="govuk-body">Charges and debt</h3>
        <p class="govuk-heading-m govuk-!-margin-bottom-2">£{{ financeSummary.totalExpectedCDFinances | currency }}</p>
      </div>
      </div>

    <div class="moj-ticket-panel-duo" style="grid-template-columns: 47% 51%;">

      <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">

      {# ///////// SUMMARY LIST /////////// #}

        <h4 class="govuk-heading-s">Charges and debt details</h4>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:70%">
              Collection charges
            </dt>
            <dd class="govuk-summary-list__value govuk-!-text-align-right">£{{ financeSummary.expectedCollCharges | currency }}</dd>
          </div>
          <div class="govuk-summary-list__row" style="border-bottom:none;">
            <dt class="govuk-summary-list__key">Enforcement charges</dt>
            <dd class="govuk-summary-list__value govuk-!-text-align-right">£{{ financeSummary.expectedEnforcementCharges | currency }}</dd>
          </div>
          <div class="govuk-summary-list__row govuk-!-padding-bottom-8" role="contentinfo" aria-label="Enforcement charges breakdown">
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet" style="width:100%" role="list">
                <li>£{{ financeSummary.regularDeductionOrder | currency }} Regular deduction order</li>
                <li>£{{ financeSummary.lumpSumDeductionOrder | currency }} Lump sum deduction order</li>
                <li>£{{ financeSummary.liabilityOrder | currency }} Liability order</li>
                <li class="govuk-!-margin-bottom-3">£{{ financeSummary.deductionEarningsOrder | currency }} Deduction from earnings order or request</li>
              </ul>
            </dd>
          </div>

          <div class="govuk-summary-list__row" style="border-bottom:none;">
            <dt class="govuk-summary-list__key">CSA debt</dt>
            <dd class="govuk-summary-list__value govuk-!-text-align-right">£{{ financeSummary.expectedCSADebt | currency }}</dd>
          </div>
          {# ////// CSA DEBT BREAKDOWN  //////// #}
          <div class="govuk-summary-list__row" role="contentinfo" aria-label="CSA debt breakdown">
            <dd class="govuk-summary-list__value govuk-!-width-full">
              <ul class="govuk-list govuk-list--bullet" style="width:100%" role="list">
                  {% for debt in financeSummary.expectedCSADebtBreakdown %}
                    <li>
                      £{{ debt.amount | currency }} – {{ debt.otherParent }} <span class="govuk-!-display-inline-block">{{ debt.caseId }}</span>
                    </li>
                  {% endfor %}
                <li class="govuk-!-margin-bottom-3">£{{ financeSummary.expectedCSADebtSOS | currency }} &ndash; Secretary of State</li>
              </ul>
            </dd>
          </div>
          {# ////// ENDS CSA DEBT BREAKDOWN  //////// #}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">DNA costs</dt>
            <dd class="govuk-summary-list__value govuk-!-text-align-right">£{{ financeSummary.expectedDNACost | currency }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Subject access request costs</dt>
            <dd class="govuk-summary-list__value govuk-!-text-align-right">£{{ financeSummary.expectedSubjectAccessRequestCost | currency }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Interest</dt>
            <dd class="govuk-summary-list__value govuk-!-text-align-right">£{{ financeSummary.expectedInterest | currency }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Fees</dt>
            <dd class="govuk-summary-list__value govuk-!-text-align-right">£{{ financeSummary.expectedFees | currency }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Judicial review costs</dt>
            <dd class="govuk-summary-list__value govuk-!-text-align-right">£{{ financeSummary.expectedJudRevCost | currency }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Appeal costs</dt>
            <dd class="govuk-summary-list__value govuk-!-text-align-right">£{{ financeSummary.expectedAppealCost | currency }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">CMS administration costs</dt>
            <dd class="govuk-summary-list__value govuk-!-text-align-right">£{{ financeSummary.expectedCMSAdminCost | currency }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Liability order administration costs</dt>
            <dd class="govuk-summary-list__value govuk-!-text-align-right">£{{ financeSummary.expectedLiabOrderCost | currency }}</dd>
          </div>
        </dl>

      </div>

    </div>
  </div>
</section>
{# //////////////////// #}