<section class="ef-card">
  <div class="dfe-title-cash">
    <h2 id="money-still-owed">Money still owed</h2>
    <p class="govuk-!-font-size-36 govuk-!-font-weight-bold" aria-describedby="money-still-owed" style="float:right;margin-top:.7em;margin-right:.7em;">£{{ case.stillOwedCaseTotal | currency }}</p>
    <span class="govuk-caption-m">Cash balance not included</span>
  </div>
  <div class="ef-card-duo">
    <div class="moj-ticket-panel-duo">
      <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
        <h3 class="govuk-body">Child maintenance</h3>
        <p class="govuk-heading-m govuk-!-margin-bottom-2">£{{ case.stillOwedCaseCM | currency }}</p>
      </div>
      <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
        <h3 class="govuk-body">Charges and debt</h3>
        <p class="govuk-heading-m govuk-!-margin-bottom-2">£{{ case.stillOwedCaseCD | currency }}</p>
      </div>
    </div>
  </div>
</section>

<section class="ef-card">
  <div class="dfe-title-cash">
    <h2 id="overpayments">Overpayments</h2>
    <p class="govuk-!-font-size-36 govuk-!-font-weight-bold" aria-describedby="overpayments" style="float:right;margin-top:.7em;margin-right:.7em;">£{{ case.caseOverpayments | currency }}</p>
    <span class="govuk-caption-m">Included in the payments made</span>
  </div>
  <div class="ef-card-duo">
    <div class="moj-ticket-panel-trio">
      <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
        <h3 class="govuk-body">Child maintenance</h3>
        <p class="govuk-heading-m govuk-!-margin-bottom-2">£{{ case.caseOverpayments | currency }}</p>
      </div>
      <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
        <h3 class="govuk-body">Cash balance</h3>
        <p class="govuk-heading-m govuk-!-margin-bottom-2">£{{ case.cashBalance | currency }}</p>
      </div>
    </div>
  </div>
</section>

<section class="ef-card">
  <div class="dfe-title-cash">
    <h2 id="payments-made">Payments made</h2>
    <p class="govuk-!-font-size-36 govuk-!-font-weight-bold" aria-describedby="payments-made" style="float:right;margin-top:.7em;margin-right:.7em;">£{{ case.child_maintenance_paid | currency }}</p>
    <span class="govuk-caption-m">Includes cash balance and overpayments</span>
  </div>
  <div class="ef-card-duo">
    <div class="moj-ticket-panel-duo">
      <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
        <h3 class="govuk-body">Child maintenance</h3>
        <p class="govuk-heading-m govuk-!-margin-bottom-2">£{{ case.child_maintenance_paid | currency }}</p>
      </div>
    </div>
    <div class="moj-ticket-panel-duo" style="padding-top: 0;" role="text">
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
                  Cash balance £{{ case.cashBalance | currency }}
                </span>
        </summary>
        <div class="govuk-details__text">
                Money paid that cannot be allocated to child maintenance or charges yet.
              </div>
      </details>
    </div>
  </div>
</section>

{# <section class="ef-card">
  <div class="dfe-title-i8">
    <h2 id="amount-written-off">Amount written off</h2>
    <p class="govuk-!-font-size-36 govuk-!-font-weight-bold" aria-describedby="amount-written-off" style="float:right;margin-top:.7em;margin-right:.7em;">£0.00</p>
  </div>
</section> #}
{# /////////// Total Expected Charges and debt ////////////// #}

<section class="ef-card">
  <div class="dfe-title-i8">
    <h2 id="total-expected">Total expected</h2>
    <p class="govuk-!-font-size-36 govuk-!-font-weight-bold" aria-describedby="total-expected" style="float:right;margin-top:.7em;margin-right:.7em;">£{{ case.allocatedExpectedCM | currency }}</p>
  </div>
  <div class="ef-card-duo">
    <div class="moj-ticket-panel-duo" style="grid-template-columns: 47% 51%;">
      <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
        <h3 class="govuk-body">Child maintenance</h3>
        <p class="govuk-heading-m govuk-!-margin-bottom-2">£{{ case.allocatedExpectedCM | currency }}</p>
      </div>
      <div class="moj-ticket-panel__content moj-ticket-panel__content--blue">
        <h3 class="govuk-body">CSA debt included</h3>
        <p class="govuk-heading-m govuk-!-margin-bottom-2">£{{ case.expectedCSADebt | currency }}</p>
      </div>
    </div>
  </div>
</section>
{# //////////////////// #}