{% extends "layouts/internal-service.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

      {% include "includes/back-link.html" %}
      <span class="govuk-caption-m"><a class='govuk-link' href='https://dwpdigital.atlassian.net/browse/SAE-1686'>SAE-1683</a></span>
      <h1 class="govuk-heading-l">
          CQS exclusions for MC page
      </h1>
      
    <h2 class="govuk-heading-s">Description:</h2>

      <p>Page design when calculation are not available because of recent corrections.</p>

      <h2 class="govuk-heading-s">Designs:</h2>
      <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
        <li>
          <a href="maintenance-calculation-unavailable-moj">
          MoJ -- Maintenance Calculation -- Calculations that have been corrected
        </a>
        </li>
        <li>
          <a href="maintenance-calculation-unavailable-govuk">
          GOVUK -- Maintenance Calculation -- Calculations that have been corrected
        </a>
        </li>
      </ul>

      <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
    </div>
  </div>

{% endblock %}