{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h3 class="govuk-heading-s">Latest sprint-iteration &mdash; September 2025</h3>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a href="sprint-development/sept-2025/ef-finances.html">
          Finances
        </a>
      </li>
      <li>
        <a href="sprint-development/sept-2025/ef-statements.html">
          Statements
        </a>
      </li>
      <li>
        <a href="sprint-development/sept-2025/ef-payment-allocation.html">
          Payment allocations
        </a>
      </li>
      <li>
        <a href="sprint-development/sept-2025/ef-payment-plan.html">
          Payment plans
        </a>
      </li>
      <li>
        <a href="sprint-development/sept-2025/ef-case-information.html">
          Case
        </a>
      </li>
      <li>
        <a href="sprint-development/sept-2025/ef-contact-summary.html">
          CMS 2012 Contact summary
        </a>
      </li>
    </ul>

    <h3 class="govuk-heading-s">New features in progress</h3>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a href="sprint-development/maintenance-calcs/ef-calculations-1.html">
          Maintenance calculations 1
        </a>
      </li>
      <li>
        <a href="sprint-development/maintenance-calcs/ef-calculations-2.html">
          Maintenance calculations 2 &ndash; perform date column
        </a>
      </li>
      <li>
        <a href="sprint-development/maintenance-calcs/ef-calculations-3.html">
          Maintenance calculations 3 &ndash; suffix "(adjusted)"
        </a>
      </li>
      <li>
        <a href="sprint-development/maintenance-calcs/ef-calculations-4.html">
          Maintenance calculations 4 &ndash; tag "adjusted"
        </a>
      </li>
      <li>
        <a href="sprint-development/maintenance-calcs/ef-calculations-5.html">
          Maintenance calculations 5 &ndash; visual marker
        </a>
      </li>
      <li>
        <a href="sprint-development/service-unavailable/service-unavailable">
          Service unavailable
        </a>
      </li>
      <li>
        <a href="sprint-development/multicase/multicase-finances">
          Multicase finances
        </a>
      </li>
    </ul>
    <h3 class="govuk-heading-s">UR round-latest</h3>

    <p>
      <a href="UR rounds/round-12/ef-contact-summary.html">
        round-12 &mdash; March 2025
      </a>
    </p>

    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-7">
    <p class="govuk-!-margin-top-3">
      <a class="govuk-link" href="archive/index">
        Archived history
      </a>
    </p>
    <hr class="govuk-section-break govuk-section-break--visible">
    <!--<p>
  <a href="access/ef-v1-sign-in.html">
      Access via web browser
  </a>
</p>-->

    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}--->
  </div>
</div>

{% endblock %}