{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    <h3>Iteration 4</h3>
    <p>
    <a href="versionOne/ef-v1-caseoverview-wholecase.html">
        Design iteration 4 : Version 1
    </a>
</p>
<p>
  <a href="versionTwo/ef-v2-timeframe.html">
    Design iteration 4 : Version 2
  </a>
</p>
<h3>Iteration 5</h3>
<p>
  <a href="iterationFive/v1/ef-v5-caseoverview-wholecase.html">
      Design iteration 5 : Version 1
  </a>
</p>
<p>
  <a href="iterationFive/v2/ef-v5-caseoverview-wholecase.html">
      Design iteration 5 : Version 2
  </a>
</p>
<h3>Iteration 6</h3>
<p>
  <a href="iterationSix/ef-v6-caseoverview-wholecase.html">
      Design iteration 6 
  </a>
</p>
<h3>Iteration 7</h3>
<p>
  <a href="iterationSeven/v1/ef-v7-caseinformation.html">
      Design iteration 7 : Version 1
  </a>
</p>
<p>
  <a href="iterationSeven/v2/ef-v7-caseinformation.html">
      Design iteration 7 : Version 2
  </a>
</p>
<h3>Iteration 8</h3>
<p>
  <a href="iterationEight/v1/ef-finances.html">
      Design iteration 8
  </a>
</p>
<h3>Iteration 9</h3>
<p>
  <a href="iterationNine/refunds/ef-finances.html">
      Design iteration 9
  </a>
</p>
<h3>Sprint developments</h3>
<p>
  <a href="sprintDevelopment/sprint 37/ef-finances.html">
      Sprint 37
  </a>
</p>
<p>
  <a href="sprintDevelopment/sprint 38/ef-finances.html">
      Sprint 38
  </a>
</p>
<h3>UR Round</h3>
<p>
  <a href="mvp/refunds/ef-finances.html">
      Round 9
  </a>
</p>
<p>
  <a href="UR rounds/Round 10/ef-ContactSummary.html">
      Round 10
  </a>
  </p>
  <p>
  <a href="UR rounds/Round 10/Multiple payments/ef-paymentplan.html">
    Multiple methods of payment
</a>
</p>
<!--<h3>MVP</h3>
<p>
  <a href="mvp/change-of-circumstances/ef-finances.html">
      MVP scenario 1 : Change of circumstances
  </a>
</p>
<p>
  <a href="mvp/no-payments/ef-finances.html">
      MVP scenario 2 : No payments
  </a>
</p>
<p>
  <a href="mvp/dnsps/ef-finances.html">
      MVP scenario 3 : DNSPs
  </a>
</p>
<p>
  <a href="mvp/refunds/ef-finances.html">
      MVP scenario 4 : Refunds
  </a>
</p>-->
<h3>How do you find our service?</h3>
<p>
  <a href="access/ef-v1-signIn.html">
      CMS 2012 to browser window
  </a>
</p>
<!--<p>
  <a href="access/ef-v1-signIn.html">
      Access via web browser
  </a>
</p>-->
<p>
  <a href="access/ef-v1-CMS_contactSummary.html">
      CMS 2012 : Contact summary to browser window
  </a>
</p>
<!--<p>
  <a href="access/ef-v1-CMS.html">
      Access via CMS 2012 : Contact summary (Modal)
  </a>
</p>-->
<!--<p>
  <a href="access/cmshomepage/cms-homepage-access">
      Access via CMS 2012 : Homepage
  </a>
</p>-->

   <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}--->
  </div>
</div>

{% endblock %}
