{# ========= Money still owed =============== #}
<div class="ef-card">
  <div class="dfe-title-cash">
    <h2 class="govuk-heading-m">Money still owed</h2>
    <h2 class="value">£3,268.78</h2>
    <span class="govuk-caption-m">Cash balance not included</span>
    <dl class="govuk-summary-list">
      <div style="display: inline-table; width: 47%; float: right; margin-right: 1.2em;">
        <div class="govuk-summary-list__row" style="text-align: left;">
          <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
            {{ rp1|safe }}
          </dt>
          <dd class="govuk-summary-list__value govuk-!-text-align-right">
                  £1,267.65
                </dd>
        </div>

        <div class="govuk-summary-list__row" style="text-align: left;">
          <dt class="govuk-summary-list__key">
            {{ rp2|safe }}
          </dt>
          <dd class="govuk-summary-list__value govuk-!-text-align-right">
                  £2,001.23
                </dd>
        </div>
      </div>
    </dl>
  </div>
  {# ========== Money still owed / Child maintenance ============== #}
  <div class="ef-card-duo">
    <article class="moj-ticket-panel-duo">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Child maintenance</h2>
        <dl class="govuk-summary-list" style="margin-left: 1.2em;">
          <div style="display: inline-table; width: 100%; float: right; margin-right: 1.2em;">
            <div class="govuk-summary-list__row" style="text-align: left;">
              <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                  Total
                </dt>
              <dd class="govuk-summary-list__value govuk-!-text-align-right">
                <strong>£2,683.46</strong>
              </dd>
            </div>
            <div class="govuk-summary-list__row" style="text-align: left;">
              <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                {{ rp1|safe }}
              </dt>
              <dd class="govuk-summary-list__value govuk-!-text-align-right">
                  £1,007.12
                </dd>
            </div>
            <div class="govuk-summary-list__row" style="text-align: left;">
              <dt class="govuk-summary-list__key">
                {{ rp2|safe }}
              </dt>
              <dd class="govuk-summary-list__value govuk-!-text-align-right">
                  £1,676.34
                </dd>
            </div>
          </div>
        </dl>
      </section>
      {# ========== Money still owed / Charges and debt ============== #}
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Charges and debt</h2>
        <dl class="govuk-summary-list" style="margin-left: 1.2em;">
          <div style="display: inline-table; width: 100%; float: right; margin-right: 1.2em;">

            <div class="govuk-summary-list__row" style="text-align: left;">
              <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                  Total
                </dt>
              <dd class="govuk-summary-list__value govuk-!-text-align-right">
                <strong>£300.00</strong>
              </dd>
            </div>
            <div class="govuk-summary-list__row" style="text-align: left;">
              <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                {{ rp1|safe }}
              </dt>
              <dd class="govuk-summary-list__value govuk-!-text-align-right">
                  £300.00
                </dd>
            </div>

            <div class="govuk-summary-list__row" style="text-align: left;">
              <dt class="govuk-summary-list__key">
                {{ rp2|safe }}
              </dt>
              <dd class="govuk-summary-list__value govuk-!-text-align-right">
                  £0.00
                </dd>
            </div>
          </div>
        </dl>
      </section>
    </article>
  </div>
</div>

{# ========== Payments made ============== #}
<div class="ef-card">
  <div class="dfe-title-cash">
    <h2>Payments made</h2>
    <h2 class="value">£7,564.20</h2>
    <span class="govuk-caption-m">Includes cash balance and overpayments</span>
    <dl class="govuk-summary-list">
      <div style="display: inline-table; width: 47%; float: right; margin-right: 1.2em;">
        <div class="govuk-summary-list__row" style="text-align: left;">
          <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
            {{ rp1|safe }}
          </dt>
          <dd class="govuk-summary-list__value govuk-!-text-align-right">
                  £5,267.65
                </dd>
        </div>

        <div class="govuk-summary-list__row" style="text-align: left;">
          <dt class="govuk-summary-list__key">
            {{ rp2|safe }}
          </dt>
          <dd class="govuk-summary-list__value govuk-!-text-align-right">
                  £2,296.55
                </dd>
        </div>
      </div>
    </dl>
  </div>
  {# ========== Child maintenance ============== #}
  <div class="ef-card-duo">
    <article class="moj-ticket-panel-duo">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Child maintenance</h2>
        <dl class="govuk-summary-list" style="margin-left: 1.2em;">
          <div style="display: inline-table; width: 100%; float: right; margin-right: 1.2em;">
            <div class="govuk-summary-list__row" style="text-align: left;">
              <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                  Total
                </dt>
              <dd class="govuk-summary-list__value govuk-!-text-align-right">
                  £7,387.06
                </dd>
            </div>
            <div class="govuk-summary-list__row" style="text-align: left;">
              <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                {{ rp1|safe }}
              </dt>
              <dd class="govuk-summary-list__value govuk-!-text-align-right">
                  £1,267.65
                </dd>
            </div>

            <div class="govuk-summary-list__row" style="text-align: left;">
              <dt class="govuk-summary-list__key">
                {{ rp2|safe }}
              </dt>
              <dd class="govuk-summary-list__value govuk-!-text-align-right">
                  £2,001.23
                </dd>
            </div>
          </div>
        </dl>
      </section>
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Charges and debt</h2>

        <dl class="govuk-summary-list" style="margin-left: 1.2em;">
          <div style="display: inline-table; width: 100%; float: right; margin-right: 1.2em;">
            <div class="govuk-summary-list__row" style="text-align: left;">
              <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                  Total
                </dt>
              <dd class="govuk-summary-list__value govuk-!-text-align-right">
                  £76.91
                </dd>
            </div>
            <div class="govuk-summary-list__row" style="text-align: left;">
              <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                {{ rp1|safe }}
              </dt>
              <dd class="govuk-summary-list__value govuk-!-text-align-right">
                  £1,267.65
                </dd>
            </div>

            <div class="govuk-summary-list__row" style="text-align: left;">
              <dt class="govuk-summary-list__key">
                {{ rp2|safe }}
              </dt>
              <dd class="govuk-summary-list__value govuk-!-text-align-right">
                  £2,001.23
                </dd>
            </div>
          </div>
        </dl>
      </section>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
                Cash balance £330.61
              </span>
        </summary>
        <div class="govuk-details__text">
              Money paid that cannot be allocated to child maintenance or charges yet.
            </div>
      </details>
    </article>
  </div>
</div>

{# ======== Amount written off ========== #}
<div class="ef-card">
  <div class="dfe-title-i8">
    <h2>Amount written off</h2>
    <h2 class="value">£0.00</h2>
    <dl class="govuk-summary-list">
      <div style="display: inline-table; width: 47%; float: right; margin-right: 1.2em;">
        <div class="govuk-summary-list__row" style="text-align: left;">
          <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
            {{ rp1|safe }}
          </dt>
          <dd class="govuk-summary-list__value govuk-!-text-align-right">
                  £0.00
                </dd>
        </div>

        <div class="govuk-summary-list__row" style="text-align: left;">
          <dt class="govuk-summary-list__key">
            {{ rp2|safe }}
          </dt>
          <dd class="govuk-summary-list__value govuk-!-text-align-right">
                  £0.00
                </dd>
        </div>
      </div>
    </dl>
  </div>
</div>

{# ======== Total expected ============ #}
<div class="ef-card">
  <div class="dfe-title-cash">
    <h2>Total expected</h2>
    <h2 class="value">£10,732.75</h2>
    <dl class="govuk-summary-list">
      <div style="display: inline-table; width: 47%; float: right; margin-right: 1.2em;">
        <div class="govuk-summary-list__row" style="text-align: left;">
          <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
            {{ rp1|safe }}
          </dt>
          <dd class="govuk-summary-list__value govuk-!-text-align-right">
                              £1,267.65
                            </dd>
        </div>

        <div class="govuk-summary-list__row" style="text-align: left;">
          <dt class="govuk-summary-list__key">
            {{ rp2|safe }}
          </dt>
          <dd class="govuk-summary-list__value govuk-!-text-align-right">
                              £2,001.23
                            </dd>
        </div>
      </div>
    </dl>
  </div>

  {# ======================== #}
  <div class="ef-card-duo">
    <article class="moj-ticket-panel-duo" style="display:flex; flex-direction:column;">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1" style="width:50%">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Child maintenance</h2>
        <dl class="govuk-summary-list" style="margin-left: 1.2em;">
          <div style="display: inline-table; width: 100%; float: right; margin-right: 1.2em;">
            <div class="govuk-summary-list__row" style="text-align: left;">
              <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                                  Total
                                </dt>
              <dd class="govuk-summary-list__value govuk-!-text-align-right">
                                  £10,070.52
                                </dd>
            </div>
            <div class="govuk-summary-list__row" style="text-align: left;">
              <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                {{ rp1|safe }}
              </dt>
              <dd class="govuk-summary-list__value govuk-!-text-align-right">
                                  £1,267.65
                                </dd>
            </div>

            <div class="govuk-summary-list__row" style="text-align: left;">
              <dt class="govuk-summary-list__key">
                {{ rp2|safe }}
              </dt>
              <dd class="govuk-summary-list__value govuk-!-text-align-right">
                                  £2,001.23
                                </dd>
            </div>
          </div>
        </dl>
      </section>

      {# //////// TABLE  /////////// #}

      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 2" style="display: inline-table;">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Charges and debt</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header ">Breakdown</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">{{ rp1|safe }}</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">{{ rp2|safe }}</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Collection charges</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£3,334.45</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£3,334.45</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£1,124.33</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Enforcement charges</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£3,334.45</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£350.00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£55</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Enforcement costs</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£3,334.45</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£160.00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£125</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">CSA debt</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£3,334.45</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£63.45</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£125</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">DNA costs</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£3,334.45</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£87.23</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£125</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Subject access request costs</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£3,334.45</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£19.00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£125</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Interest</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£3,334.45</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£30.67</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£125</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Fees</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£3,334.45</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£22.87</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£125</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Judicial review costs</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£3,334.45</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£107.89</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£125</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Appeal costs</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£3,334.45</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£43.45</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£125</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">CMS administration costs</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£3,334.45</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£26.89</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£125</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Liability order administration costs</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£3,334.45</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£54.00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£125</td>
            </tr>
          </tbody>
        </table>

      </section>
    </article>
  </div>
</div>