{% extends "layouts/main.html" %}

{% block pageTitle %}
  Statement – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block header %}
  <script>
    new MOJFrontend.FilterToggleButton({
  bigModeMediaQuery: '(min-width: 48.063em)',
  startHidden: true,
  toggleButton: {
    container: document.querySelector('.moj-action-bar__filter'),
    showText: 'Show filter',
    hideText: 'Hide filter',
    classes: 'govuk-button--secondary'
  },
  closeButton: {
    container: document.querySelector('.moj-filter__header-action'),
    text: 'Close'
  },
  filter: {
    container: document.querySelector('.moj-filter')
  }
})
  </script>

  <!-- Blank header with no service name for the start page -->
  <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui@5.0.2/dist/css/coreui.min.css" rel="stylesheet" integrity="sha384-39e9UaGkm/+yp6spIsVfzcs3j7ac7G2cg0hzmDvtG11pT1d7YMnOC26w4wMPhzsL" crossorigin="anonymous">
  <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/@ukic/fonts/dist/fonts.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/@ukic/web-components/dist/core/core.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/@ukic/web-components/dist/core/normalize.css"
      crossorigin="anonymous"
    />
  {% from "internal-service-header/macro.njk" import dwpHeader %}

  <header>
    <div class="dwp-header govuk-header hmrc-header hmrc-header--with-additional-navigation " data-module="govuk-header">
      <div class="govuk-header__container govuk-width-container ">
        <div class="govuk-header__content">
          <a href="/index.html" class="govuk-header__link govuk-header__service-name">
            View parent finances
          </a>
        </div>
        <!--<nav class="hmrc-sign-out-nav">
            <a class="govuk-link hmrc-sign-out-nav__link" href="#">Close</a>
          </nav>-->
  </div>
    </div>
  </header>

  

{% endblock %}

{% block content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.
    </span>
  </p>
</div>

<section class="dwp-quick-reference dwp-quick-reference--alternative" aria-label="Case information">
  <dl class="dwp-quick-reference__block">
  <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
  <dd class="dwp-quick-reference__primary">Steven Oblonsky</dd>
  <dd class="dwp-quick-reference__status">
    <strong class="govuk-tag govuk-tag--turquoise">
      Paying parent
    </strong>
    <strong class="govuk-tag govuk-tag--blue">
      Single case
    </strong>
  </dd>
  <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">Reference:</dt>
  <dd class="dwp-quick-reference__secondary">121323454232</dd>
  <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">NI number:</dt>
  <dd class="dwp-quick-reference__secondary">QQ123456C</dd>
  </dl>
</section>

  <div class="moj-primary-navigation">
    <div class="moj-primary-navigation__container">
      <div class="moj-primary-navigation__nav">
        <nav class="moj-primary-navigation" aria-label="Primary navigation">
          <ul class="moj-primary-navigation__list">
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-finances.html">Finances</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="page"  href="#">Statement</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-paymentplan.html">Payment plans</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="ef-caseinformation.html">Case</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

<h1 class="govuk-heading-xltwo">
  Statement
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="dateRange">
      <span class="dateRange__text">
        From the case effective date <strong>8 December 2014</strong> to <strong>20 November 2024</strong>.
       </span>
     </p>
  </div>

  <!-- START -->
  <div class="govuk-grid-column-full">
    <div class="moj-filter-layout">
      <div class="moj-filter-layout__filter">
        <div class="moj-filter">
          <div class="moj-filter__header">
            <div class="moj-filter__header-title">
              <h2 class="govuk-heading-m">Filter</h2>
            </div>
            <div class="moj-filter__header-action">
            </div>
          </div>
    
          <div class="moj-filter__content">
            <div class="moj-filter__selected">
              <div class="moj-filter__selected-heading">
                <div class="moj-filter__heading-title">
                  <h2 class="govuk-heading-m">Selected filters</h2>
                </div>
                <div class="moj-filter__heading-action">
                  <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
                </div>
              </div>
    
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Colour</h3>
    
              <ul class="moj-filter-tags">
                <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Blue</a></li>
                <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Yellow</a></li>
              </ul>
    
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Status</h3>
    
              <ul class="moj-filter-tags">
                <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Complete</a></li>
              </ul>
            </div>
    
            <div class="moj-filter__options">
    
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Apply filters
              </button>
    
              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="keywords">
                  Keywords
                </label>
    
                <input class="govuk-input" id="keywords" name="keywords" type="text">
    
              </div>
    
              <div class="govuk-form-group">
    
                <fieldset class="govuk-fieldset">
    
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    
                    Colour
    
                  </legend>
    
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
    
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="type">
                        Blue (18)
                      </label>
    
                    </div>
    
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="type-2">
                        Yellow (5)
                      </label>
    
                    </div>
    
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                      <label class="govuk-label govuk-checkboxes__label" for="type-3">
                        Red (2)
                      </label>
    
                    </div>
    
                  </div>
    
                </fieldset>
    
              </div>
    
              <div class="govuk-form-group">
    
                <fieldset class="govuk-fieldset">
    
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    
                    Status
    
                  </legend>
    
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
    
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="1" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="status">
                        Complete (5)
                      </label>
    
                    </div>
    
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="2">
                      <label class="govuk-label govuk-checkboxes__label" for="status-2">
                        Incomplete (3)
                      </label>
    
                    </div>
    
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="3">
                      <label class="govuk-label govuk-checkboxes__label" for="status-3">
                        In progress (13)
                      </label>
    
                    </div>
    
                  </div>
    
                </fieldset>
    
              </div>
    
            </div>
    
          </div>
    
        </div>
    
      </div>
    
      <div class="moj-filter-layout__content">
    
        <div class="moj-action-bar">
    
          <div class="moj-action-bar__filter"></div>
    
          <div class="moj-button-menu" data-module="moj-button-menu">
    
            <button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary govuk-button--secondary" data-module="govuk-button">
              Action 1
            </button>
    
            <button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary govuk-button--secondary govuk-button--secondary" data-module="govuk-button">
              Action 2
            </button>
    
          </div>
    
        </div>
    
        <div class="moj-scrollable-pane">
          <table class="govuk-table">
    
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
    
                <th scope="col" class="govuk-table__header">Reference</th>
    
                <th scope="col" class="govuk-table__header">Person</th>
    
                <th scope="col" class="govuk-table__header">Colour</th>
    
                <th scope="col" class="govuk-table__header">Status</th>
    
                <th scope="col" class="govuk-table__header">Date of last event</th>
    
              </tr>
            </thead>
    
            <tbody class="govuk-table__body">
    
              <tr class="govuk-table__row">
    
                <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">44455453</a></th>
    
                <td class="govuk-table__cell">John Smith</td>
    
                <td class="govuk-table__cell">Blue</td>
    
                <td class="govuk-table__cell">Complete</td>
    
                <td class="govuk-table__cell">25 Jan 2018</td>
    
              </tr>
    
              <tr class="govuk-table__row">
    
                <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">12323212</a></th>
    
                <td class="govuk-table__cell">Warren Sutton</td>
    
                <td class="govuk-table__cell">Yellow</td>
    
                <td class="govuk-table__cell">In progress</td>
    
                <td class="govuk-table__cell">25 Jan 2018</td>
    
              </tr>
    
              <tr class="govuk-table__row">
    
                <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">45678765</a></th>
    
                <td class="govuk-table__cell">Alan Jones</td>
    
                <td class="govuk-table__cell">Yellow</td>
    
                <td class="govuk-table__cell">In progress</td>
    
                <td class="govuk-table__cell">9 May 2018</td>
    
              </tr>
    
              <tr class="govuk-table__row">
    
                <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">12345678</a></th>
    
                <td class="govuk-table__cell">Jennifer Langley</td>
    
                <td class="govuk-table__cell">Yellow</td>
    
                <td class="govuk-table__cell">In progress</td>
    
                <td class="govuk-table__cell">9 May 2018</td>
    
              </tr>
    
              <tr class="govuk-table__row">
    
                <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">89009800</a></th>
    
                <td class="govuk-table__cell">Susan Francis</td>
    
                <td class="govuk-table__cell">Red</td>
    
                <td class="govuk-table__cell">Incomplete</td>
    
                <td class="govuk-table__cell">9 May 2018</td>
    
              </tr>
    
              <tr class="govuk-table__row">
    
                <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">44455453</a></th>
    
                <td class="govuk-table__cell">John Smith</td>
    
                <td class="govuk-table__cell">Blue</td>
    
                <td class="govuk-table__cell">Complete</td>
    
                <td class="govuk-table__cell">25 Jan 2018</td>
    
              </tr>
    
              <tr class="govuk-table__row">
    
                <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">12323212</a></th>
    
                <td class="govuk-table__cell">Warren Sutton</td>
    
                <td class="govuk-table__cell">Yellow</td>
    
                <td class="govuk-table__cell">In progress</td>
    
                <td class="govuk-table__cell">25 Jan 2018</td>
    
              </tr>
    
              <tr class="govuk-table__row">
    
                <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">45678765</a></th>
    
                <td class="govuk-table__cell">Alan Jones</td>
    
                <td class="govuk-table__cell">Yellow</td>
    
                <td class="govuk-table__cell">In progress</td>
    
                <td class="govuk-table__cell">9 May 2018</td>
    
              </tr>
    
              <tr class="govuk-table__row">
    
                <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">12345678</a></th>
    
                <td class="govuk-table__cell">Jennifer Langley</td>
    
                <td class="govuk-table__cell">Yellow</td>
    
                <td class="govuk-table__cell">In progress</td>
    
                <td class="govuk-table__cell">9 May 2018</td>
    
              </tr>
    
              <tr class="govuk-table__row">
    
                <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">89009800</a></th>
    
                <td class="govuk-table__cell">Susan Francis</td>
    
                <td class="govuk-table__cell">Red</td>
    
                <td class="govuk-table__cell">Incomplete</td>
    
                <td class="govuk-table__cell">9 May 2018</td>
    
              </tr>
    
              <tr class="govuk-table__row">
    
                <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">45456765</a></th>
    
                <td class="govuk-table__cell">John Smith</td>
    
                <td class="govuk-table__cell">Red</td>
    
                <td class="govuk-table__cell">Incomplete</td>
    
                <td class="govuk-table__cell">9 May 2018</td>
    
              </tr>
    
              <tr class="govuk-table__row">
    
                <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">88675411</a></th>
    
                <td class="govuk-table__cell">Margaret Blake</td>
    
                <td class="govuk-table__cell">Red</td>
    
                <td class="govuk-table__cell">Incomplete</td>
    
                <td class="govuk-table__cell">9 May 2018</td>
    
              </tr>
    
              <tr class="govuk-table__row">
    
                <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">44455453</a></th>
    
                <td class="govuk-table__cell">John Smith</td>
    
                <td class="govuk-table__cell">Blue</td>
    
                <td class="govuk-table__cell">Complete</td>
    
                <td class="govuk-table__cell">25 Jan 2018</td>
    
              </tr>
    
              <tr class="govuk-table__row">
    
                <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">12323212</a></th>
    
                <td class="govuk-table__cell">Warren Sutton</td>
    
                <td class="govuk-table__cell">Yellow</td>
    
                <td class="govuk-table__cell">In progress</td>
    
                <td class="govuk-table__cell">25 Jan 2018</td>
    
              </tr>
    
              <tr class="govuk-table__row">
    
                <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">45678765</a></th>
    
                <td class="govuk-table__cell">Alan Jones</td>
    
                <td class="govuk-table__cell">Yellow</td>
    
                <td class="govuk-table__cell">In progress</td>
    
                <td class="govuk-table__cell">9 May 2018</td>
    
              </tr>
    
              <tr class="govuk-table__row">
    
                <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">12345678</a></th>
    
                <td class="govuk-table__cell">Jennifer Langley</td>
    
                <td class="govuk-table__cell">Yellow</td>
    
                <td class="govuk-table__cell">In progress</td>
    
                <td class="govuk-table__cell">9 May 2018</td>
    
              </tr>
    
            </tbody>
          </table>
    
        </div>
      </div>
    


  </div>

 <!-- END -->

  <div class="govuk-grid-column-full">
    <div class="ef-card">
      <div class="dfe-title-i8">
        <h2>Finance summary</h2>
      </div>
      <div class="ef-card-trio-v2">
        <article class="moj-ticket-panel-trio-v2" aria-label="Sub navigation 1">
          <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
            <p class="govuk-body">Money still owed</p>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£307.58</h2>
          </section>
          <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
            <p class="govuk-body">Payments made</p>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£1,597.92</h2>
          </section>
          <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
            <p class="govuk-body">Total expected</p>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£1,905.49</h2>
          </section>
        </article>
      </div>
    </div>

    <!-- 2024-->
    <h3 class="govuk-notification-banner__heading">
      2024
     </h3>
     <table class="govuk-table">
       <thead class="govuk-table__head">
         <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header">Date</th>
           <th scope="col" class="govuk-table__header">Description</th>
           <th scope="col" class="govuk-table__header numerical">Credit (£)</th>
           <th scope="col" class="govuk-table__header numerical">Debit (£)</th>
           <th scope="col" class="govuk-table__header statement_end">Balance (£)</th>
         </tr>
       </thead>
       <tbody class="govuk-table__body">
         <tr class="govuk-table__row">
           <td class="govuk-table__cell statement_date">22 Nov 2024</td>
           <td class="govuk-table__cell statement_description">Collect and pay fee added</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_amount">14.57</td>
           <td class="govuk-table__cell statement_end">-307.57</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">22 Nov 2024</td>
           <td class="govuk-table__cell_last">Child maintenance due </td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_amount">72.54</td>
           <td class="govuk-table__cell statement_end">-293.00</td>
           
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">19 Nov 2024</td>
           <td class="govuk-table__cell_last">Payment received from you - DDR</td>
           <td class="govuk-table__cell statement_amount"><a class="govuk-link" href="paymentallocation/ef-pb-19 Nov 24.html">24.61</a></td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_end">-220.46</td>
           
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">9 Nov 2024</td>
           <td class="govuk-table__cell_last">Payment received from you - DDR</td>
           <td class="govuk-table__cell statement_amount"><a class="govuk-link" href="paymentallocation/ef-pb-9 Nov 24.html">73.84</a></td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_end">-245.07</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">22 Oct 2024</td>
           <td class="govuk-table__cell_last">Collect and pay fee added</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_amount">10.81</td>
           <td class="govuk-table__cell statement_end">-318.91</td>
           
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">22 Oct 2024</td>
           <td class="govuk-table__cell_last">Child maintenance due </td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_amount">53.82</td>
           <td class="govuk-table__cell statement_end">-308.10</td>
           
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">30 Sep 2024</td>
           <td class="govuk-table__cell_last">Collect and pay fee added</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_amount">3.29</td>
           <td class="govuk-table__cell statement_end">-254.28</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">30 Sep 2024</td>
           <td class="govuk-table__cell_last">Collect and pay fee added</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_amount">3.29</td>
           <td class="govuk-table__cell statement_end">-250.99</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">30 Sep 2024</td>
           <td class="govuk-table__cell_last">Collect and pay fee added</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_amount">3.29</td>
           <td class="govuk-table__cell statement_end">-247.70</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">30 Sep 2024</td>
           <td class="govuk-table__cell_last">Collect and pay fee added</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_amount">3.29</td>
           <td class="govuk-table__cell statement_end">-244.41</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">30 Sep 2024</td>
           <td class="govuk-table__cell_last">Collect and pay fee added</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_amount">3.29</td>
           <td class="govuk-table__cell statement_end">-241.12</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">30 Sep 2024</td>
           <td class="govuk-table__cell_last">Collect and pay fee added</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_amount">1.41</td>
           <td class="govuk-table__cell statement_end">-237.83</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">30 Sep 2024</td>
           <td class="govuk-table__cell_last">Collect and pay fee added</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_amount">2.04</td>
           <td class="govuk-table__cell statement_end">-236.42</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">30 Sep 2024</td>
           <td class="govuk-table__cell_last">Collect and pay fee added</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_amount">0.09</td>
           <td class="govuk-table__cell statement_end">-234.38</td> 
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">30 Sep 2024</td>
           <td class="govuk-table__cell_last">Collect and pay fee added</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_amount">3.53</td>
           <td class="govuk-table__cell statement_end">-216.64</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">30 Sep 2024</td>
           <td class="govuk-table__cell_last">Collect and pay fee added</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_amount">3.53</td>
           <td class="govuk-table__cell statement_end">-195.46</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">30 Sep 2024</td>
           <td class="govuk-table__cell_last">Collect and pay fee added</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_amount">3.53</td>
           <td class="govuk-table__cell statement_end">-174.28</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">30 Sep 2024</td>
           <td class="govuk-table__cell_last">Collect and pay fee added</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_amount">3.53</td>
           <td class="govuk-table__cell statement_end">-153.10</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">30 Sep 2024</td>
           <td class="govuk-table__cell_last">Unpaid direct pay payment</td>
           <td class="govuk-table__cell statement_amount">-88.25</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_end">-220.17</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">30 Sep 2024</td>
           <td class="govuk-table__cell_last">DEO enforcement charge due</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_amount">50.00</td>
           <td class="govuk-table__cell statement_end">-131.92</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">29 Sep 2024</td>
           <td class="govuk-table__cell_last">Child maintenance due - 3020913856</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_amount">16.38</td>
           <td class="govuk-table__cell statement_end">-81.92</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">27 Sep 2024</td>
           <td class="govuk-table__cell_last">Direct pay payment</td>
           <td class="govuk-table__cell statement_amount">17.65</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_end">-65.54</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">22 Sep 2024</td>
           <td class="govuk-table__cell_last">Child maintenance due - 3020913856</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_amount">16.38</td>
           <td class="govuk-table__cell statement_end">-83.19</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">20 Sep 2024</td>
           <td class="govuk-table__cell_last">Direct pay payment</td>
           <td class="govuk-table__cell statement_amount">17.65</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_end">-66.81</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">15 Sep 2024</td>
           <td class="govuk-table__cell_last">Child maintenance due - 3020913856</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_amount">16.38</td>
           <td class="govuk-table__cell statement_end">-84.46</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">13 Sep 2024</td>
           <td class="govuk-table__cell_last">Direct pay payment</td>
           <td class="govuk-table__cell statement_amount">17.65</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_end">-68.08</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">8 Sep 2024</td>
           <td class="govuk-table__cell_last">Child maintenance due - 3020913856</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_amount">16.38</td>
           <td class="govuk-table__cell statement_end">-85.73</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">6 Sep 2024</td>
           <td class="govuk-table__cell_last">Direct pay payment</td>
           <td class="govuk-table__cell statement_amount">17.65</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_end">-69.35</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">1 Sep 2024</td>
           <td class="govuk-table__cell_last">Child maintenance due - 3020913856</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_amount">16.38</td>
           <td class="govuk-table__cell statement_end">-87.00</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">30 Aug 2024</td>
           <td class="govuk-table__cell_last">Direct pay payment</td>
           <td class="govuk-table__cell statement_amount">17.65</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_end">-70.62</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">25 Aug 2024</td>
           <td class="govuk-table__cell_last">Child maintenance due - 3020913856</td>
           <td class="govuk-table__cell statement_amount"></td>
           <td class="govuk-table__cell statement_amount">7.02</td>
           <td class="govuk-table__cell statement_end">-88.27</td>
         </tr>
       </tbody>
     </table>

 
</div>
</div>
{% endblock %}

{% block footer %}

<footer class="enforcement-footer" role="contentinfo">
  <div class="govuk-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <h2 class="govuk-visually-hidden">Footer links</h2>
            <ul class="govuk-footer__inline-list">
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="ef-accessibility.html">
                    Accessibility statement
                  </a>
                </li>
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="#">
                    Privacy policy
                  </a>
                </li>
            </ul>

      </div>
    </div>
  </div>
</footer>

<style>
  .govuk-footer {
    display: none;
  }
  .enforcement-footer {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.1428571429;
    padding-top: 25px;
    padding-bottom: 15px;
    border-top: 1px solid #b1b4b6;
    color: #0b0c0c;
    background: #f3f2f1;
  }
  @media (min-width: 40.0625em) {
    .enforcement-footer {
        padding-bottom: 25px;
    }
}
@media (min-width: 40.0625em) {
    .enforcement-footer {
        padding-top: 40px;
    }
}

@media (min-width: 40.0625em) {
    .enforcement-footer {
        font-size: 1rem;
        line-height: 1.25;
    }
}
</style>


{% endblock %}



