{% extends "layouts/main.html" %}

{% block pageTitle %}
  Finances – {{ serviceName }} – GOV.UK Prototype Kit
  <script>
    const $subNavTabs = document.querySelector('[data-module="dl-subnav"]')
    const subNavTabsComponent = new DLFrontend.SubNavTabs($subNavTabs).init({})
  </script>
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
   <!-- Blank header with no service name for the start page -->
   <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui@5.0.2/dist/css/coreui.min.css" rel="stylesheet" integrity="sha384-39e9UaGkm/+yp6spIsVfzcs3j7ac7G2cg0hzmDvtG11pT1d7YMnOC26w4wMPhzsL" crossorigin="anonymous">
   <link
       rel="stylesheet"
       type="text/css"
       href="https://unpkg.com/@ukic/fonts/dist/fonts.css"
       crossorigin="anonymous"
     />
     <link
       rel="stylesheet"
       type="text/css"
       href="https://unpkg.com/@ukic/web-components/dist/core/core.css"
       crossorigin="anonymous"
     />
     <link
       rel="stylesheet"
       type="text/css"
       href="https://unpkg.com/@ukic/web-components/dist/core/normalize.css"
       crossorigin="anonymous"
     />

     <header>
      <div class="dwp-header govuk-header hmrc-header hmrc-header--with-additional-navigation " data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container ">
          <div class="govuk-header__content">
            <a href="/index.html" class="govuk-header__link govuk-header__service-name">
              View parent finances
            </a>
          </div>
          <!--<nav class="hmrc-sign-out-nav">
            <a class="govuk-link hmrc-sign-out-nav__link" href="#">Close</a>
          </nav>-->
    </div>
      </div>
    </header>

{% from "key-details-bar/macro.njk" import dwpKeyDetailsBar %}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/form-handler" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-heading-xl">
                  Give feedback on View parent finances
                </h1>
              </legend>
              <h1 class="govuk-heading-l">
                Satisfaction survey
                </h1>
                <h2 class="govuk-summary-card__title">
                  Overall, how did you feel about the service you used today?
                </h2>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                    Very satisfied
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                    Satisfied
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
                    Neither satisfied or dissatisfied
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                    Dissatisfied
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                    Very dissatisfied
                  </label>
                </div>
              </div>

              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label--l" for="more-detail">
                    How could we improve this service?
                  </label>
                </h1>
                <div id="more-detail-hint" class="govuk-hint">
                  Do not include any of the parent's personal or financial information, for example their national Insurance number or child maintenance payments.
                </div>
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
              </div>

              <h2 class="govuk-summary-card__title">
                Would you be willing to take part in user research?
              </h2>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  No
                </label>
              </div>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="email">
                Email address
              </label>
              <div id="email-hint" class="govuk-hint">
                We will only use this to contact you about research for View parent finances.
              </div>
              <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
            </div>
            
            </fieldset>
          </div>

          <a href="ef-feedbackConfirmation.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Send feedback
          </a>

        </form>
      </div>
    </div>
  </main>
</div>






{% endblock %}
